[2018-01-14 23:11] dghubble commented on #2100
CT should be updated for the Ignition v2.1.0 spec and Matchbox v0.7.0 (vendors CT v0.5.0) now renders Ignition at the v2.1.0 spec as well, if you've had a chance to try those.

[2018-01-16 08:15] #2315 closed

[2018-01-16 17:44] lukasz-bielinski commented on #2213
@bgilbert as k8s are supporting scaleio, and coreos is supporting k8s i believe it would be nice move to include libnuma in coreos

if it's not possible, please advise how to resolve this issue :)

[code]

[2018-01-16 17:53] megastallman commented on #1862
Hi everyone!
There is much discussion about microcode bundling, but at the moment CoreOS has no microcode bundled at all. That is a reason why I had to disable hyperthreading on our Dell Poweredge-430 servers, which have been rebooting once a couple of days, keeping our cluster unusable. The BIOS and iDRAC firmware are the latest for now. Centos 7 has proven to work on these machines, containing t

[2018-01-16 17:57] ajeddeloh commented on #1862
We're currently working on adding microcode support and expect to ship it in the next alpha.

[2018-01-16 17:59] redbaron commented on #1862
@megastallman , you can add microcode support yourself with instructions above

[2018-01-16 18:02] megastallman commented on #1862
@ajeddeloh @redbaron
Thanks!

[2018-01-16 20:06] sdemos commented on #2247
@Sebmaster hey! sorry this took so long, but we've released a new version of ct with the fix to this issue. The windows builds are attached to the release. I'm going to go ahead and close this issue, but if you find that it's not fixed, please feel free to open this again to let us know.

[2018-01-16 20:06] #2247 closed

[2018-01-16 20:25] glevand commented on #2213
@euank It seems if something breaks the kernel ABI the thing to do would be to get that ABI breakage fixed.
@callmegar @lukasz-bielinski Why would libnuma need to have a different usage than any other library a program would use, say libc for example?

[2018-01-16 21:18] lukasz-bielinski commented on #2213
@glevand

`cat /etc/os-release
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1576.5.0
VERSION_ID=1576.5.0
BUILD_ID=2018-01-05-1121
PRETTY_NAME="Container Linux by CoreOS 1576.5.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://issues.coreos.com"
COREOS_BOARD="amd64-usr"
192 pulse # ldd /usr/share/oem/bin/emc/scaleio/drv_cfg
	linux-vdso.so.1 (0x00007ffd0e

[2018-01-16 22:04] glevand commented on #2213
@lukasz-bielinski `libnuma.so.1 => not found`, that's your problem.  You need to arrange things so the runtime linker will find it.  By `it`, I mean the libnuma.so that drv_cfg was linked against when it was built.  This is a problem with your program, not the OS.  Maybe see: http://man7.org/linux/man-pages/man8/ld.so.8.html.

[2018-01-17 06:23] tobad357 opened #2318 "Multipathd hang when logging out of iscsi session"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

Bare Metal

### Expected Behavior ###
When logging out of multiple iscsi sessions at once and multipathd is enabled the system should complete the logouts

### Actual Behavior ###
When logging out of multiple iscsi sessions at once the second session will not complete logout
and it is impossible to re run th

[2018-01-17 08:21] lukasz-bielinski commented on #2213
@glevand
i am completely aware of it. that's why this issue was created by @coresolve with request
[code]

[2018-01-17 09:41] tobad357 commented on #2318
Logs when running `sudo journalctl -xn 100 -f -u multipathd -u systemd-udevd -u iscsid`
[code]
[code]

[2018-01-17 09:48] lucab commented on #2247
For reference, that's https://github.com/coreos/container-linux-config-transpiler/releases/tag/v0.6.0.

[2018-01-17 12:41] lucab commented on #2300
@davbizz if this is still an issue, can you please attach your PXE entry config? Can you also check/attach logs from your PXE/TFTP server to make sure that the VM is using the proper server and hitting the correct endpoint?

[2018-01-17 16:37] couling commented on #1828
I stumbled on this looking for why EC2 wouldn't setup an IPv6 address on Ubuntu server.
I noted the comment in the question that this also affects CentOS and it made me wonder if it's a more general wider linux config issue.

I've stumbled on a fix for Ubuntu server which was less than obvious:

In `/etc/network/interfaces.d/50-cloud-init.cfg` (aka `/etc/network/interfaces`) add a line to specific

[2018-01-18 02:29] euank commented on #2213
@lukasz-bielinski What @glevand means is that you should try distributing libnuma along with the binary that needs it (via using something like `LD_LIBRARY_PATH` , `patchelf`, or shipping a container).
If that works, then that's what you should do. If you do that and run into issues, we can dig further into the right resolution to those issues. Have you already tried running it in a container or v

[2018-01-18 10:07] lucab commented on #1828
@couling thanks for checking in. ContainerLinux doesn't ship/use ifupdown, so it is likely not related. Such configuration and network function is handled directly by systemd-networkd instead.

[2018-01-18 15:09] kcwitt opened #2319 "gpg --recv-key broken in 1576.5.0"
# Issue Report #

the gnupg receive key command does not work
[code]

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

CoreOS 1576.5.0 on Digital Ocean San Francisco and Singapore servers.

### Expected Behavior ###
[code]

### Actual Behavior ###
[code]

### Reproduction Steps ###

  1. `gpg --recv-key 50E0885593D2DCB4`

### Other Information ###
The example below shows th

[2018-01-18 15:29] dm0- commented on #2319
You'll need to add a default server to your `~/.gnupg/dirmngr.conf` file, or use an argument like `--keyserver pool.sks-keyservers.net` with the command.  It seems to be working as expected for me.

[2018-01-18 15:42] kcwitt commented on #2319
That is what I used to do, but even that didn't work reliably, and I need it to actually be relaible.

You should not be required to specify a keyserver (it even states that in the dirmngr.conf file). Specifying it was an okay hack as long as it worked, but it doesn't work reliably.

Also, it is possible my estimate that it fails 60% of the time is probably very misleading. It probably fails infre

[2018-01-18 15:54] kcwitt commented on #2319
That explains why `--keyserver hkps://hkps.pool.sks-keyservers.net` has never worked for me.

The remaining errors using `--keyserver pgp.mit.edu` probably are network related. I just tried pool.sks-keyservers.net per your suggestion above and it works.

Thanks.

[2018-01-18 15:54] #2319 closed

[2018-01-18 18:14] glevand commented on #2213
@euank Yes, that is what I mean.  A binary that is dynamically linked needs to be run in a compatible run-time environment, and this scaleio libnuma problem is because the proper run-time environment has not been arranged for the scaleio programs.  My guess is that these scaleio programs were built to run on Ubuntu or RHEL and the distro's package that installs libnuma is a requirement.

@lukasz-b

[2018-01-18 18:22] ajeddeloh commented on #1862
Closed via https://github.com/coreos/coreos-overlay/pull/3010 and https://github.com/coreos/portage-stable/pull/634

[2018-01-18 18:22] #1862 closed

[2018-01-18 18:57] BelfordZ commented on #1848
@lloiacono any idea what we can do instead? (other than the wait-for-it script before the containers CMD)

[2018-01-18 20:09] euank commented on #1828
xref https://github.com/systemd/systemd/issues/5845; it looks like there is some movement related to this upstream.

[2018-01-19 03:53] zq-david-wang opened #2320 "container oom would cause docker ps hang"
# Issue Report #

## Bug ##
Docker fail to create/terminate containers after several oom.
### Container Linux Version ###

[code]

### Environment ###
K8s1.6 cluster on CoreOS installed on bare-metal.

### Expected Behavior ###

### Actual Behavior ###
After several OOM events, docker ps would hang, and no container could be created or terminated
### Reproduction Steps ###
  1.  Using kubernetes t

[2018-01-19 09:00] lucab commented on #2319
@dm0- should we consider building with TLS support or switching the default to match our build configuration?

[2018-01-19 12:15] ggsenger opened #2321 "Bad signatures for some of the released ct-v0.6.0 binaries"
# Issue Report #

I am unable to verify the given signatures for the [ct-v0.6.0-x86_64-unknown-linux-gnu](https://github.com/coreos/container-linux-config-transpiler/releases/download/v0.6.0/ct-v0.6.0-x86_64-unknown-linux-gnu), [ct-v0.6.0-x86_64-apple-darwin](https://github.com/coreos/container-linux-config-transpiler/releases/download/v0.6.0/ct-v0.6.0-x86_64-apple-darwin) and [ct-v0.6.0-x86_64-pc

[2018-01-19 12:48] lucab commented on #2321
/cc @sdemos

[2018-01-19 14:54] dm0- commented on #2319
Last time it was considered, it was left disabled to avoid pulling in yet another TLS implementation that nothing else uses.  With the default configuration, it's adding at least another five packages to prod images.

[2018-01-19 21:41] sdemos commented on #2321
Yeah, that was my fault. I apologize for any confusion this might have caused. Thanks for reporting this! We would like to generally treat releases as immutable entities even though github allows for modification of binaries, so a patch release has been tagged with corrected signatures - https://github.com/coreos/container-linux-config-transpiler/releases/tag/v0.6.1

I manually verified that all t

[2018-01-19 21:41] #2321 closed

[2018-01-19 21:55] vfiset opened #2322 "pstore panic logs missing parts"
# Issue Report #

pstore panic logs missing parts

## Bug ##

I have pstore enabled:

[code]
I am trying to understand why I only have Panic#1 Part5 in /sys/fs/pstore/

[code]
Where are part 1-4? Is there something I am missing here?

### Container Linux Version ###

[code]

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

Bare Metal server
[code]

[2018-01-19 22:03] ajeddeloh commented on #2322
Please test this with a current CL release. 1235.9.0 is over a year old.

[2018-01-19 22:09] vfiset commented on #2322
yes I realize that @ajeddeloh, we are currently in the process of doing exactly that but for now I am trying to figure out what happened on that specific occurrence

[2018-01-19 23:28] #1997 closed

[2018-01-21 10:34] Malinskiy commented on #1019
The device correctly works if you pass _iommu=soft_ to kernel

[2018-01-22 09:17] lucab commented on #1630
For reference, this has been assigned CVE-2018-1049:  https://bugzilla.redhat.com/show_bug.cgi?id=1534701

[2018-01-22 21:09] bgilbert opened #2323 "Document process for bumping Ignition spec version"
# Issue Report #

## Feature Request ##

### Desired Feature ###

Various things need to be done when bumping the Ignition spec version.  Document them all in one place.

### Other Information ###

Source material:
- https://github.com/coreos/ignition/pull/400
- https://github.com/coreos/ignition/pull/416 (would now apply to OEM base/default configs in coreos-overlay)
- https://github.com/coreos/i

[2018-01-22 21:23] dgonyeo commented on #2323
I can make sure to write down the steps as I do them for 2.2.0.

[2018-01-22 22:14] hookenz commented on #1580
Container Linux by CoreOS stable (1576.4.0)
Update Strategy: No Reboots
core@compute1 ~ $ docker --version
Docker version 17.09.0-ce, build afdb6d4

[2018-01-23 01:12] mathpl commented on #2226
We've been experiencing this issue on bare metal servers on both 1576.4.0 and 1576.6.0.

We have no logs at all, the kernel watchdogs do not do or log anything either. We've setup the system to panic when when send and `ipmi power diag` command (sysctl: `kernel.unknown_nmi_panic=1`) and nothing happens. Same for sysrq via the console. During this whole time there is nothing via ipmi console. Despi

[2018-01-23 03:55] zq-david-wang commented on #2320
Actually I am running a modified version of k8s1.6, which would not "CrashBackOff" for failed pod.
Instead, it would restart failed container immediately.

[2018-01-23 22:21] euank commented on #2226
@mathpl based on that information, it's hard to tell whether your issue is the same. It might be better to file it as a new bug since the hardware is so different (esxi vs baremetal).

It could be worth trying the current alpha as well to see if [intel microcode updates](https://github.com/coreos/bugs/issues/1862) help with the issue.

It could also be possible to run a kernel bisect if you can fi

[2018-01-23 22:35] ajeddeloh commented on #1827
Closed via https://github.com/coreos/coreos-overlay/pull/2967

[2018-01-23 22:35] #1827 closed

[2018-01-23 22:38] bgilbert commented on #1827
This should be fixed in 1662.0.0.  Thanks for the report!

[2018-01-23 22:51] ajeddeloh commented on #2193
Closed via https://github.com/coreos/coreos-overlay/pull/2967 which is in Alpha 1662.0.0.

[2018-01-23 22:51] #2193 closed

[2018-01-23 22:57] bgilbert commented on #1827
The upstream fix is https://github.com/systemd/systemd/pull/7460.

[2018-01-23 22:57] bgilbert commented on #2031
Fixed upstream in https://github.com/systemd/systemd/pull/7460.

[2018-01-23 22:59] ajeddeloh opened #2324 "Add support for applying microcode from the initramfs"
# Issue Report #

## Feature Request ##

The kernel should be able to apply microcode from an initramfs (not just initrds)

### Environment ###

Any bare metal, including packet

### Desired Feature ###

Currently the only two ways for the kernel to apply microcode early in the boot are to either bake it in via `CONFIG_EXTRA_FIRMWARE` or create a seperate initrd with the microcode. Ideally, we sho

[2018-01-23 23:16] bgilbert commented on #2324
Note that `CONFIG_EXTRA_FIRMWARE` requires the kernel to keep all microcode blobs in RAM forever (3 MB or so), while putting the microcode in the initramfs allows it to drop microcode for CPUs we don't have.

This _should_ be a fairly straightforward kernel patch, modulo any interactions with `CONFIG_INITRAMFS_COMPRESSION`.

[2018-01-24 00:05] euank commented on #2271
@janse180 note that restarting networkd after writing a `/etc/systemd/network/` file isn't necessarily sufficient for it to apply all types of changes, similar to the issue discussed [here](https://github.com/systemd/systemd/issues/3188).

If you're able to either create that `network` file as part of [provisioning](https://coreos.com/os/docs/latest/provisioning.html) (so it will be there early en

[2018-01-24 00:07] mathpl commented on #2226
WFM, will create a new issue.

[2018-01-24 04:56] janse180 commented on #2271
@euank I am applying that systemd network file using CL-Config from my matchbox server. The above commands were just for debugging clarification. I believe this issue is related to dhcpcd and its handling of infiniband cards.

[2018-01-24 07:24] euank commented on #2271
ah, thanks for clarifying, apologies for my misunderstanding

[2018-01-24 09:03] hpio opened #2325 "Frequent kernel panics on Dell PowerEdge R730"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

Dell PowerEdge R730 server

### Expected Behavior ###

OS runs without issues

### Actual Behavior ###

I've noticed 2 different behaviours, sometimes a host reboots and sometimes it just sits there

### Other Information ###

[dm

[2018-01-24 11:21] megastallman commented on #2325
@hpio , please look here: https://github.com/coreos/bugs/issues/1862
While I'm waiting for microcode delivery to the production branch, I've turned off hyperthreading on my servers. Looks like a workaround for the moment.

[2018-01-24 11:21] megastallman commented on #2322
I've also got the same problem with partial pstore contents on the current prod Tectonic release.

[2018-01-24 14:22] brat002 commented on #2320
I also have such problem. OOM event sometimes hangs docker for several minutes.

[2018-01-24 17:19] mildred opened #2326 "CoreOS fails to boot on 10% of AWS instances m5.large"
# Issue Report #

## Bug ##

### Container Linux Version ###

CoreOS Container Linux stable 1576.5.0 (HVM)
CoreOS-stable-1576.5.0-hvm

AMI: ami-32d1474b

### Environment ###

AWS m5.large

### Expected and Actual Behavior ###

When starting m5.large instances on CoreOS (it also happens with m5.xlarge) 10% of the instances end up unreachable. SSH access is impossible and the AWS console shows: **1/

[2018-01-24 19:16] jorgelon opened #2327 "Container linux 1662.0.0 alpha doesn't add routes if external to network"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###
Under vmware esxi 5.5 with oem vmware_raw with vmxnet3 interface
I have a gateway from a different network than the IP
for example:
vm ip : 10.5.100.23/32
gateway: 50.255.255.255
The ip and the routes come from the dhcp server

### Expected Behavior ###
In coreos stable or beta or previous alpha releases, whe

[2018-01-25 00:35] dgonyeo opened #2328 "Systemd device unit doesn't return when it should"
# Issue Report #

## Bug ##

### Container Linux Version ###

1662.0.0 (alpha)

### Environment ###

QEMU and EC2

### Expected Behavior ###

A device unit created for a partition on a loopback device that was formatted to ext4, mounted, umounted, reformatted to btrfs with a specific UUID, and mounted again should immediately return. The device obviously exists, as it's currently mounted.

### Act

[2018-01-25 00:53] ajeddeloh commented on #2327
This is almost certainly from the systemd 235 -> 236 upgrade; I'll review the changes between the two and see if anything sticks out. Can you please provide the output from `journalctl --no-pager -u systemd-networkd`? Also `ip a` and the contents of the relevent lease in `/run/systemd/netif/leases/` would be helpful. Thanks for the report.

[2018-01-25 10:22] AInquel commented on #2322
Hello,

we've got the same problem with this coreos configuration.
We crashed the system using `echo c > /proc/sysrq-trigger` and after reboot /sys/fs/pstore was empty

**uname -a**
[code]

**mount |grep pstore**
[code]

**cat /etc/os-release**
[code]
**gunzip -c /proc/config.gz | grep PSTORE**
[code]
**cat /sys/module/pstore/parameters/backend**
[code]

**cat /sys/module/pstore/parameters/update_

[2018-01-25 10:36] dtretyakov commented on #571
@crawford, it's really valuable when using CoreOS in Azure to be able to mount Azure File Shares to the host.

What problem prevents adding `cif-utils` into CoreOS distributions?

[2018-01-25 10:53] lucab commented on #2322
@AInquel I feel that your issue is different than the one described in the original report. It seems to stem from the fact that you have a null backend, which is suspicious and likely the root cause of the empty pstore.
I think you'd better report that as a separate ticket, together with specific machine model, boot configuration (are you using EFI or have you tried?) and any relevant ACPI/EFI/pst

[2018-01-25 12:12] AInquel commented on #2322
@lucab ok, thank you for your feedback!

[2018-01-25 14:09] jorgelon commented on #2327
Jan 25 14:00:26 localhost systemd[1]: Starting Network Service...
Jan 25 14:00:26 localhost systemd-networkd[577]: Enumeration completed
Jan 25 14:00:26 localhost systemd[1]: Started Network Service.
Jan 25 14:00:27 localhost systemd-networkd[577]: eth0: Interface name change detected, eth0 has been renamed to ens192.
Jan 25 14:00:27 localhost systemd-networkd[577]: lo: Configured
Jan 25 14:00:27

[2018-01-25 17:23] crawford commented on #2328
FWIW, I tested this on NixOS 17.09.2853.b222a0713f4 (Hummingbird), which includes systemd 234, btrfs-progs v4.8.2, and Linux 4.9.77, but didn't see the issue.

[2018-01-25 17:47] squeed commented on #2327
Oddly enough, this change, at first glance, should have fixed this: https://github.com/systemd/systemd/pull/5982

[2018-01-25 19:06] dgonyeo commented on #2328
Note: last night it took three runs in a CL VM to see the issue, so it may be less predictable than I think.

[2018-01-25 19:07] arithx commented on #2328
On an upgraded 1662.0.0 alpha build I hit it on the second time I ran it.

[2018-01-25 19:30] dgonyeo commented on #2328
It looks like this doesn't occur on stable, which has: linux: 4.14.11, systemd: 234, btrfs-progs: 4.10.2

[2018-01-25 19:38] ajeddeloh commented on #2327
Thanks for the logs. It looks like when specifying static routes (i.e. not from dhcp) you need to set [GatewayOnlink](https://www.freedesktop.org/software/systemd/man/systemd.network.html#GatewayOnlink=) to true or else it will reject the route, but there's no option to do the same with dhcp routes.

@squeed That looks like it's been in systemd since 234 and this only popped up after switching to

[2018-01-25 20:50] dgonyeo commented on #2328
And this does occur on beta, which has: linux: 4.14.11, systemd: 235, btrfs-progs: v4.10.2

[2018-01-25 23:28] ajeddeloh commented on #2327
I wonder if https://github.com/systemd/systemd/pull/6885 is responsible. It looks like before that the gateway route was applied then the static routes whereas now the static routes are applied first, then the gateway route if no static routes were applied.

@jorgelon can you provide a little more info about what your network looks like? Specifically the dhcp options the server is sending.

You al

[2018-01-25 23:33] dgonyeo opened #2329 "ct should warn on common configuration mistakes"
# Issue Report #

## Feature Request ##

### Environment ###

All

### Desired Feature ###

ct is CL specific, and thus is responsible for understanding the subtleties of the OS for the user. It should emit warnings when given configs with easily detectable mistakes.

### Other Information ###

I'd like this issue to be a dumping ground for mistakes in CLCs that we think ct should tell users about

[2018-01-26 02:59] bgilbert commented on #2326
Interestingly, there are 30-second gaps between several of the log messages.

[2018-01-26 04:26] negz opened #2330 "Can I have a newer GCE OEM?"
# Issue Report #
At the time of writing CoreOS stable is shipping with [compute-image-packages](https://github.com/GoogleCloudPlatform/compute-image-packages)  20170327. I'd like a more modern version so I can turn off the relatively new `IpForwarding` `ip_aliases` [knob](https://github.com/GoogleCloudPlatform/compute-image-packages#configuration).

Setting `ip_aliases = false` prevents Google's I

[2018-01-26 10:12] lucab commented on #2327
A packet capture of the DCHP exchange may also be valuable, in order to check what is actually offered to networkd.

[2018-01-26 12:17] jorgelon commented on #2327
option subnet-mask 255.255.255.255;
        option routers 15.255.255.1;
        option static-routes 169.254.169.254 15.255.255.1; << the first route is because I have a metadata server there
        option domain-name-servers 15.5.100.12, 15.5.101.12;

I have tried with GatewayOnlink and it works but in stable and beta it is not neccessary.

[2018-01-26 15:50] joshuacox commented on #2083
+1 on adding
[code]
to `/etc/apparmor.d/abstractions/libvirt-qemu`  and then `systemctl restart apparmor.service`

[2018-01-26 16:40] jtwile2 opened #2331 "AWS c5 instance fails to connect to metadata service"
## Bug ##

### Container Linux Version ###

[code]

### Environment ###
AWS c5.xlarge

These instances are started as an Atlassian Bamboo Elastic Agent

### Expected Behavior ###
EC2 instance starts with expected SSH keys and is accessible.

### Actual Behavior ###
SSH keys are not installed and the instance is not accessible.

### Reproduction Steps ###
This is an intermittent failure, only aroun

[2018-01-26 18:38] crawford commented on #2331
Can you attach the full logs for that service? (`journalctl -b -u coreos-metadata --no-pager`)

[2018-01-26 18:53] ajeddeloh commented on #2327
Ugh, it looks like they're parsing both the classless static routes and the classful static routes into the same list, then assuming it's classless (and thus ignoring the gateway route as required when using the classless routes option, but detrimental when using the classful routes option).

[2018-01-26 20:36] jtwile2 commented on #2331
The coreos-metadata unit didn't report anything in journal so I'm attaching the full boot log from that boot.
[journal.log](https://github.com/coreos/bugs/files/1669107/journal.log)

[2018-01-26 22:28] sdemos commented on #2331
That's interesting, there is acutally an earlier failure in there. `coreos-cloudinit` fails first -

[code]

then the reported `coreos-metadata` failure -

[code]

it seems like they are both having issues connecting to the metadata service.

[2018-01-26 22:40] crawford commented on #2331
On first boot, Container Linux will DHCP _twice_. I wonder if that is tripping up their new C5 instances. At this point, my gut tells me this is just another one of the many problems with the new C5 instances.

@jtwile2 it might be worth moving to a different instance type for now (if possible).

[2018-01-26 22:48] jtwile2 commented on #2331
Thank you for the quick response, I'll look into moving instance types, in the meantime is there anything else I can do to get more data for you?

[2018-01-26 22:48] ajeddeloh commented on #2327
Looks like it's fixed upstream in https://github.com/systemd/systemd/commit/8cdc46e7bad6bb8b1fd34b5ad9d95894e0b6b4eb. We'll backport that and it should be in the next alpha.

[2018-01-26 22:49] crawford commented on #2331
@jtwile2 I don't think so. This is the same sort of failure our CI systems have been seeing (and only seeing with C5).

[2018-01-26 22:57] jtwile2 commented on #2331
Thanks @crawford  I'll close, and reopen if we see a similar issue on C4.

[2018-01-26 23:09] ajeddeloh commented on #2327
Closed via https://github.com/coreos/coreos-overlay/pull/3027. It will be fixed in the next alpha.

[2018-01-26 23:09] #2327 closed

[2018-01-26 23:33] arithx commented on #2331
Going to re-open this issue so we can continue monitoring

[2018-01-27 01:16] bgilbert opened #2332 "Consider validating Ignition configs in coreos-install"
# Issue Report #

## Feature Request ##

### Environment ###

Any

### Desired Feature ###

Now that `ignition-validate` exists, we could ship it in the OS and have `coreos-install` use it (if available) to validate Ignition configs.  `ignition-validate` could go in e.g. `/usr/lib/coreos` if we wanted to avoid creating a long-term compatibility constraint.

### Other Information ###

[2018-01-27 03:13] #2330 closed

[2018-01-27 03:14] dm0- commented on #2330
This will be updated to the latest release in the next alpha (due Thursday).

[2018-01-27 03:15] negz commented on #2330
Thanks!

[2018-01-27 23:55] vinyldarkscratch opened #2333 "Container Linux Config Transpiler 0.6.1 doesn't report the version properly"
# Issue Report #

## Bug ##

Under macOS (using the Homebrew package manager), running `ct -version` reports `ct 0.6.1`, but the output is `ct ` (including the trailing whitespace).  This fails a test that was originally in https://github.com/Homebrew/homebrew-core/pull/23354 but was removed since it doesn't really test the program's functionality.

[2018-01-29 08:52] trevex commented on #1796
I am on the current Container Linux stable release `1576.5.0` and am trying to get the `nvidia-container-runtime` to work (specifically to use nvidias k8s device plugin).

Interestingly enough I get the exact same error:
[code]

I am wondering how this was resolved? Are there specific patches for runc for Container Linux? (nvidia-container-runtime is just a set of patches for runc)

[2018-01-29 18:51] dgonyeo commented on #2333
The version is set at compile time via the [`LD_FLAGS` variable in the makefile](https://github.com/coreos/container-linux-config-transpiler/blob/b76ab0b2d66ff1ac6902f4fe118a02c1bed6e5ce/Makefile#L14). The version is correctly set on Linux, so I'm guessing that the flags required to set it are different for MacOS.

[2018-01-29 19:09] dgonyeo commented on #2333
I just had a coworker run `make release` on MacOS, and the version field was set properly.

[code]

This feels like a bug in something related to cross-compilation in golang. I'll go complain upstream.

[2018-01-29 19:34] ajeddeloh opened #2334 "CL sometimes does not reboot into the correct partition"
# Issue Report #

## Bug ##

### Container Linux Version ###
Current master, mostly likely all version

### Environment ###

AWS, possibly others

### Expected Behavior ###

When set to reboot into `USR-B`, it does.

### Actual Behavior ###

Occasionally it reboots into `USR-A` instead

### Reproduction Steps ###

Run the `coreos.update.reboot` kola test until it fails on aws (may take a while to

[2018-01-29 19:53] euank commented on #2334
To replicate some discussion:

update_engine, around [45 seconds](https://github.com/coreos/update_engine/blob/eb3900a/src/update_engine/main.cc#L128-L131) after starting, will mark the current partition as [good](https://github.com/coreos/update_engine/blob/eb3900a/coreos-setgoodroot).

The [reboot test](https://github.com/coreos/mantle/blob/abe8b8/kola/tests/misc/update.go#L51-L67) in question,

[2018-01-29 20:01] arithx opened #2335 "Unable to SSH into Oracle OCI VMs"
# Issue Report #

## Bug ##

Starting with Alpha `1662.0.0` when booting on Oracle OCI the machine does not boot properly (from the console logs it looks like the machine comes up but `ssh` times out & `ping` hangs indefinitely. `1649.0.0` works correctly.

### Container Linux Version ###

[code]

### Environment ###

Oracle OCI Virtual Machines

### Expected Behavior ###

Machine boots and it's p

[2018-01-29 21:03] ajeddeloh opened #2336 "systemd-networkd-wait-online sometimes fails"
# Issue Report #

## Bug ##

### Container Linux Version ###

Current master, probably all versions

### Environment ###

qemu and azure, most likely others as well

### Expected Behavior ###

`systemd-networkd-wait-online.service` starts successfully

### Actual Behavior ###

Infrequently, it fails to start.

### Reproduction Steps ###

Run any kola test that has something that Requires or Wants

[2018-01-29 22:04] ajeddeloh commented on #2334
Looks like that is in fact the case. Masking update-engine seems to fix the problem. Closing since this is mantle/test bug not an OS bug. See mantle fix here: https://github.com/coreos/mantle/pull/801

[2018-01-29 22:04] #2334 closed

[2018-01-29 22:37] arithx commented on #2331
@jtwile2 can you provide the userdata you're using to configure the machines where you were seeing this issue?

So far I haven't been able to repro this issue.

[2018-01-29 22:40] euank commented on #2331
It's also possible that this was an issue on AWS's side which has since been fixed on their end. If you can still reliably reproduce it, any more information would be appreciated, but if you can't, I'd be happy to chalk it up to being on AWS's end.

[2018-01-30 00:25] euank commented on #1796
@trevex that error is fairly generic.
The best way to identify the actual error is to follow [these instructions](https://coreos.com/os/docs/latest/selinux.html#check-a-containers-compatibility-with-selinux-policy) to have selinux log audit results.

The audit output will then hopefully make it clear what's breaking. I don't know exactly what changed on the docker/runc side to fix this issue befor

[2018-01-30 01:22] BlakeMScurr commented on #1809
Did you find that this could be fixed by updating docker?

[2018-01-30 08:10] trevex commented on #1796
Thank you, @euank. The gpu node is currently in use, but I'll schedule another downtime and will try to inspect the selinux log and hopefully with more conclusive findings I'll open a new issue.

[2018-01-30 10:28] lucab opened #2337 "Nodes get stuck while rebooting"
### Reproduction Steps ###

This is behavior has been observed under CI workloads:
  1. A Kubernetes master node is spawned and provisioned via ignition
  1. Tectonic CI continuosly poll via SSH to gather node status
  1. Docker and kubelet are provisioned via tectonic-torcx
  1. A reboot (via systemd DBUS API) is triggered by tectonic-torcx to pick the appropriate docker runtime version
  1. Node

[2018-01-30 15:45] george-angel commented on #2299
1.9.2 works correctly:

[code]

[2018-01-30 18:04] redbaron opened #2338 "Spontaneous reboots on vmware: CPU has been disabled by the guest operating system"
## Bug ##

### Container Linux Version ###
[code]

### Environment ###

VMWare

### Actual Behavior ###

Spontaneous reboots with VMWare message:

"The CPU has been disabled by the guest operating system. Power off or reset the virtual machine".

[2018-01-30 18:17] ajeddeloh commented on #2338
Thanks for the bug report. Do you have any logs from `journalctl --no-pager` that might be useful? Specifically `journalctl --no-pager -k` might have something interesting in it. The `-b` flag should also let you select the previous boot which might be helpful.

Does this happen frequently or predictably? Does it happen on `1576.5.0` (current stable)?

[2018-01-30 18:25] redbaron commented on #2338
No logs left from reboot, looks like it was hard reset from VMWare. I'll ask team managing VMWare to change settings to keep VM up, maybe there will be something on a console.

Happens fairly infrequently, we got 2 cases in last month or so.

We can't update them right now, but I'd prefer to wait for few update cycles anyway  to give meltdown patches time to mature :)

[2018-01-30 18:30] ajeddeloh opened #2339 "Consider compressing kernel modules"
# Issue Report #

## Feature Request ##

Consider compressing kernel modules to reduce image size. The USR partitions are only 1GB in size and we're approaching that (currently 78%). We should start taking steps to ensure we do not run out of space.

### Environment ###

All

What hardware/cloud provider/hypervisor is being used to run Container Linux?

### Desired Feature ###

`coreos-modules` is

[2018-01-30 19:58] bgilbert commented on #2299
Okay, closing.  @alkar, thanks for reporting.

[2018-01-30 19:58] #2299 closed

[2018-01-30 20:57] jtwile2 commented on #2331
[user-data.txt](https://github.com/coreos/bugs/files/1679317/user-data.txt)

These are Atlassian Bamboo Elastic Instances so the user data is used by Bamboo.  I'm not able to get the user data from an instance that failed, but the attached file is typical of what a coreos instance would have.  Note that this is a binary file, not a text file.

I've seen it a few more times, but not often enough to

[2018-01-30 23:49] glevand commented on #2339
`equery-amd64-usr u sys-apps/kmod` shows `- - lzma`, so we would need to add `sys-apps/kmod lzma` to the USE flags if we set `MODULE_COMPRESS_XZ=y`.

[2018-01-31 17:44] marcusrafael commented on #914
Worked to me after set RAM as 2048 MB

[2018-01-31 21:12] Eshakk commented on #1243
@bgilbert Can you please point me to debug symbols for 4.14.11 kernel ? We have installed 1576.5.0 coreos but did not find any files in `/usr/lib/debug`.

[2018-01-31 21:34] bgilbert commented on #1243
@Eshakk In the links in https://github.com/coreos/bugs/issues/1243#issuecomment-324808499, replace 1506.0.0 with 1576.5.0 and 4.12.7 with 4.14.11.

[2018-02-01 05:45] taadis opened #2340 "error creating overlay mount to .../merged: invalid argument."
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

阿里云ECS

### Expected Behavior ###

### Actual Behavior ###

### Reproduction Steps ###

[code]

### Other Information ###

[2018-02-01 06:01] bgilbert commented on #2327
This will be fixed in the next alpha and beta, both due shortly.  Thanks for the report.

[2018-02-01 09:30] PhilippHomann opened #2341 "Grub TPM Error 2"
## Bug ##
When booting an installed version of Container Linux I shortly recognize this output before GRUB boot menu appears:
[code]
The system keeps booting (as expected by https://github.com/coreos/grub/commit/bf25cda14eb09116a1d92bfcb291968618caa6cb), but `/sys/class/tpm/tpm0/device/pcrs` shows that only PCR 09-10 are being filled by GRUB.

[code]

I wonder if that is the expected behaviour. Fr

[2018-02-01 10:48] lucab commented on #2340
Thanks for the report. I can't reproduce this on stable, and our CI didn't seem to experience this either.

It would be great if you could add additional details on your environment. What is the content of `/var/lib/update_engine/prefs/aleph-version` and what does `docker info` say?

[2018-02-02 19:59] ilianaw opened #2342 "cloud-config-url via PXE regression in 1632.2.1"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

libvirt / KVM on CentOS 7; Container Linux is PXE booted with an older version of this documentation (https://coreos.com/os/docs/latest/booting-with-pxe.html) that used to recommend cloud-config instead of ignition.

[code]

### Expected Behavior ###

cloud-config is loaded from the cloud-config-url.

### Ac

[2018-02-02 20:07] ilianaw commented on #2342
Attaching a 16 MB ext4-formatted disk labeled `OEM` worked around the issue.

I also suspect I could use a `systemd.mask=` kernel command line argument, but I have no idea how I built the option ROM. :)

[2018-02-02 20:38] bgilbert commented on #2342
- `user-cloudinit-proc-cmdline.service` (and also, incidentally, `system-config.target`) `Requires=coreos-setup-environment.service`,
- which `RequiresMountsFor=/usr/share/oem`,
- which shouldn't start on PXE because of `ConditionPathExists=!/usr/.noupdate`, but now also `Requires=systemd-fsck@dev-disk-by\x2dlabel-OEM.service`,
- which is pulled in unconditionally (because that's how systemd handl

[2018-02-04 00:04] bgilbert commented on #2342
This should be fixed in the next releases on all channels (alpha > 1675.0.1, beta > 1662.1.0, stable > 1632.2.1).  Thanks again for reporting.

[2018-02-04 00:04] #2342 closed

[2018-02-04 15:15] sanmai-NL opened #2343 "Support BPF/cgroup based firewalling"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

KVM guest.

### Expected Behavior ###

No error. See https://github.com/systemd/systemd/issues/7188.

### Actual Behavior ###

[code]
[code]

### Reproduction Steps ###

  1. Run `machinectl`?

[2018-02-05 11:33] vishalsevani commented on #2009
Any resolution/workaround for the issue? Iam facing same problem.

[2018-02-05 13:24] emmanuelfe opened #2344 "os linux"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

### Expected Behavior ###

### Actual Behavior ###

### Reproduction Steps ###

  1. ...
  2. ...

### Other Information ###

## Feature Request ##

### Environment ###

What hardware/cloud provider/hypervisor is being used to run

[2018-02-05 15:47] colbygk commented on #2009
I have been unable to find create/find a work around.

[2018-02-05 15:51] colbygk commented on #2009
Lazy web question: if someone could point me to the best place to get fixes put in for whatever IPMI libs coreos is using, I might be able to create and submit a patch that would fix the underlying ipmi hanging issue for Dell C6100 devices.

[2018-02-05 16:51] lucab commented on #2344
Closing a stray report. Feel free to open a new one with all details if you are encountering any issues.

[2018-02-05 16:51] #2344 closed

[2018-02-05 20:09] bgilbert commented on #2205
Relevant kola tests disabled in https://github.com/coreos/mantle/pull/807; reenable when fixed.

[2018-02-05 22:47] pheuter commented on #2082
Seeing this issue come up now on Tectonic `1.8.4-tectonic.3` running Kubernetes `v1.8.4+coreos.0` and Docker version `17.03.2-ce, build 2360430` on the Azure cloud using managed azure disk provisioning.

[2018-02-05 23:34] euank commented on #2340
Since we don't actually publish images for Alibaba cloud, it's possible the issue is in their image or configuration.

If you're able to reproduce this issue on a different platform or figure out more information about the error, that would be helpful.

Possible steps to get more information about the error could be:
1. Check docker's log output (set the loglevel to debug, look for any other outpu

[2018-02-06 05:07] alex-vmw opened #2345 "Multiple random docker crashes and hangs on the same node"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###
docker version
Client:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.7.5
 Git commit:   a82d35e
 Built:        Thu Jul  6 01:03:25 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.7.5
 Git commit:   a82d35e
 Built:        Thu Jul  6 01:03:25

[2018-02-06 09:57] lucab commented on #2345
I can't really say for sure, but it looks like dockerd may be stuck on lock contention while also having quite a few goroutines doing I/O. You may want to check if your system journal has any kernel warning related to slow/blocked tasks.

`1409.6.0` is quite an old release at this point. If you semi-reliably manage to reproduce the hang on this specific machine, it would be helpful to try to upgra

[2018-02-06 20:28] gcstang commented on #22
@port22 do you have any other instructions, this doesn't seem to work anymore.
Container Linux by CoreOS stable (1576.5.0)

[2018-02-06 20:41] dgonyeo opened #2346 "Ignition translator/config refactor"
Converting an experimental spec into a stable spec in Ignition is a rather scary operation. If there are any omissions in the translator that's written for the new experimental spec, fields can be silently ignored by Ignition. If there are any errors in hacking up the new `config/vX_Y` package, there can be issues in processing the new stable config. These cases can both be covered by meticulous t

[2018-02-06 22:19] bgilbert commented on #2346
To be clear, the purpose of the extra translation step from `config/vX_Y_experimental` to `internal/config` is to maintain a unity translator which correctly copies all fields.  This would be the basis of the translator for the _next_ experimental version.

This scheme also fixes another problem: in the current scheme, `config/types` must be used by any application that wants to support multiple c

[2018-02-06 22:22] bgilbert commented on #2215
The manifest should be signed with an inline signature, not detached.  This makes the parsing more complex, but fixes signature validation failures in the presence of mirrors/caches/CDNs which may not sync both files at the same time.

[2018-02-07 02:26] Eshakk opened #2347 "Need crash 7.2 for kernel 4.13.x onwards in toolbox."
# Issue Report #

From kernel 4.13.x(1520.6.0 CoreOS) onwards, crash 7.1.9-3.fc27 in toolbox fails with error `cannot resolve "init_level4_pgt"` when trying to run crash on a live machine(using `crash vmlinux /proc/kcore`).

This has been fixed in 7.2.0 version of crash(https://github.com/crash-utility/crash/commit/a16324a2f05c0947a83e26a5de7c756de4603da9#diff-2e50715241f69338dda2b8adf90db04a) but

[2018-02-07 04:07] bgilbert commented on #2347
toolbox is just a wrapper around a Fedora container image.  crash 7.2.0 is currently [only available in Fedora rawhide](https://apps.fedoraproject.org/packages/crash) and hasn't yet made it into a Fedora stable release.  Once that happens, toolbox will pick up the newer version of crash.

You could try installing the crash RPM from Rawhide.

[2018-02-07 04:07] #2347 closed

[2018-02-07 08:00] port22 commented on #22
I still use it. Make sure that your bashrc is actually sourced when you log in.
You got the bash-completion file from fedora toolbox and the linked docker-completion file and sourced them in your bashrc?
where are you stuck?

[2018-02-07 12:45] Sodki commented on #2275
Also please note the following:

`Support for the Amazon Time Sync Service on C5 and M5 instances is coming soon.`

Source: https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/set-time.html#configure-amazon-time-service

I would wait until all instances are supported before any attempts of making it the default choice.

[2018-02-07 14:26] imgrey commented on #1744
I received the same error:
Feb 07 13:22:56 ip-172-31-11-11.eu-west-1.compute.internal systemd[710]: Failed to send queued message: No buffer space available

systemd-229-22.fc24.x86_64
Fedora Linux

[2018-02-07 14:47] bclodius commented on #2331
@jtwile2 unrelated to coreos...our organization has noticed inconsistencies in general with c5 instance type as well regarding connectivity.  We find about 60% of the time no connectivity issues with other objects in the same VPC.  When we revert to c4 type we don't face any issues.

[2018-02-07 17:24] samlin86 commented on #2331
I've been following this issue for a few days now for an unrelated issue with our c5 instance as well - related to DNS queries failing. We've reached out to AWS support and after 2 months they got back to us after some investigation noting that the new c5 instances have eliminated DNS query retries that are done internally within the network for c5 instances. I do not believe they are going to fix

[2018-02-07 18:15] gcstang commented on #22
I got it to work, found another script someone wrote.

[bash_completion_script](https://gist.githubusercontent.com/franciscocpg/a7c87d86696293b4e6d74ef5ee0a2c8e/raw/ec644d1342ca751d5bc792a542abbe0f1e08339c/install.sh)

[2018-02-07 19:21] ajeddeloh commented on #2335
This is a problem with OCI where the route to 0.0.0.0/0 is not being provided in DHCP option 121 (classless static routes). They're working on deploying a fix. I'll close this bug once we confirm it's fixed.

The reason this only showed up as of 1662 is that systemd 236 is the first systemd release to handle rfc3442 correctly and ignore the dhcp option 3 (router) when option 121 is specified.

[2018-02-07 19:37] euank commented on #2331
`coreos-metadata` retries [10 times](https://github.com/coreos/coreos-metadata/blob/e28473eb9def6a9b3862a4d28549fc92be45fe59/src/retry/mod.rs#L34-L38) for fetching the instance-id (over the course of around 40 seconds of sleeping + fetch time, in this case timeout-time).

In the journal posted, there's a large delay before coreos-metadata fails, which makes it seem like coreos-metadata timed out 1

[2018-02-07 19:37] #2331 closed

[2018-02-07 20:37] glevand opened #2348 "update-engine: seg fault on arm64"
# Issue Report

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

cavium crb-2s arm64 baremetal

### Actual Behavior ###

I noticed updates weren't working and found a `Segmentation fault` error in the logs.  I haven't looked into what the problem might be.

### Reproduction Steps ###

    update_engine_client -reset_status
    update_engine_client -check_for_update

### Oth

[2018-02-07 21:16] euank commented on #2339
@ajeddeloh A container could also have a `kmod` which doesn't support compression properly and thus fails to load a kernel module.

Debian only turned on xz/zlib for kmod as of [a month ago](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=772628).

One example I think may fail is a container like Kubernetes' kube-proxy or kubelet which loads kernel modules. For example, [here](https://github.com

[2018-02-07 22:35] euank commented on #2333
@dgonyeo I believe this is caused by make defaulting to `git` to determine the version, but since `brew` uses the archive url associated with the release, there's no `.git` folder to work with. Presumably it's actually falling back to homebrew's git output there.

@vinyldarkscratch I think this is a bug in the homebrew recipe. `ct`'s makefile allows overriding the version with e.g. `make VERSION=v

[2018-02-08 06:00] ericchiang opened #2349 "github.com/coreos/coreos-overlay uses github.com/jteeuwen/go-bindata"
# Issue Report #

The owner of github.com/jteeuwen/go-bindata recently deleted their account, and someone else took it over.

https://twitter.com/francesc/status/961249107020001280

We probably want to re-evaluate how we're using that tool and if we should switch to something else.

[2018-02-08 06:57] euank commented on #2349
The ebuild checks out a specific git commit, so an attack would also need to cause a git collision. I wouldn't be too worried about that. It also seems to be completely unused for any purpose.

From its [history](https://github.com/coreos/coreos-overlay/commits/6b2e14bbd4a82ad3f716e2e47b0ce6d46e4cf04f/dev-util/go-bindata), it was added for rkt, and rkt hasn't depended on it [since 2015](https://gi

[2018-02-08 12:13] LexBel-co commented on #1355
I have the same issue here a couple days ago:

`$ vagrant up
==> homestead-7: Checking if box 'laravel/homestead' is up to date...
==> homestead-7: There was a problem while downloading the metadata for your box
==> homestead-7: to check for updates. This is not an error, since it is usually due
==> homestead-7: to temporary network problems. This is just a warning. The problem
==> homestead-7: en

[2018-02-08 12:21] Vishal-Gaur commented on #1355
Having the same issue as @crawford.
Due to this issue i'm unable to ping as well.

vagrant up
Bringing machine 'ansible' up with 'virtualbox' provider...
==> ansible: Checking if box 'ubuntu/xenial64' is up to date...
==> ansible: There was a problem while downloading the metadata for your box
==> ansible: to check for updates. This is not an error, since it is usually due
==> ansible: to temporar

[2018-02-08 17:12] glevand commented on #2339
@euank, @ajeddeloh  Maybe add a feature request to Kubernetes  to support compresses kernel modules.  I would think kube-proxy, etc. could decompress a file before running modprobe.

[2018-02-08 18:27] ajeddeloh commented on #2335
Closing because it's fixed in OCI.

[2018-02-08 18:27] #2335 closed

[2018-02-08 20:40] felixbuenemann commented on #2230
I have the same problem with CoreOS stable 1632.2.1 in VMware Fusion 10.1.1.

The ignition config I provided while importing the OVF into VMware Fusion is still used instead of the updated guestinfo set in the vmx file.

Querying and decoding the config using `vmtoolsd` and `base64 -d shows` the correct config is available in the guest but not loaded.

Running `journalctl --identifier=ignition --a

[2018-02-08 21:00] sdemos opened #2350 "ssh keyfiles in authorized_keys.d are truncated on hard system reset in the first minute"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

virtualbox, though it would likely happen on any platform during a crash that halts the cpu.

### Expected Behavior ###
ssh keys exist and are populated after a system reset

### Actual Behavior ###
ssh keys exist but are empty

#

[2018-02-08 21:01] MikeDombo opened #2351 "XenServer not showing containers in XenCenter"
## Bug ##
Xenserver 7.3 not showing running containers with xscontainer supplemental pack installed and enabled. Containers did show up, but no longer do after a reboot. Other issues point to `etcd` needing to be changed to `etcd2` which is currently default and is set correctly on my system.

Xencenter does show the ip and ram usage correctly, but does not show containers.
journalctl -xe shows no

[2018-02-08 22:55] bgilbert commented on #2350
To be thorough, we should also be calling `fsync` on the file's containing directory.  Because we're renaming the files into place, this should happen after the rename.

[2018-02-08 23:14] sdemos commented on #2350
with a few minutes of searching, I couldn't find a way to call `fsync` on a dirctory in rust. rust provides `std::fs::read_dir` which returns an iterator over the directory contents, but there doesn't seem to be a way to get a reference to a directory directly, at least not one that has a file handle that we can run `fsync` on. I can dig more into it though, maybe I'm missing something obvious.

A

[2018-02-08 23:20] sdemos commented on #2350
okay so I was missing something obvious. you can just open a directory using the standard `std::fs::File` interface and then run `sync_all` on that just like a normal file.

[2018-02-08 23:36] bgilbert commented on #2350
Okay, then we'd need to fsync the staging directory, rename it, then fsync its parent.  The goal is to make sure that the directory entry for any given file or directory is written to disk.

[2018-02-09 01:32] bgilbert commented on #2349
https://github.com/coreos/coreos-overlay/pull/3052 drops the package.  Thanks for reporting.

[2018-02-09 01:32] #2349 closed

[2018-02-09 02:04] #2351 closed

[2018-02-09 03:35] gitsparky opened #2352 "container-linux-config-transpiler: storage.links entry is not converted"
# Issue Report #

## Bug ##

A "links" entry in container config file is missing from the generated ignition config file.

In browsing the source code on master as of commit cf05bf5 it seems like there should be a file `config/types/links.go` (which is included by `types/storage.go`) but this file does not exist.

### Container Linux Version ###

[code]

Probably more relevant is the version of th

[2018-02-09 03:54] arithx commented on #2352
I'm not able to repro this on my windows system.

https://gist.github.com/arithx/7696f665ce8611bebe505e5d0194305e

[2018-02-09 04:19] gitsparky commented on #2352
Strangely, Windows Defender is now flagging the v0.61 binary as containing a virus (Trojan:Win32/Azden.B!cl)

The v0.6 binary was not flagged and seems to process the "links" entry just fine.

[2018-02-09 04:22] arithx commented on #2352
Windows must have pushed new virus definitions which are triggering false positives. A cursory search shows multiple instances of other programs being reported for this as false positives.

[2018-02-09 04:23] gitsparky commented on #2352
Since I added the "links" entry last, it could be the binary was not being run at all, so I was seeing output of a prior run. But strangely the timestamp was updated, so not sure what happened.

Will close this for now, sorry for the trouble.

[2018-02-09 04:23] #2352 closed

[2018-02-09 07:27] bgilbert commented on #2343
The problem is systemd's cgroup mode: the upstream default is hybrid, which does work with cgroup-based firewalling, but we default to legacy mode for compatibility with Docker 1.12.  I think we could switch back to the upstream default after backporting https://github.com/opencontainers/runc/pull/1266 to `runc-1.0.0_rc2_p9`.

[2018-02-09 18:14] dgonyeo commented on #2352
For any following along here, I just sanity checked the x86_64 Linux binary of the 0.6.1 release, and it does appear to handle the `links` section in a CLC correctly.

[2018-02-10 04:43] ezequielgarcia commented on #2137
@bgilbert @glevand I believe we can consider closing this issue for now -- unless you wanna make this a sticky issue.

[2018-02-12 09:46] qrpike opened #2353 "CoreOS v1632.2.1 - [STABLE] cloud-Init removed with no warning?"
# Issue Report #
I recently updated to v1632.2.1 [STABLE] branch, and cloud-init just stopped working.

There was no warning of this in the release notes, and is a pretty important thing to remove from a stable release without warning.

## Bug ##

### Container Linux Version ###
1632.2.1

### Environment ###
PXE Boot to read-only coreos

What hardware/cloud provider/hypervisor is being used to run

[2018-02-12 10:44] Soulwest commented on #1355
I've got the same error.

$ vagrant halt && vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Checking if box 'ubuntu/xenial64' is up to date...
==> default: There was a problem while downloading the metadata for your box
==> default: to check for updates. This is not an error, since it is usually due
==> default: to temporary network problems. This is just a warn

[2018-02-12 10:47] lucab commented on #2353
Can you please check and attach more details from your system journal? From a quick look, it looks like this may be a duplicate of  https://github.com/coreos/bugs/issues/2342.

[2018-02-12 10:55] lucab commented on #1355
This ticket is attracting unrelated comments for non-coreos failures (respectively with "laravel" and "ubuntu" boxes), thus I'm locking this conversation to avoid piling up more unrelated items.

If anybody experiences persistent failures specifically with coreos boxes and endpoints, please open a new ticket. For other non-coreos boxes, please report to the specific provider.

[2018-02-12 11:58] qrpike commented on #2353
I can't heh.

The SSH keys are on the cloud-init file, which it doesn't load.

I look at the http logs on the cloud-init server, and no request was made. I downgrade to the previous version and it works fine. I also validated the cloud-init file to make sure there were no errors in it.

[2018-02-12 15:58] chrisferry commented on #2306
We are seeing this issue as well which then causes PLEG issues and finally general k8s cluster instability.
Docker version 17.09.1-ce, build 19e2cf6
containerd version: 06b9cb35161009dcb7123345749fef02f7cea8e0

Going to revert to 1.12.06, hopefully that will solve the problem for now.

[2018-02-12 18:50] ajeddeloh commented on #2353
You could try downgrading to the previous version, then writing
[code]
 to `etc/system/systemd-fsck@dev-disk-by\x2dlabel-OEM.service.d/conditional.conf` (essentially manually applying https://github.com/coreos/init/commit/e8febaa0ffb0cdfbdc9accaf8296f2cd476aad95)

That would tell you if it is in fact the oem fsck bug, and work around it if it is.

[2018-02-12 19:12] bgilbert opened #2354 "coreos-install hangs after failure to reread partition table"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

Any

### Expected Behavior ###

If coreos-install can't reread the partition table after installing, it immediately wipes the partition table and exits.

### Actual Behavior ###

[code]

and then it hangs.

### Reproduction Steps ###

  1. `dd if=/dev/zero of=img bs=1M count=1 seek=8192`
  2. `losetup /dev/l

[2018-02-12 21:08] bgilbert commented on #2272
@dgranville Your screenshots didn't correctly post to GitHub.

To answer your other questions: `2.2.0-experimental` in the generated file is normal (Ignition internally converts all configs to the latest version).  Ignition is designed to fail if the config cannot be applied; there's no mechanism for applying a partial config.  If you just want to reboot the machine from an initramfs emergency she

[2018-02-13 00:49] bgilbert commented on #2353
@ajeddeloh That won't work unless @qrpike is using a persistent root filesystem.

@qrpike You should be able to add `coreos.autologin` to the PXE command line and get access to the journal from the system console, or add `sshkey="ssh-rsa ..."` to the command line and then SSH to the machine.

[2018-02-13 00:59] glevand opened #2355 "portage-stable: net-libs/libpcap build failure"
I got a jenkins build failure in net-libs/libpcap:
[code]
On re-run it built OK.  It seemed like a make dependency bug and I found this:

  https://patchwork.openembedded.org/patch/140984/

I haven't looked into it, but maybe syncing net-libs/libpcap to gentoo upstream will include a fix.

[2018-02-13 01:44] euank commented on #2339
@glevand I don't think that really solves the root problem I'm getting at. It's somewhat rare for containers to modprobe existing os modules, but I don't think it's so rare that only k8s is doing it. Other networking containers/tools exist. We can't easily know the full set of things that may similarly break.

In addition, it looks like the space savings, while nice, weren't massive. I think the r

[2018-02-13 04:07] dm0- commented on #2355
It doesn't look like the-tcpdump-group/libpcap@0dd90a6bdbce4dca14106859eee63ef643a106e2 is included in https://github.com/gentoo/gentoo/tree/master/net-libs/libpcap/files yet.  If it's an issue for you, we could move the package to the overlay to pick up the patch.  If it's not urgent we might as well submit a PR directly to Gentoo and sync portage-stable when it's ready.

[2018-02-13 09:58] tyranron commented on #2306
Same problem here. [Reverting to 1.12.06](https://coreos.com/blog/toward-docker-17-in-container-linux#choosing-a-docker-version) solved the PLEG issue.

[2018-02-13 15:56] chrbayer84 opened #2356 "Soft lockup kernel panic reboot on AWS instance on fsnotify and vfs_write"
# Issue Report #

## Bug ##

Soft lockup kernel panic reboot on AWS G4 instances. Call stack has fsnotify and vfs_write in the call stack. At the time of the incident, the CPU spikes to 100%. Processes in the call stack are writing to an EBS, one of them with a higher steady load (which didn't spike), the other one is just writing log files with very low write load. We are not over-utilizing the E

[2018-02-13 16:32] redbaron opened #2357 "[1632.2.1] kernel deathspin on iSCSI session logout without deleting scsi devices before"
## Bug ##

### Container Linux Version ###

[code]

### Environment ###

OEM=vmware_raw

iSCSI mounted disks

### Actual Behavior ###

Now new containers can be started. Already running containers seem to be fine

### Other Information ###

[code]

[code]

top top
[code]

### Other Information ###

I'll add more into once I have it. Server is live and I am not rebooting it, so if you want me to co

[2018-02-13 16:42] redbaron commented on #2357
[code]

[code]

[2018-02-13 16:47] redbaron commented on #2357
[code]

Shows that 21248 is upset
[code]

[2018-02-13 16:55] redbaron commented on #2357
Somewhat related https://patchwork.kernel.org/patch/7987711/

[2018-02-13 17:26] glevand commented on #2355
I submitted a gentoo bug:
  https://bugs.gentoo.org/647538 (net-libs/libpcap: scanner.h: No such file or directory).
I think it is enough to wait and then sync the package in portage-stable.

[2018-02-13 18:38] jmiller-auro opened #2358 "toolbox"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

### Expected Behavior ###

### Actual Behavior ###

### Reproduction Steps ###

  1. ...
  2. ...

### Other Information ###

## Feature Request ##

### Environment ###

What hardware/cloud provider/hypervisor is being used to run

[2018-02-13 18:39] #2358 closed

[2018-02-13 19:51] redbaron commented on #2357
Difference between "stable" nodes:
 1. Container Linux 1632.2.1 vs 1576.3.0
 1.  Kubelet 1.9.3 vs 1.8.4

It seems I can reliably reproduce test case. All is needed is to run POD with PersistentVolumeClaim, which then dynamically provisions PersistentVolume (we use netapp/trident for that), then delete the pod so that no more iSCSI volumes are used on the servers. AFAIK kubelet then triggers iSCSI

[2018-02-13 20:10] redbaron commented on #2357
enabling scsi full logging (from https://github.com/hreinecke/sg3_utils/blob/master/scripts/scsi_logging_level)
[code]

shows no commands going to iscsi devices, just occasional sda writes, so it is not some sort of retry or SAN error

[2018-02-13 20:14] redbaron commented on #2357
kubelet errors:
[code]

[2018-02-13 20:16] redbaron commented on #2357
Remaining mounts on the host:

[code]

[2018-02-13 20:41] glevand commented on #2339
@euank I would guess that there are some loadable modules that are always used, and those could be configured as built-in if more space is needed in the usr partition at the expense of the boot partition.  Generally having them built-in will save some space since the support for loading is not needed.

[2018-02-13 20:45] redbaron commented on #2357
Running command which kubelet tries to run:

[code]

iscsid logs:

[code]

I deleted all scsi devices from that session manually:
[code]

Now session looks like following:

[code]

[2018-02-14 00:55] cehoffman opened #2359 "Docker unregister_netdevice hang, reopen #254"
# Issue Report #

https://github.com/coreos/bugs/issues/254

## Bug ##

Docker become unable to launch new containers.

### Container Linux Version ###

[code]

### Environment ###

Running in Azure East US 2 on a Standard_L8s instance. This running Tectonic 1.8.4-tectonic.3 with docker 17.03.2-ce.

### Expected Behavior ###

New pods can launch on machine.

### Actual Behavior ###

Docker becomes

[2018-02-14 03:04] felixbuenemann commented on #2311
I ran into the same problem, so until the fixes from coreos/ignition#494 land in the stable channel I'm using the following run-one systemd unit as a workaround:

[code]

[2018-02-14 05:37] euank commented on #2359
I can't quite tell from your description; does this happen with any level of frequency, or is this more of a "lighting strikes" event?

Anyways, xref https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1711407 where ongoing investigation for this issue is occurring.

The last patch to result from that investigation ([this one](https://github.com/torvalds/linux/commit/4ee806d51176ba7b8ff1efd81f271

[2018-02-14 06:11] cehoffman commented on #2359
More of a lightning strikes, but given the history of the symptom and the suggestion to open a new issue if it appeared on Container Linux I thought I'd drop an issue here.

Looking through the system logs of the node, it appears it was draining pods when this occurred. I don't know why it was doing that though. There is a bug https://github.com/Azure/acs-engine/issues/863 where nodes erroneously

[2018-02-14 10:13] lucab commented on #1622
The `cciss` has been [removed and replaced](https://github.com/torvalds/linux/commit/253d2464df446456c0bba5ed4137a7be0b278aa8) by `hpsa` in 4.14. The new driver does not use `/dev/cciss/` and exclamation marks in paths anymore, thus I'm closing this ticket. If anybody has issues with the new `hpsa` driver, please submit a new report.

[2018-02-14 10:13] #1622 closed

[2018-02-14 12:41] lucab commented on #2333
I just checked and this doesn't affect the binaries we publish at https://github.com/coreos/container-linux-config-transpiler/releases/tag/v0.6.1, so this only affects homebrew. And @euank explanation seems reasonable too.

@vinyldarkscratch can we move this to a homebrew ticket/PR?

[2018-02-14 16:20] chrbayer84 commented on #2356
What additional information do you need?

[2018-02-14 17:23] redbaron commented on #2357
It seems that nothing needs to be mounted. I masked kubelet, rebooted node. Simple logout run `iscsiadm -m node  -p 10.1.72.201 3260 -T iqn.1992-08.com.netapp:sn.440d6a6ad6a311e79b3500a0981e9162:vs.13 --logout -I default` sends it into death spiral

[2018-02-14 17:54] redbaron commented on #2357
Logging out from all targets sends 4 kworkers into infinite spin. same as `iscsiadm -m node --logoutall=all`

Found safe sequence to logout, which doesn't cause problems and succeeds:
[code]

[2018-02-14 18:24] JonasProgrammer opened #2360 "LSI Logic / Symbios Logic MegaRAID SAS 2208 r5 is not detected"
## Bug ##

### Container Linux Version ###

[code]

### Environment ###

The server is running an AMD Ryzen 1700 processor (post week 25) on an ASUS B350M-A. Not exactly server-grade components, but money was the limiting factor.

### Expected Behavior ###

The controller is detected and usable by the operating system. Virtual disks of the controller are visible in /dev/disk and to be found with `

[2018-02-15 00:49] bgilbert commented on #2360
Is the `megaraid_sas` kernel module loaded?  Any relevant messages in `dmesg`?

[2018-02-15 00:55] bgilbert commented on #2342
Should be fixed in alpha 1688.0.0, beta 1662.2.0, and stable 1632.3.0, due shortly.

[2018-02-15 00:57] bgilbert commented on #2353
I'm going to optimistically assume this is a duplicate of #2342.  If so, it should be fixed in stable 1632.3.0, which is due shortly.  If you still see this after updating to 1632.3.0, please reopen the bug.

[2018-02-15 00:57] #2353 closed

[2018-02-15 01:09] bgilbert commented on #2356
We sometimes apply `needs/more-information` when we don't know how to completely label an issue, as in this case.  Apologies for the confusion.

Does the soft lockup always have the same stack trace?

[2018-02-15 01:16] JonasProgrammer commented on #2360
The module is loaded
[code]

But after checking dmesg, there's indeed an error during initialisation
[code]

[2018-02-15 02:47] bgilbert commented on #2360
Sounds like an upstream kernel problem.  Would you be willing to [report it to the maintainers of the driver](https://github.com/torvalds/linux/blob/e525de3ab04621d227330aa82cd4073c0b0f3579/MAINTAINERS#L8862-L8867)?

[2018-02-15 17:38] redbaron commented on #2357
Asked for help in open-iscsi maillist: https://groups.google.com/forum/#!topic/open-iscsi/Tc6ERb1QOBg

[2018-02-15 18:15] JonasProgrammer commented on #2360
I've tried reporting to the `linux-scsi` list now, let's see, what they say there.

[2018-02-15 18:27] lucab commented on #2360
@JonasProgrammer Thanks. For reference, here is the LKML post: https://marc.info/?l=linux-scsi&m=151869137407495&w=2.

[2018-02-15 19:36] redbaron commented on #2357
"Bisecting":
 -  1576.3.0  (4.13.16-coreos-r1) - OK
 -  1576.4.0  (4.14.11-coreos) - FAIL

Interesting observation, on 1632.2.1 (didn't try other) on clean logout  (multipath -F, delete scsi devices, iscsiadm logout):

[code]

which is exactly 23 (number of LUNs) * 4  (number of portals) , so even scsi devices are gone, alua reference count didn't change.

[2018-02-15 20:19] redbaron commented on #2357
Hm, interesting! masking `multipathd` , rebooting and coming back  - logout works  just fine. Without `multipathd` even starting `iscsi_tcp` module reference count is 4 (== number of iSCSI portals), but with it running it is 92...

[2018-02-15 20:23] redbaron commented on #2357
With `multipathd` running, while kworkers are spinning on CPU, iscsi_tcp reference count slooowly going down (starting from 188 for some reason :( ):
[code]

[2018-02-15 20:47] lblackstone opened #2361 "coreos-metadata service failing on reboot"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?
`OpenStack`

### Expected Behavior ###
The `coreos-metadata.service` should run successfully after a reboot.

### Actual Behavior ###
The service starts on first boot, but fails to activate after a reboot:
[code]
[code]

Logs are n

[2018-02-15 21:25] sdemos commented on #2361
It looks like it's failing to collect all of the metadata the second time around. Is there any way you can run `curl http://169.254.169.254/latest/meta-data/public-keys` on the system and see if the metadata is actually available? That would tell us if the problem is with `coreos-metadata` or with the openstack metadata service.

[2018-02-15 21:32] lblackstone commented on #2361
[code]

[2018-02-15 21:42] redbaron commented on #2318
Do you have kworker(s) spinning on 100% CPU?

[2018-02-15 21:48] sdemos commented on #2361
That's odd. It looks like that particular metadata call disappeared between reboots? According to the systemd logs you included, it looks like `coreos-metadata` successfully hit that endpoint on the first boot. Unfortunately, I'm not familiar enough with the openstack metadata service to know why it may be disappearing.

At this point though, I'm not sure if there is much we can do to troubleshoot

[2018-02-15 23:23] lblackstone commented on #2361
Thanks for looking into this @sdemos

After further digging, I don't think the `/meta-data/public-keys` endpoint exists for this instance, which is probably related to the way I booted the instances (terraform vs nova boot).

Closing as it's most likely env related rather than the OS.

[2018-02-15 23:23] #2361 closed

[2018-02-15 23:36] sdemos commented on #2361
No problem! Feel free to reopen this issue (or open a new one) if it turns out there is something we should be doing on our end to be better consumers of the openstack metadata service.

[2018-02-16 00:32] sdemos opened #2362 "coreos-metadata should only make necessary requests to metadata services"
## Feature Request ##

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

all, particularly ones with more segmented metadata service apis.

### Desired Feature ###

`coreos-metadata` should take into account the requested metadata when making calls to the metadata service.

### Other Information ###

Right now, `coreos-metadata` collects all availa

[2018-02-16 00:46] ajeddeloh commented on #2362
Right now `coreos-metadata` doesn't know what metadata it needs, and even so there's nothing to stop people from writing units that depend on the contents of the environment file. I don't think `coreos-metadata` should attempt any introspection as to what is needed at runtime, since users might have use cases it doesn't know about.

It could work to have some command line flags or environment vari

[2018-02-16 00:57] sdemos commented on #2362
I think you are misunderstanding what I'm saying. I'm not talking about breaking up the attributes file that `coreos-metadata` generates. At a higher level than that, `coreos-metadata` knows exactly what metadata it needs to get.

`coreos-metadata` currently has the concept of four different "types" of metadata - attributes, ssh keys, the hostname, and network units (see [the flag definitions](htt

[2018-02-16 12:50] redbaron commented on #2357
"Bisecting":
    1576.3.0 (4.13.16-coreos-r1) - OK
    1590.0.0 (4.14.0-rc8-coreos) - FAIL

[2018-02-16 14:23] redbaron commented on #2254
New CoreOS version have scsi_dh_* modules, try again :) Also worth trying to run it with no `mulitpath.conf` at all, builtin defaults are reasonable enough

[2018-02-16 14:24] redbaron commented on #1929
This was released and it seems to work now, at least to a point where multipath device is created just fine

[2018-02-16 14:30] lucab commented on #1929
@redbaron thanks for reporting back, I'm closing this based on that.

[2018-02-16 14:30] #1929 closed

[2018-02-16 14:38] lucab commented on #2254
Devices handler modules were fixed after https://github.com/coreos/bugs/issues/2254. The rest of this report might sound like a misconfiguration on `multipath.conf`, but I don't know much about multipathd.

@tailtwo can you please re-check with latest release, and try to minimize configuration to see what is wrong? I fear your multipath mappings may be off.

[2018-02-16 17:00] redbaron commented on #2357
Reproduced on fedora. Fedora kernels print more info to dmesg:

https://bugzilla.redhat.com/show_bug.cgi?id=1546228

[2018-02-16 17:13] chrbayer84 commented on #2356
Yes, at least from the fsnotify down the stack. I don't know about the one that contains the xen stuff, that might be a one-off which contained the hypervisor.

[2018-02-16 23:52] dlamotte opened #2363 "emergency shell on first boot w/ ignition possibly due to DMA Write faults with Dell BOSS Card"
# Issue Report #

## Bug ##

Failure to move ROOT to another device in ignition (following https://coreos.com/os/docs/latest/root-filesystem-placement.html).

[code]

I ran `coreos-install -d /dev/disk/by-path/pci-0000:3b:00.0-ata-1 -i ignition.json` via PXE where above is a snippet of the ignition.  With the above, I'm dropped into the dracut emergency shell and `/sysroot` remains unmounted.  Wor

[2018-02-16 23:54] dlamotte commented on #2363
I found https://bugs.launchpad.net/ubuntu/+source/linux/+bug/911236 and it looks like its related to the `intel_iommu`.  I might try booting with `intel_iommu=off` to see if it works, but I honestly don't exactly know what that will even do.  Assuming IO performance would be slower as a result and is at most a workaround?

[2018-02-17 13:51] tobad357 commented on #2318
Hmm let us check

[2018-02-17 22:46] dlamotte commented on #2363
So I tried it with `intel_iommu=off` and the `DMA Write` errors disappeared, but Verity Setup failed for /dev/mapper/usr.  I'm booting from UEFI, so maybe I broke something else.

Is this a valid scenario?  Mounting root on a RAID-1 Mixed Use SSD and having all other CoreOS partitions sitting on Dell BOSS Read Intensive SSD (low durability)?

[2018-02-18 18:57] redbaron commented on #2357
git bisect points to fbce4d97fd ("scsi: fixup kernel warning during rmmod()") , posted findings to lkml:  https://lkml.org/lkml/2018/2/18/89

[2018-02-19 15:39] redbaron commented on #2357
cherry-picking commit 81b6c9998979 ('scsi: core: check for device state in __scsi_remove_target()') on top of 4.4.20 fixes the problem for me

[2018-02-19 22:45] dm0- commented on #2357
Thanks for tracking this down.  I'll cherry-pick the commit onto our 4.14.20 branch so it should be in the next releases.

[2018-02-19 22:57] redbaron commented on #2357
I suppose there are no reasons why this patch  can't be cherry-picked to 4.14 stable branch by upstream. I'll ask them, lets see what they say

[2018-02-20 10:47] stuart-warren commented on #2085
We really want to use the same container linux config cross cloud, so this is quite a pain having to pre process services to refer to the correct environment variable name. COREOS_OPENSTACK_IPV4_LOCAL or COREOS_EC2_IPV4_LOCAL

I'd be happy with aliases in /run/metadata/coreos

[2018-02-20 15:31] alexcristi opened #2364 "Kernel panics with CoreOS 1576.5.0 on AWS"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]
[code]
### Environment ###
AWS

### Actual Behavior ###
Kernel panic causing instance crashing

### Other Information ###
Stack trace
[code]

[2018-02-20 17:31] euank commented on #2364
Our automated tests didn't encounter this, and I don't get any panics when running that version on AWS (`ami-dc4ce6a4` in `us-west-2` on a t2.small instance).

Does this happen reliably for you? What region + ami-id + instance type are being run?

Note as well, there's a newer stable with a newer kernel which may have relevant fixes.

[2018-02-20 17:56] dstuart opened #2365 "Allocating an IP address to a bonded bridged network"
# Issue Report #

Hi, We are trying to figure out how to setup coreos with our current network setup. Currently we have 3 vlans a prod, dev and admin. We currently use bonding with bridging on our other host and are trying to replicate this into the CoreOS setup.
We are able to setup the bonding ok, allocating them to the right VLan. We are also able to setup the Bridge but are not sure how to ass

[2018-02-20 18:28] lucab commented on #2365
What does `sudo networkctl status --all` says? How is the resulting network configuration different from the expected result? Your two bond network units looks a bit strange, what are you trying to achieve? Moreover, which release/channel are you using?

[2018-02-20 19:24] dstuart commented on #2365
We are using “Beta 1662.2.0”. It’s different in that we can’t allocate a static ip to any of the bridges we can ping other ips on the vlan’s so we know they can see each vlan.

[2018-02-20 21:19] bgilbert commented on #2363
It is a valid scenario.  There are a couple errors in your config though:

1. In your `storage` section you're partitioning the `scsi` device, but your `filesystems` declaration creates an ext4 filesystem over the entire disk.
2. Your `unused`  filesystem is overwriting the entire boot disk, not just the root filesystem.

So, in both cases, be sure to specify the correct partition and not the enti

[2018-02-20 22:49] dlamotte commented on #2363
Perfect.  This makes sense to me.  I'll give it a try and update this issue.  Might be a few days before I get to it.

[2018-02-20 23:00] kbrwn commented on #2364
* Region: EU-WEST-1
* AMI ID: CoreOS-stable-1576.5.0-hvm (ami-32d1474b)
* Instance Type: c4.8xlarge

[2018-02-21 00:14] crawford commented on #2085
@dgonyeo Can you take a look at this? It would be great to be able to use these variables.

[2018-02-21 01:17] glevand opened #2366 "torcx store has archives of wrong arch"
# Issue Report #

## Bug ##

### Container Linux Version ###

Local build:

NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1688.0.0+2018-02-14-1153
VERSION_ID=1688.0.0
BUILD_ID=2018-02-14-1153
PRETTY_NAME="Container Linux by CoreOS 1688.0.0+2018-02-14-1153 (Rhyolite)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://issues.coreos.com"
COREOS_BOARD="arm64-usr"

### En

[2018-02-21 01:25] euank commented on #2366
The files are copied into the image [here](https://github.com/coreos/scripts/blob/575f7cdf63e095e272d4dc0fc33f1c180020685a/build_library/build_image_util.sh#L433-L452).

It looks like a few other bits of code near there use `FLAGS_board`, not `BOARD`; want to check if that's the issue?

[2018-02-21 02:11] NiraliSupe opened #2367 "Compatibility of HPE FlexFabric 10Gb 2-port 534FLB Adapter with coreos"
# Issue Report #

## Bug ##

For Fibre channel storage (FCoE), I am using HP FlexFabric 10Gb 2-Port 534FLB Adapter. It is a converged network Broadcom adapter.
I opened discussion on CoreOS user group about the compatibility of this adapter with CoreOS and found out that currently, CoreOS don't have the kernel driver that supports FCoE offload (config option SCSI_BNX2X_FCOE).
**Link to the discuss

[2018-02-21 03:26] dm0- commented on #2366
It looks like containerd cross-compilation broke with 1.0.1 (Docker 18.02).  I can look into it tomorrow unless you want to handle it.

[2018-02-21 13:19] tormodatt commented on #968
I can confirm that we can join our AD without any additional tools (stable 1632.2.1). I just got it up and running in dev now.

For those interested, my ignition file looks like this:

    storage:
      files:
        - path: /etc/krb5.conf
          filesystem: root
          mode: 0644
          contents:
            inline: |
              [logging]

              [libdefaults]
              d

[2018-02-21 14:44] squeed commented on #2365
If I understand this correctly, you are boding two interfaces, then adding that bonded interface to a bridge. In this case, only the bridge should have an address set.

[2018-02-21 14:55] dstuart commented on #2365
Yes, it may well be an "us" setup issue. We were able to configure but had to add Dynamic Link Aggregation and the production network is tagged with vlan 2 tags. We will post our config once it works to help anyone else as we had to dig around in a bunch of different location to pull together the config

[2018-02-21 15:29] ollivers opened #2368 "Please add CONFIG_SCSI_SMARTPQI=m for HPE Proliant Gen10 smartarray controller"
# Issue Report #

## Feature Request ##

### Container Linux Version ###

[code]

### Environment ###

### Expected Behavior ###

### Actual Behavior ###

### Reproduction Steps ###

### Other Information ###

## Feature Request ##

(Y)

### Environment ###

Baremetal (HPE Proliant DL360p Gen10)

### Desired Feature ###

Please add CONFIG_SCSI_SMARTPQI=m
for installing to Gen10 SmartArray Controll

[2018-02-21 16:08] chrbayer84 commented on #2356
Is this issue related? https://github.com/coreos/bugs/issues/2364
We are also running on a c4 instance.

[2018-02-21 16:09] chrbayer84 commented on #2364
I encountered a very similar kernel panic on a c4 instance in AWS as well: https://github.com/coreos/bugs/issues/2356

[2018-02-21 16:39] dm0- commented on #2368
This was done in coreos/coreos-overlay#3083 and will be in the alpha release next week.

[2018-02-21 18:44] redbaron commented on #2357
@dm0-  patch was pulled into 4.14-stable branch and will be released in 4.14.21: https://git.kernel.org/pub/scm/linux/kernel/git/stable/stable-queue.git/commit/?id=a9ca15212fc81273f4f9f5efdececda0d4c06808

[2018-02-21 18:50] dm0- commented on #2357
Thanks, it looks like it will be released Friday, so I will update to it then to get it into next week's alpha.

[2018-02-21 18:54] redbaron commented on #2357
Any chance kernel can be updated in stable without rest of updates?

[2018-02-21 19:11] dm0- commented on #2357
Yes, we update the LTS kernel in all channels.  The next stable minor release isn't scheduled, though, so the kernel update will be queued for release whenever there is an important security issue or bug fix that warrants it.  (Unless a beta gets promoted to stable first, which happens in about five weeks.)

[2018-02-21 19:29] #2368 closed

[2018-02-21 20:27] glevand commented on #2366
@dm0-  I want to look into how torcx works, so I'll try to fix it.

[2018-02-21 20:52] dm0- commented on #2366
Okay, but note that the problem is not related to torcx.  It's still broken if you run `emerge-arm64-usr containerd`.

[2018-02-22 00:44] #2366 closed

[2018-02-22 08:05] hasso opened #2369 "Crosscompiled perl segfaults"
### Container Linux Version ###

[code]

### Environment ###

SDK

### Expected Behavior ###

Although perl isn't includede in images, it's actually built I needed it to add a custom package. The problem is that crosscompiled perl doesn't work actually. Simple test in SDK:

[code]

### Actual Behavior ###

But the crosscompiled libperl segfaults:

[code]

### Reproduction Steps ###

  1. Build a S

[2018-02-22 19:56] glevand commented on #2355
Just to update, a fix was merged to upstream Gentoo and my bug report closed: https://bugs.gentoo.org/647538.

[2018-02-22 20:16] bgilbert commented on #2364
I think the soft lockup in #2356 and https://github.com/coreos/bugs/issues/2364#issuecomment-367630668 is probably different from the memory corruption originally reported in this bug.  @alexcristi, did the original crash occur repeatedly?  Was it always the same stack trace (the first one, through `kmem_cache_alloc`)?  Have you seen it since upgrading to 1632.3.0?

[2018-02-22 20:17] bgilbert commented on #2356
At first glance, #2364 appears to be a different issue.

[2018-02-22 20:46] alexcristi commented on #2364
Yes, we are seeing both type of crashes after the upgrade:
[code]

[2018-02-22 22:56] Constantin07 opened #2370 "Misleading information in Stateful root about "factory reset""
# Issue Report #

https://coreos.com/os/docs/latest/sdk-disk-partitions.html
Under `Stateful root` in my opinion is a misleading info which should be corrected:

[code]

`rm -rf` / deletes as well /boot after which kernel cannot be found so machine cannot boot.

### Container Linux Version ###
Stable 1632.3.0

### Environment ###

Any.

### Expected Behavior ###

Provide correct documentation on h

[2018-02-22 23:05] dm0- commented on #2370
Thanks for reporting this, we'll update the documentation.  You could try adding `--one-file-system` to the `rm` command.

A cleaner way may be to reformat the partition, which can be done on the same system by booting with `rd.break` on the kernel command-line to get a prompt in the initramfs so you can run `mke2fs` before changing to the file system.

[2018-02-23 10:17] Constantin07 commented on #2370
@dm0- thanks for advice `rm -rf --one-file-system --no-preserve-root /` restored to factory without executing ignition after reboot.

I believe getting a prompt at boot in AWS is not possible.

[2018-02-23 12:45] fcgravalos commented on #1859
Using official container images and recommendations should make us feel comfortable I guess. From puppet registry:

https://hub.docker.com/r/puppet/puppet-agent-alpine/

`docker run --rm --privileged --hostname agent -v /tmp:/tmp -v /etc:/etc -v /var:/var -v /usr:/usr -v /lib64:/lib64 --link puppet:puppet puppet/puppet-agent-alpine`

[2018-02-23 15:14] lucab commented on #2276
I took the unrelated PR at https://github.com/coreos/docs/pull/1213 to slightly relax the terminology. I still prefer the term "factory reset" for clarity, so I suggest to reintroduce it (if possible) once the investigation here is over.

[2018-02-23 15:15] lucab commented on #2370
@Constantin07 thanks for checking and reporting back! I've amended the docs with your suggestion at https://github.com/coreos/docs/pull/1213.

[2018-02-23 15:30] dlamotte commented on #2363
So, I tried this and `ignition-disks` fails during first boot but there is no clear error.  I can see the proper path (`/dev/disk/by-path/pci-0000:18:00.0-scsi-0:2:0:0`) in the emergency shell.  But for some reason, `ignition-disks` gives up with exit status 1.

Failing that, I attempted to do the equivalent as the ignition steps in a shell script during PXE (before ignition's first boot attempt)

[2018-02-23 15:30] #2363 closed

[2018-02-23 18:38] dm0- commented on #2355
Thanks for getting that upstream, we've applied the update in portage-stable.

[2018-02-23 18:39] #2355 closed

[2018-02-23 23:38] bgilbert commented on #2363
For the record, if you can get to the emergency shell, `journalctl -t ignition` should give you more information about the Ignition failure.

[2018-02-24 03:56] Iodun commented on #2215
Is this project still on track? :)
According to the CoreOS Blog Torcx is planned to be fully implemented at May 23, 2018.

[2018-02-24 06:24] Quentin-M opened #2371 "[AWS EBS] NVMe sometimes fails to attach"
# Issue Report #

### Container Linux Version ###

[code]

### Environment ###

- AWS EC2 `m5.xlarge` instance
- Encrypted EBS gp2 volume attached as `/dev/xvdba`

### Expected Behavior ###

Every single AWS EBS NVMe volume gets attached to the nodes.

### Actual Behavior ###

Some volumes fail to be brought up by the kernel:
[code]

Some similar volumes actually attached successfully:
[code]

[co

[2018-02-25 09:04] Quentin-M commented on #2371
I am not entirely sure of the exact situation that re-creates that issue. It might be / have been an issue on AWS's side.

I have spawned and attached ~300 volumes tonight, on both 1632.2.1 / 1632.3.0 and haven't reproduced it. Only saw a few volumes stuck in attaching state, but at this stage, it doesn't even reach the instance/OS anyways. However, the past two days, I've seen a few volumes not b

[2018-02-25 11:37] lucab commented on #2371
We have seen reports of several hiccups specific to m5 instances (lockups, long pauses): https://github.com/coreos/bugs/issues/2326.

Is this NVMe attach failure specific to this kind of instances? If so, you may want to check with AWS support to see if they already have some ticket related to this.

[2018-02-25 11:38] lucab commented on #2370
Closes via https://github.com/coreos/docs/pull/1213

[2018-02-25 11:38] #2370 closed

[2018-02-26 02:57] Winnie81 opened #2372 "Updating CoreOS will not update open-vm-tools"
# Issue Report #

Updating CoreOS will not update open-vm-tools

### Container Linux Version ###

NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1409.6.0
VERSION_ID=1409.6.0
BUILD_ID=2017-07-06-0128
PRETTY_NAME="Container Linux by CoreOS 1409.6.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://issues.coreos.com"
COREOS_BOARD="amd64-usr"

### Environment #

[2018-02-26 02:59] Winnie81 commented on #2372
@john Savanyo jsavanyo@vmware.com
@Oliver Kurth <okurth@vmware.com>

[2018-02-26 09:29] fcgravalos commented on #1859
Hi @crawford !

Is this something you think CoreOS still wants to work on? Does CoreOS still see the lack of CM support an issue? I want to make a decision, I'd rather go with CoreOS native solution but I need to understand if after a year CoreOS is still committed to work on this or if they have changed their vision about this.

Thanks!!

[2018-02-26 16:29] redbaron commented on #2357
@dm0- ,  is there an easy way to rebuild stable image with 4.14.21 kernel locally?

[2018-02-26 16:36] dm0- commented on #2357
You could run this in the SDK:

    repo init -b build-1632
    repo sync
    ./build_packages
    ./build_image

Then use the `image_to_vm` script if necessary to build a platform-specific image format.

[2018-02-26 16:46] dm0- commented on #2357
Oh, and I forgot our test images are public, so you could download this image (which also has a signature): http://builds.developer.core-os.net/boards/amd64-usr/1632.3.0%2Bjenkins2-build-1632%2Blocal-1195/coreos_production_image.bin.bz2 .  Note that is stable with 4.14.22.

[2018-02-26 21:27] crawford commented on #1859
We aren't actively working on supporting CM tools, though I suspect many of those tools have made significant progress toward being able to run in a container (e.g. [Puppet](https://hub.docker.com/r/puppet/puppet-agent/) and [Ansible](https://hub.docker.com/r/ansible/ansible/)). CoreOS has moved in the direction of using Kubernetes to manage the cluster, though there are still many unanswered ques

[2018-02-26 21:58] euank commented on #1859
@crawford I think your original reply may have caused some confusion here, namely the portion:

Perhaps an edit note at the bottom of your original comment clarifying that there's no concrete plans could help people coming to this issue?

Tectonic/CoreOS Inc has, yes, but Container Linux is less opinionated about that. I think it's also accurate to state that Tectonic/K8s tooling has been develope

[2018-02-26 22:36] nstielau commented on #2215
@Iodun This is on track at this point.

[2018-02-26 23:27] dm0- commented on #2357
Sorry, indexes are not generated for the development bucket, and unfortunately the directory names are unpredictable due to Jenkins build numbers being included in the OS version.  There also is no easy way to determine the changes in a development build without access to an internal CI interface.  (You could technically look up the build number in https://github.com/coreos/manifest-builds/tags an

[2018-02-27 02:16] euank commented on #2357
The bucket doesn't have html indexes generated, but it's a google-cloud-storage bucket that allows anonymous read.

It can be accessed via the google cloud web console (https://console.cloud.google.com/storage/browser/builds.developer.core-os.net/boards/amd64-usr) or via `gsutil ls` and such commands.

The console link requires some form of google login, but the api doesn't (e.g. [the json list of

[2018-02-27 07:12] HeikoOnnebrink opened #2373 "CIFS mount fail with mount error(5): Input/output error"
# Issue Report #

## Bug ##

### Container Linux Version ###

1576.5.0

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

OpenStack on Intel

### Expected Behavior ###

mount CIFS share

### Actual Behavior ###

mount error(5): Input/output error
Refer to the mount.cifs(8) manual page (e.g. man mount.cifs)

### Reproduction Steps ###

1. launched a

[2018-02-27 07:15] HeikoOnnebrink commented on #2373
after review found that issue might be linked to #2204

[2018-02-27 09:53] lucab commented on #2373
@HeikoOnnebrink the fix for #2204 should be available in all channels right now. Any chance you can try on a more recent release?

[2018-02-27 10:14] HeikoOnnebrink commented on #2373
just tested with

NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1632.3.0
VERSION_ID=1632.3.0
BUILD_ID=2018-02-14-0338
PRETTY_NAME="Container Linux by CoreOS 1632.3.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://issues.coreos.com"
COREOS_BOARD="amd64-usr"

problem still there..

core@postgresqldb-aj7yg81a ~ $ docker logs -ft PGRECEIVEXLOG
2018-02-27T10

[2018-02-27 10:21] HeikoOnnebrink commented on #2373
as mentioned... **might** be linked to #2204 .. but obviously fix for #244 does not solve issue here .. just the workaround mentioned there (vers=2.1) seems to help .

[2018-02-27 10:29] lucab commented on #2373
@HeikoOnnebrink can you please check your dmesg/journal for relevant log entries? Moreover, what version of `mount.cifs` are you using? If not already, can you try with latest version (6.7, it's available in debian testing/unstable and ubuntu artful/bionic)?

[2018-02-27 10:29] HeikoOnnebrink commented on #2373
here some more details from journalctl

Feb 27 10:13:58 postgresqldb-aj7yg81a.openstacklocal kernel: No dialect specified on mount. Default has changed to a more secure dialect, SMB2.1 or later (e.g. SMB3), from CIFS (SMB1). To use the les
Feb 27 10:13:58 postgresqldb-aj7yg81a.openstacklocal kernel: CIFS VFS: validate protocol negotiate failed: -13
Feb 27 10:13:58 postgresqldb-aj7yg81a.openstacklo

[2018-02-27 10:40] HeikoOnnebrink commented on #2373
cifs-utils (2:6.4-1ubuntu1.1)

[2018-02-27 10:56] HeikoOnnebrink commented on #2373
@lucab need to checl with the guys who build the container if they can branch a version with some latest cifs .. nothing I can do right now

[2018-02-27 11:05] lucab commented on #2373
@HeikoOnnebrink thanks. However it seems more likely that is failure is due to a kernel bug. From your logs, it could be related to https://bugzilla.samba.org/show_bug.cgi?id=12917. The fix for that is not yet part of any stable kernel release at this time, but it is already staged for the upcoming 4.16.

[2018-02-27 11:12] HeikoOnnebrink commented on #2373
just to understand correct ... once kernel 4.1.6 is released it will make its way to CoreOS and get fixed by once of the CoreOS updates ?

[2018-02-27 23:19] dm0- commented on #2357
I'm going to close this issue since the fixed kernel version is queued in all channels, and beta and alpha are releasing tomorrow.

[2018-02-27 23:19] #2357 closed

[2018-02-28 07:30] bgilbert opened #2374 "Network bonding driver fails to enable interface, spams log"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

Packet

### Expected Behavior ###

Working network.

### Actual Behavior ###

On some boots, networking is unreliable.  The kernel log gets a message every 2 ms:

[code]

### Reproduction Steps ###

  1. Boot Container Linux on a Packet type 1 instance.

### Other Information ###

Related to, but seemingly n

[2018-02-28 14:03] jzampieron commented on #1996
Any progress being made here? The ability to use Ignition to provision LVM volumes is very desirable.

[2018-02-28 18:49] truck0321 commented on #2230
I have a similar problem on ESXi 6.5 that I posted here: [https://github.com/coreos/tectonic-forum/issues/273](url)

[2018-03-01 00:58] glevand commented on #2372
open-vm-tools is now at v10.1.10. @Winnie81 What version do you get?
See: https://github.com/coreos/coreos-overlay/commit/3b95fcdbde1c1e2c051d335c6

[2018-03-01 01:15] Winnie81 commented on #2372
@glevand It is still 10.1.5.59732, and which is ovt of 1409.6.0.

[2018-03-01 09:28] Winnie81 commented on #2041
@crawford Sorry for the delay. Yes, I set guestinfo.coreos.config.data as this:
guestinfo.coreos.config.data = "xxxx"
guestinfo.coreos.config.data.encoding = "base64"
then added above configurations. But I still got "failed to fetch config: not a config (empty)". According to https://coreos.com/os/docs/latest/booting-on-vmware.html, Ignition config could be defined in Guestinfo. Please correct me

[2018-03-01 09:49] lucab commented on #2372
Just to confirm @Winnie81 report: indeed, ContainerLinux update mechanism (via `update_engine`) does not currently update the OEM partition, which is were `open-vm-tools` is located. Thus the version which was initially installed will persist across updates.

This is an unfortunate limitation of the update mechanism, and it is related to the fact that there are no [allocated](https://coreos.com/os

[2018-03-01 19:32] crawford commented on #2041
This needs to be done _before_ the first boot since Ignition only runs once. After setting these options in the VMX, can you run `journalctl -b -t ignition --no-pager` and `/usr/share/oem/bin/vmtoolsd --cmd 'info-get coreos.config.data'` (that command is from memory, so it might need to be tweaked). This will tell me if your changes in the VMX took effect and if Ignition recognized them.

[2018-03-01 23:47] martynd opened #2375 "1688.1.1 Beta - Deadlock in kernel 4.14.22 (Already fixed upstream in 4.14.23)"
# Issue Report #

## Bug ##

Beta release has a kernel issue resulting in socket deadlocks requiring a hard reboot of machines

### Container Linux Version ###

[code]

### Environment ###
Bare metal setup, nothing out of the ordinary

### Expected Behavior ###
Socket usage not causing deadlocks after certain netfilter actions take place

### Actual Behavior ###
Socket usage causes deadlocks due t

[2018-03-02 00:30] ajeddeloh commented on #1996
We're working on expanding the GPT partitioning logic to be more useful first. We want to be able to support semantics similar to the [filesystem refuse semantics](https://github.com/coreos/ignition/blob/master/doc/operator-notes.md#filesystem-reuse-semantics) to better support people PXE booting with a persistant root. It's tricky and there's lots of gotchas so we're ironing those out with GPT pa

[2018-03-02 07:29] Winnie81 commented on #2041
@crawford
I tested it as below steps:
1. Install a new VM.
2. Modify its vmx file, and insert these configurations:
      guestinfo.coreos.config.data="ewogICJpZ25pdGlvbiI6IHsgInZlcnNpb24iOiAiMi4wLjAiIH0KfQo="
      guestinfo.coreos.config.data.encoding = "base64"
      guestinfo.hostname = "WinnieCore1632_ens192"
      guestinfo.interface.0.name = "ens192"
      guestinfo.interface.0.dhcp = "no"

[2018-03-02 07:35] Winnie81 commented on #2041
@crawford
I tested it as below steps:

Install a new VM.
Modify its vmx file, and insert these configurations:
guestinfo.coreos.config.data="ewogICJpZ25pdGlvbiI6IHsgInZlcnNpb24iOiAiMi4wLjAiIH0KfQo="
guestinfo.coreos.config.data.encoding = "base64"
guestinfo.hostname = "WinnieCore1632_ens192"
guestinfo.interface.0.name = "ens192"
guestinfo.interface.0.dhcp = "no"
guestinfo.interface.0.role = "publi

[2018-03-02 13:19] schu opened #2376 "ignition: systemd service remains disabled"
I want to enable the `iptables-restore.service` (included in Container Linux by default, but disabled) from ignition, the relevant part of my config looks like

[code]

But the services remains in state disabled. Is something wrong or missing here?

Container Linux 1632.3.0

[2018-03-02 13:28] lucab commented on #2376
Before starting to investigate this, can you please check and attach anything relevant from [ignition logs](https://coreos.com/ignition/docs/latest/getting-started.html#gathering-logs)? Moreover, what do `sudo systemctl status iptables-restore` and `sudo ls -la /etc/systemd/system/*` say?

[2018-03-02 14:26] bgilbert commented on #2376
That CLC fragment worked for me in a quick test.

[2018-03-02 14:33] schu commented on #2376
Ah, I didn't know the logs are available in journald. There I see

[code]

The rendered config looks like

[code]

I used ct v0.7.0

I manually enabled the service on the system meanwhile but before it was disabled.

Thanks.

[2018-03-02 14:41] bgilbert commented on #2376
It should be impossible to get the rendered config you provided: ct < 0.5.0 doesn't recognize `enabled`, and ct &ge; 0.5.0 won't emit a version 2.0.0 config.  Ignition is rejecting the `enabled` key because that is only supported in configs &ge; 2.1.0.  Are you passing the Ignition config through any other tooling?

[2018-03-02 14:47] arithx commented on #2376
The `enabled` field for systemd units is not valid in an Ignition `2.0.0` config. ct v0.7.0 produces Ignition version `2.1.0` configs (where `enabled` is a valid field), when ran on my local system with the config:

[code]

produces

[code]

[2018-03-02 14:51] schu commented on #2376
Found the issue: I had used ct v0.7.0 but actually manually merged the systemd part of the new config with an older file in the project, hence the discrepancy (2.0.0 vs 2.1.0). Sorry for the noise and thank you for the quick help!

[2018-03-02 14:51] #2376 closed

[2018-03-02 15:09] arithx commented on #2041
@Winnie81 can you try to set the `guestinfo.coreos.config.data` via vApp properties and see if Ignition detects the config that way?

If so try disabling the vApp properties and then setting them via the vmx.

[2018-03-02 16:20] bgilbert commented on #2041
@Winnie81 From your screenshots, Ignition is successfully reading your config, which means that it's preventing coreos-cloudinit from running, which means that your other guestinfo settings are not being read.

[2018-03-02 16:28] arithx commented on #2041
@bgilbert: Isn't that just the base config for the vmware oem?

[2018-03-02 16:34] bgilbert commented on #2041
@arithx The first one is.  The second one corresponds to the base64 decode of `ewogICJpZ25pdGlvbiI6IHsgInZlcnNpb24iOiAiMi4wLjAiIH0KfQo=`.

[2018-03-02 16:38] arithx commented on #2041
Ah I missed that the user config was just a blank config.

[2018-03-03 13:48] bgilbert commented on #2375
Fixed in alpha 1702.1.0 and beta 1688.2.0.  Thanks for the report.

[2018-03-03 13:48] #2375 closed

[2018-03-04 00:14] ruyrybeyro commented on #1377
It is happening to me deploying a OpenBSD 6.2 box with Vagrant+VMWare Fusion 10 and High Sierra as of today...

[2018-03-05 02:16] Winnie81 commented on #2041
@bgilbert Thanks. I knew Ignition has run and I'm wondering how I could pass my network settings to vm through Ignition since this page https://coreos.com/os/docs/latest/booting-on-vmware.html#container-linux-configs said Ignition config could be defined in Guestinfo.
Thanks a lot.

[2018-03-05 20:57] ajeddeloh commented on #2336
I've been digging, gunna dump what I've found so far:
 - Toggling the link up and down (e.g. with `ip link set eth0 down && ip link set eth0 up`) fixes the issue
 - Links on machines that fail never get IPv6 addresses (unless the link is toggled)
 - [This branch](https://github.com/systemd/systemd/blob/master/src/network/networkd-link.c#L1691) is taken on machines that work but not on machines tha

[2018-03-06 00:28] crawford commented on #2041
@Winnie81 You can write networkd configs using Ignition. Just take the other options you tried to use (`guestinfo.interfaces` and `guestinfo.dns`) and translate them into a `.network` unit.

[2018-03-06 03:19] Winnie81 commented on #2041
@crawford Could I do it by modifying vmx file as mentioned above? Referring to your page of https://coreos.com/os/docs/latest/booting-on-vmware.html#container-linux-configs introduces. I would be much appreciated if you could tell me where I was wrong.

[2018-03-06 17:56] arithx commented on #2041
@Winnie81 you can indeed modify the vmx file. Ignition only uses the value of the `guestinfo.coreos.config.data` field, so you'd need to construct an Ignition config that configures the networking, base64 it and include it in that field.

The other `guestinfo` fields are only read if an Ignition config is not provided, which explains why they're not taking effect here.  We recommend configuring ne

[2018-03-06 17:58] snoopsean commented on #2041
@Winnie81  This is super basic so it doesn't have everything you need, just a password and a ip address and gateway.

Use the below to generate an ignition file.
Once you get that ignition file, copy and paste the contents of it, and base64 encode it.
Then set guestinfo.coreos.config.data to the base64 contents, and set guestinfo.coreos.config.data.encoding to base64 through vmware vcenter.

Every

[2018-03-06 18:00] snoopsean commented on #2041
@crawford  @arithx  I think the confusion is about ignition only running during first boot. While iginition is set to only run during first boot, the directions at https://coreos.com/os/docs/latest/booting-on-vmware.html seem to indicate that you can edit the vmx file, and then reboot and it will read the ignition config.

In reality, you would have to shut down the machine, edit the vmx file, reb

[2018-03-06 18:26] cwhits opened #2377 "Upgrade VMware hardware version for Spectre/Meltdown mitigation"
Similar to #135, it'd be nice to see the VMware hardware version be upgraded again, to 9 at a minimum.

[According to VMware](https://kb.vmware.com/s/article/52085), Virtual Hardware Version 9 is minimum requirement for Hypervisor-Assisted Guest Mitigation for branch target injection (CVE-2017-5715).

[2018-03-07 10:18] redbaron opened #2378 "Consider enabling debug/fortify features in kernel"
## Feature Request ##

When tracking down cause of https://github.com/coreos/bugs/issues/2357 I tried to replicate problem in Fedora and found error message there was much more helpful.  While in CL memory was silently corrupted and kworkers were in infinite spin, on Fedora kernel was able to detect it with messages like:

[code]

Same messages persisted when I was bisecting using vanilla linux, s

[2018-03-07 17:11] redbaron opened #2379 "Failing transient systemd mount units"
# Issue Report #

## Bug ##

When stress testing our iSCSI setup I created tens of pods with dynamically provisioned PVs and removed them in a loop.  Systemd transient mount errors start to accumulate:

[code]

[code]

### Container Linux Version ###
[code]

### Environment ###

Baremetal + NetApp ONTAP over iSCSI for PersistentVolumes

### Other Information ###

Looks like https://github.com/kube

[2018-03-07 17:20] redbaron commented on #2379
I just noticed, that all mounts are from iSCSI session, which  kubelet logs out from when last PV is removed. Probably it does it too quick, so systemd has no chance to settle, so probably it is entirely different bug, from what I initially thought.

[2018-03-07 17:45] glevand commented on #2378
Looking at the latest alpha [kernel config](https://alpha.release.core-os.net/amd64-usr/1702.1.0/coreos_production_image_kernel_config.txt) I see:

    CONFIG_BUG_ON_DATA_CORRUPTION is not set
    CONFIG_KCOV is not set

@redbaron I makes sense that fedora has kernel debugging enabled since fedora is generally on the raw edge in what features it has.  Does RHEL have CONFIG_BUG_ON_DATA_CORRUPTION e

[2018-03-07 18:08] redbaron commented on #2378
There is no such param either set or not set in Centos kernel KConfig: https://git.centos.org/blob/rpms!kernel.git/187831e0f733857d33b9a8bc78df9d75fc1bb9b0/SOURCES!kernel-3.10.0-x86_64.config

[2018-03-07 18:39] ajeddeloh commented on #2379
It looks like that patch is in v237 which is in 1688.2.0, so I'd agree its probably a different bug. I assume the directory it's trying to mount to does in fact exist?

[2018-03-07 19:16] glevand commented on #2378
I made some patches to try it out: https://github.com/glevand/coreos--coreos-overlay/commits/data_corruption.

[2018-03-07 21:06] redbaron commented on #2378
Helpful list of various options https://kernsec.org/wiki/index.php/Kernel_Self_Protection_Project/Recommended_Settings

[2018-03-08 14:08] redbaron commented on #2379
Something is definitely happen on iSCSI logout :(  Tried multiple times, sometimes it ends up in following error in dmesg:

[code]

[2018-03-09 00:54] euank commented on #2333
I went ahead and opened a PR against the homebrew formula since I think it's best fixed there. I'm optimistically closing this with the hope it'll get merged/fixed over there.

[2018-03-09 00:54] #2333 closed

[2018-03-09 02:09] ill55666 commented on #2340
Same issue here.

@taadis 有解吗？

My friend chat with aliyun cs: (using their public coreos image)

<img width="575" alt="screen shot 2018-03-09 at 10 01 11" src="https://user-images.githubusercontent.com/37199447/37186528-ee59f1ec-2380-11e8-82d4-f78178268b97.png">

Summary:

The image is not owned by them.
You need debug by yourself. 😭

[2018-03-09 06:22] ill55666 commented on #2340
Finally, i know how to fix this.
The reason is aliyun ecs may not support overlay [storage driver](https://docs.docker.com/storage/storagedriver/select-storage-driver/#docker-ce),
you need manually changing it to devicemapper.

see https://github.com/moby/moby/issues/23930#issuecomment-337413837

Full script:

[code]

[2018-03-09 06:45] ill55666 commented on #2340
BTW,
The engineer just reply us with NO solution and suggest us to use their container service...
😠

[2018-03-09 07:56] darktall opened #2380 "docker failed to start os version 1632.3.0 ( help needed)"
i updated coreos machine from 15.x to DISTRIB_RELEASE=1632.3.0  facing issue with docker daemon.
using default  docker start up script which come from coreos.  its not  able to start docker service. i deleted   /var/lib/docker  and restarted  the box still its not getting started. All i am seeing logs as below.

journal logs for docker in docker mode

nstalled deserialized job docker.service/start

[2018-03-09 08:29] taadis commented on #2340
@ill55666 同感

[2018-03-09 08:32] taadis commented on #2340
@ill55666 给你看看阿里某工程师的解决方案:
[code]
好一个解决方法...

[2018-03-09 16:04] lorenz commented on #1683
I'd like to shift the focus of this bug towards providing official CoreOS developer container images since these are by far the best way to build for CoreOS. The systemd-nspawn images are bad for automation and most people that have published kernel module builds for CoreOS build their own docker images from the official ones, which is duplicated effort.

I have a process documented (and internall

[2018-03-09 21:16] glevand commented on #1279
@joshix I think your expected result is the problem, and that audit support is working correctly.

The file name ordering only dictates the order that the rule files are processed (`augenrules --load` uses `ls -1v /etc/audit/rules.d`).  This is working correctly, and viewing `/etc/audit/audit.rules` will confirm it.

The rule ordering is only relevant to rules that are order dependent like 'list a

[2018-03-09 21:36] dm0- commented on #1279
Thanks for looking into this.

[2018-03-09 21:36] #1279 closed

[2018-03-09 22:01] euank commented on #2340
Changing the overlay driver or selinux config shouldn't be necessary. It sounds like the Container Linux image being used might be broken, or the instance's storage might be misbehaving.

Unfortunately, since we don't publish or support those images, I don't think there's much we can do on our end to fix these problems.

If you do run into this issue on another platform or find more information ab

[2018-03-09 22:01] #2340 closed

[2018-03-09 22:13] euank commented on #2380
@darktall Can you fill out the other information listed in the [issue template](https://github.com/coreos/bugs/blob/master/ISSUE_TEMPLATE.md), such as the environment?

Mind clarifying what you mean by that?

[2018-03-10 00:55] glevand opened #2381 "audit: never,exclude SYSCALL filter doesn't work"
# Issue Report #

## Bug ##

Related to https://github.com/coreos/bugs/issues/140

[code]

### Actual Behavior ###

Audit doesn't seem to do the right thing when setting a `never,exclude` rule to not filter msgtype SYSCALL messages.  There could be other msgtypes with the same behavior.

The problem this causes is that if a user wants to add an audit rule file in
/etc/audit/rules.d/ to get SYSCALL

[2018-03-10 01:29] JonasProgrammer commented on #2360
It seems to be an issue with the controller. When doing some board configuration, I discovered that I had enabled Legacy Option ROM support.
With this enabled the controller would show it's BIOS and virtual drive list during boot, but be inaccessible from the operating system (which is booted using Legacy PXE and lpxelinux.0 without any UEFI being involved). With OptionROM support set to UEFI only

[2018-03-10 01:29] #2360 closed

[2018-03-10 03:58] darktall commented on #2380
@euank  Thank you. I added useful report.

Issue Report
Bug
Container Linux Version
$ cat /etc/os-release

NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1632.3.0
VERSION_ID=1632.3.0
BUILD_ID=2018-02-14-0338
PRETTY_NAME="Container Linux by CoreOS 1632.3.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://issues.coreos.com"
COREOS_BOARD="amd64-usr"

Environm

[2018-03-12 18:23] #2346 closed

[2018-03-13 15:47] lorenz commented on #1862
Intel have released [stable microcode](https://downloadcenter.intel.com/download/27591/Linux-Processor-Microcode-Data-File) for Spectre mitigation (at least down to Sandy Bridge). The newer version available message is wrong, the linked download is the latest release.

[2018-03-14 12:55] ajeddeloh commented on #2380
Is the systemd unit cut off? It ends in `$DOCK`? Can you edit `/etc/systemd/system.conf` to set the log level to debug, run `systemctl daemon-reload` and then see if the logs have anything more of interest in them?

[2018-03-14 13:28] darktall commented on #2380
@ajeddeloh  i enabled LogLevel=debug the above are the logs that i gathered after enabling systemd loglevel in debug mode.

What else i need to provide more. please let me know.

[2018-03-14 16:46] cehoffman commented on #2359
Had this happen again on 1632.3.0. A drain of the pods on the node had been issued because of a problem with the physical disk. The drain stalled because infinite wait for unregister on eth0.

[2018-03-14 18:45] squeed opened #2382 "Kernel panic with vxlan in openvswitch (via openshift)"
# Issue Report

The Openshift openvswitch-based network kernel panics as soon as a pod receives a packet from an external node.

## Bug ##

### Container Linux Version ###
1688.3.0

### Environment ###
libvirt+qemu

### Reproduction Steps ###
This is a bit complicated. I have a hybrid OpenShift cluster on qemu, where some workers are CentOS and some are Container Linux (don't judge)

I've got a sc

[2018-03-14 20:10] dm0- commented on #1862
Thanks, this will be in the next alpha (planned for release on Monday).

[2018-03-15 02:25] congjie commented on #2340
这个问题我的一个解决方案，修改/etc/selinux/config 改SELINUX=disable 改成 SELINUX=permissive

[2018-03-15 10:29] SpComb commented on #2382
The same issue also affects Weave on CoreOS beta: https://gist.github.com/SpComb/bc439fcda4ff9d54105c28bfd4a44916

I fear that promoting CoreOS 1688.3.0 to stable would cause serious damage to weave users... the resulting kernel panic also shows up as corrupted Docker images for me (files truncated to zero bytes).

[2018-03-15 10:35] SpComb commented on #2382
CoreOS alpha 1702.1.0 on Linux 4.15.7-coreos seems fine, weave launches and works without any kernel warnings.

Seems to be something specific to the CoreOS beta 1688.3.0 Linux 4.14.24-coreos kernel. The CoreOS stable 1632.3.0 Linux 4.14.19-coreos kernel is working fine.

[2018-03-15 10:52] SpComb commented on #2382
Repro steps with weave:

1. `wget https://github.com/weaveworks/weave/releases/download/v2.2.1/weave && chmod +x weave`
2. `./weave launch <peer IP>`
3. Wait for both peers to connect, and then use the serial console to observe the kernel panic

This is probably specific to openvswitch + vxlan, so I don't think it will happen on e.g. flannel?

[2018-03-15 11:10] SpComb commented on #2382
This is probably the commit in the v4.14.24-coreos branch introducing the panic: https://github.com/coreos/linux/commit/4699beb7712768c38d009301a2d20f1f1e567294#diff-4f541554c5f8f378effc907c8f0c9115

This upstream commit pretty clearly references this kernel panic: https://github.com/torvalds/linux/commit/f15ca723c1ebe6c1a06bc95fda6b62cd87b44559#diff-4f541554c5f8f378effc907c8f0c9115

[2018-03-15 14:58] dlamotte opened #2383 "Feature: please add arptables binary to Container Linux"
# Issue Report #

## Feature Request ##
Please add `arptables` binary to Container Linux.  (the corresponding `arp_tables` kernel module is already available)

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

Bare metal.

NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1632.3.0
VERSION_ID=1632.3.0
BUILD_ID=2018-02-14-0338
PRETTY_NAME="Container

[2018-03-15 16:02] wmark commented on #1862
FYI, **grub 2.04** is expected to support *early-initrd image loading*, specifically for the use-case of *microcode updates*.

http://git.savannah.gnu.org/cgit/grub.git/commit/?id=a698240df0c43278b2d1d7259c8e7a6926c63112
via: https://bugs.gentoo.org/645088

Could be handy to roll out your *grub* binary with this.

[2018-03-15 17:36] malcolmm83 commented on #147
I'd like to use idmapd on CoreOS.  What do I have to do to set the domain?  (normally I would just edit /etc/idmapd.conf).  Also, nfs-idmapd had a dependency on nfs-server (why, I don't know) which won't start because /etc/exports is missing.  Sorry to post here, but it's the only reference to this I could find anywhere.

[2018-03-15 18:05] squeed commented on #2382
Good find.
It looks like the the bad patch was backported to 4.14.24, but the fix is only in 4.15. We should probably request that the fix be [backported to 4.14](https://www.kernel.org/doc/html/v4.14/process/stable-kernel-rules.html)

[2018-03-15 18:43] dgonyeo commented on #2383
Would running the `arptables` binary in a docker container with `--net=host` not be sufficient?

[2018-03-15 18:44] dlamotte commented on #2383
For sure.  That's what I'm doing right now.  Just thought it'd be nice to actually just have it as part of the image and wanted to ask.

[2018-03-15 18:59] bgilbert commented on #1862
@wmark Container Linux uses neither `grub-mkconfig` nor a separate initrd (ours is actually compiled into the kernel), so that patch isn't relevant to us.  Thanks for the pointer, though!

[2018-03-15 21:59] lorenz commented on #1862
@dm0- One more thing if you're intending to release 1688.x as stable on monday too: It currently ships 0x23 for Haswell which Intel pulled later on for causing issues. So the current beta is still shipping buggy microcode (at least for some processors) and should probably not be released to stable.

[2018-03-15 23:15] cdosborn commented on #1744
I came across this error (not in coreos), the following command resolved the issue, which appears to be a bug in systemd
[code]

[2018-03-15 23:46] euank commented on #2383
We do generally add common/small networking tools since networking problems may make it difficult to run a container at all.
Adding this seems reasonable to me.

[2018-03-16 01:10] gcyre opened #2384 "Read only file system error creating container"
# Issue Report #

When creating a Splunk forwarder container through kubernetes, pod gets into CrashLoopBackOff with error Read-only file system

## Bug ##

### Container Linux Version ###
docker://17.9.1
[code]
### Environment ###
What hardware/cloud provider/hypervisor is being used to run Container Linux?
On-prem kubernetes cluster (v1.9.4)
- 3 master nodes (all vmware)
- 3 worker nodes (2 vmwa

[2018-03-16 07:20] dghubble commented on #2384
I think this is the (breaking imo) change Kubernetes v1.9.4 introduced, not related to Container Linux. Effectively, Secret, configMap, downward API, and projected volumes are now read-only. https://github.com/kubernetes/kubernetes/pull/58720

This causes issues for various applications which chown or otherwise manipulate their configs. https://github.com/grafana/grafana-docker/issues/140

[2018-03-16 07:54] AshleyByeUK commented on #2297
@charandas Trying to do a similar thing. Wondering what version of packer you are using? I don't see the `v_app_properties` option in the docs for the `vsphere-template` post-processor and if I try to use it, packer throws an error.

[2018-03-16 13:03] gcyre commented on #2384
Thanks for the quick response, that worker node does have 1.9.4 installed and you are correct this is a breaking change. :(

I'll contact the vendor and see if there is an update.

thanks again!

[2018-03-16 14:14] charandas commented on #2297
@AshleyByeUK if you look closely at my gist, it’s comments specifically point out the fact that you would need to use my post-processor fork:

https://gist.github.com/charandas/dc99c36bd97c1baa3e23d4ecba6beb4a

[2018-03-16 14:49] lucab commented on #2384
@dghubble @gcyre thanks both for the followups. It looks like this is the new behavior introduced to fix [CVE-2017-1002102](https://github.com/kubernetes/kubernetes/issues/60814), and it affects all latest k8s releases from 1.7.x to 1.10.x.

I'm closing this as it isn't a ContainerLinux bug, and the behavior reported seems to be the intended one after the security fix. Container images will likely

[2018-03-16 14:49] #2384 closed

[2018-03-16 17:25] AshleyByeUK commented on #2297
Thanks. I completely missed the comments at the bottom when I first read it.

[2018-03-19 13:00] jbguerraz commented on #1707
Facing the same issue here. Going to move back to NTPD as well.

[2018-03-19 14:19] maxkondr opened #2385 "udevadm is required for hyperkube"
# Issue Report #

## Question ##

### Container Linux Version ###

[code]

quay.io/coreos/hyperkube:v1.9.2_coreos.0
cloud-provider: OpenStack

To be able to provision volumes on cloud-provider it is needed to mount and format disk to particular VM and pod. The kubelet is run using hyperkube and it required udevadm tool to perform mentioned task.

Hyperkube itself doesn't have udevadm included so I

[2018-03-19 14:27] lucab commented on #2385
You are not supposed to bind-mount dynamic binaries and libraries, as there is no guarantee that the two environments will be ABI-compatible.
If hyperkube requires `udevadm`, it likely has to be included in the container image (please note that I don't know the specific details about hyperkube->udevadm dependency).

/cc @rphillips

[2018-03-19 15:08] maxkondr commented on #2385
@lucab
thank you for explanation. I will follow https://github.com/kubernetes/kubernetes/issues/61356.

[2018-03-19 15:10] rphillips commented on #2385
@maxkondr thanks for reporting the bug.

[2018-03-19 22:45] poettering commented on #1707
hmm, if this is still relevant, please file a bug on systemd github, explaining the situation briefly. THis looks like something we should fix in timesyncd if this is still an issue. That said,  https://bugs.freedesktop.org/show_bug.cgi?id=87505 has long been closed under the assumption this was fixed comprehensively.

[2018-03-20 00:19] ajeddeloh commented on #2380
Can you run jouranclt with `UNIT=docker.service + _SYSTEMD_UNIT=docker.service + _PID=1`? Logs from when a unit is just being started sometimes aren't logged with _SYSTEMD_UNIT which `journalctl -u` is specifying.

Can you try with alpha or beta, just to help narrow down the problem?

Is there anything notable in your ignition config or cloud config?

[2018-03-20 07:21] darktall commented on #2380
i disabled and stopped flannel. docker started successfully after flannel service stopped.
Please close this ticket.

journactl UNIT=docker.service + _SYSTEMD_UNIT=docker.service + _PID=1 really helped me.

Thank you.

[2018-03-20 07:21] #2380 closed

[2018-03-20 11:50] thomasmortensson opened #2386 "Ignition appears to ignore proxy environment variables for http requests"
# Issue Report #

## Bug ##
Ignition appears to ignore proxy environment variables for http requests.

### Container Linux Version ###

[code]

### Environment ###

kubernetes-anywhere deployment
https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/vsphere/README.md

Using vsphere as deployment mechanism.

ignition:
docker.io/cnastorage/k8s-ignition:v2

### Expected Behavior ###
Ex

[2018-03-20 13:18] lucab commented on #2386
Thanks for the report. I think this is related to https://github.com/coreos/ignition/pull/507, which is currently blocked on some tests being added to cover the new feature.

[2018-03-21 03:38] evat-pm opened #2387 "Azure Basic Metrics (waagent) not emitting data"
# Issue Report #

Running kubernetes cluster on CoreOS Azure VM, and used Azure's Basic Metrics (not OMS) to collect Memory from the Guest OS.  While waagent appears to be running, and there is no other indication of a problem or connectivity issue in waagent log, no data is being collected.

Most recent log output after restarting (no errors on restart of waagent):
[code]

The Azure security grou

[2018-03-21 06:48] mindw commented on #2275
@Sodki the above comment is no longer present in the above link.

[2018-03-21 07:57] zq-david-wang commented on #2320
https://github.com/containerd/containerd/issues/1882

I think the issue mentioned in upper link is the exact the same. The fix is in containerd 1.0.2, when would this fix merged into CoreOS docker?

[2018-03-21 09:25] Sodki commented on #2275
@mindw Correct, I've tested with an M5 instance and it's working.

[2018-03-21 15:46] evat-pm commented on #2387
Closing.  But it would be good if CoreOS could advise the best way to get guest memory OS data for Azure (there is a method that works in AWS).

Identified via Azure by looking in /var/log/azure/Microsoft.OSTCExtensions.LinuxDiagnostic/2.3.9029/extensions.log that CoreOS is not a supported distribution

[code]

[2018-03-21 15:46] #2387 closed

[2018-03-21 16:28] ajeddeloh commented on #2320
Container Linux's containerd version tracks its our docker version. Alpha typically tracks the docker edge releases which as of this moment use containerd 1.0.1 (see [the docker release notes](https://docs.docker.com/release-notes/docker-ce/#18020-ce-2018-02-07)). Once docker bumps it's containerd version to 1.0.2 it will make it's way into alpha.

[2018-03-21 21:51] Eshakk commented on #2135
Can someone please tell me how the vCPUs and PCPUs are associated in a virtualized environment ? If a task is running on vCPU 2, does it mean that it is going to be scheduled to run on PCPU 2 of the hypervisor ?

[2018-03-21 22:18] Eshakk commented on #2226
It has been identified as printk is causing the kernel hang. After analyzing the memory image(with help of VMware), we are able to find the stack trace of the task running at the time of freeze:
[code]
The above stack trace indicates that there is a bogus pointer passed to netdev_rx_csum_fault which is causing general_protection and printk to hang without releasing logbuf_lock lock.

Now, bad thin

[2018-03-21 22:35] DorianGray commented on #2382
I can confirm that backporting the patch is simple and does fix the issue

https://forum.armbian.com/topic/6793-odroid-c2-kernel-panic-on-addingremoving-veth-interfaces-quickly/?tab=comments#comment-51527

[2018-03-21 22:39] DorianGray commented on #2382
I should note, weave is used as the cluster networking layer.

[2018-03-22 08:42] SpComb commented on #2382
BTW: the patch in the linked forum thread is not a backport of the fix from 4.15, it's a revert of the problematic commit in 4.14.

[2018-03-22 20:01] DorianGray commented on #2382
updated original to reduce confusion, sorry about that.

[2018-03-22 21:25] cgwalters commented on #2367
FWIW I just checked that this is enabled at least in the Fedora kernel:

[code]

[2018-03-22 22:11] dm0- commented on #1862
@lorenz We've backported the latest microcode to the beta branch so that it will be promoted to the next stable.  Releases for all channels are scheduled to go out on Tuesday, so all channels should have it then.

[2018-03-22 22:29] dm0- commented on #2382
@squeed @SpComb Has the fix been [requested for backport](https://www.kernel.org/doc/Documentation/networking/netdev-FAQ.txt) to the 4.14 branch?  I didn't see it from a quick scroll through patchwork and the netdev archives yet.  I could send the request to start the process, unless one of you still plans to do it.

[2018-03-26 05:55] jmreicha opened #2388 "Ignition should support filesystem reuse semantics for partitioning"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

AWS with EBS data volume

### Expected Behavior ###

Ignition should skip trying to partition the disk if it has already been partitioned but it is not doing this.

Per another issue I tried the `wipeTable: false` and `wipeFilesystem: false` flags but they don't seem to have any effect.

### Actual Behavior

[2018-03-26 08:33] lucab commented on #2388
I think this is the expected current behavior, but it's probably under-documented.
`wipeTable` is specifically related to the disk table; if your configuration specifies partition entries, those will be created all the times.

I'm not sure if @dgonyeo or @ajeddeloh have any plans to change this behavior.

[2018-03-26 11:55] f0o commented on #1729
This is ridiculous - anything trying to incorporate ignition is taking your docs literal so all of a sudden an average system administrator will write octal as mode into for example terraform and completely mess up the ignition file in unforeseen ways.

With the recent release of ignition 2 this is still something I had to fix manually from my junior because, and I have to agree with him, it makes

[2018-03-26 16:31] jmreicha commented on #2388
@lucab Thanks for the response.  Do you know then if there's any way to do what I want?  Maybe something with Systemd?

[2018-03-26 16:47] ajeddeloh commented on #2388
Yup, working on this now. The short explanation is we want to add the filesystem reuse symantics to the partitioning code on a partition by partition level, so you'll be able to say "create this if it doesn't exist and leave it alone if it does".

In the mean time, since it looks like you're not using it for the root partition, you could probably create  do it with a systemd oneshot with Condition

[2018-03-26 21:19] Hackebein opened #2389 "ignition file mode interpretation"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

VMware ESXi 6.0

### Expected Behavior ###

File permissions 204

### Actual Behavior ###

File permissions 644

### Reproduction Steps ###

  1. Write Ignition file
[code]
  2. boot CoreOS with Ignition file via ipxe
[code]
  3. check permissions
[code]

### Other Information ###
On the first boot processes

[2018-03-26 21:27] yvsssantosh commented on #2337
Hi, I'm working on bare-metal with virtual VM's and even I have the same problem

[2018-03-27 00:03] jmreicha commented on #2388
@ajeddeloh Cool.  Any kind of an ETA for the file system reuse stuff?

[2018-03-27 00:16] ajeddeloh commented on #2388
I'm hoping to have it up for review by end of week, maybe early next week. I'm pushing changes to [my `partition-230` branch](https://github.com/ajeddeloh/ignition/tree/partition-230) if you want to take a peek. The first commit on that branch has the new docs for the feature if you want to get an idea of what it will look like from a user perspective. If you have feedback on it, feel free to comm

[2018-03-27 07:42] lucab commented on #2389
I'm closing this as a duplicate of https://github.com/coreos/bugs/issues/1729.

As explained in https://github.com/coreos/bugs/issues/1729#issuecomment-376272766 JSON integers only support base-10 notation.

[2018-03-27 08:06] lucab commented on #2389
As a sidenote, the original report is a bit confused as it shows an ignition config with `mode: 644` and a `stat` with `0644` (which is apparently fine, but it isn't the specified ignition behavior). Also, a few other details are off (expected/actual behavior and mode value).

I'm just assuming this concerns the octal/decimal discussion above, but feel free to correct me if wrong.

[2018-03-27 09:08] brat002 commented on #2320
The problem wasn't solved.
[code]
Docker commands are almost unusable in case of OOM presence.

[2018-03-27 09:38] Hackebein commented on #2389
It's not a duplicate of #1729.

The data confused me, too. `mode: 644` and `stat` with `0644` are real data, that's the Bug! I don't know how to trigger it. The Bug is very Rare.

I try to explain again what's going on. On the first try with Ignition i use the systemd unit section in the JSON for the content. I realize that the file content in JSON makes the config unreadable. I `stat` the files i

[2018-03-27 10:03] lucab commented on #2389
As you are writing and activating systemd service, there are likely other processes (e.g. systemd or rancher) which may try to repair permissions if they are clearly off.

Is the barebone `/test` configuration actually enough to reproduce it or did you manually synthesize it? Are you always running in this diskless PXE environment?

[2018-03-27 10:49] Hackebein commented on #2389
The barebone `/test` configuration is synthesize. I still running in PXE enviroment. 5 of 7 loaded files starts only a docker container. The other 2 files mount /dev/disk/by-partlabel/DOCKER to /var/lib/docker and add a wait-for-mount. All other is default CoreOS. I'm not deep enough in systemd to know if systemd fixes file permissions. A quick google search and checking out the Issue section of s

[2018-03-27 16:55] jmreicha commented on #2388
I will keep an eye on the developments.  Should I close this issue or keep open until that branch is released?

[2018-03-27 19:30] ajeddeloh commented on #2389
Container Linux doesn't do anything with nspawn by default. I exists and can be used, but it doesn't launch anything in it automatically. Do you have logs from a failed system?

[2018-03-27 19:46] Hackebein commented on #2389
Unfortunately not, because I have not noticed the bug until after I have the virtual machine back to Snapshoot law back

[2018-03-27 20:25] qspors commented on #1028
For cluster you can type:
add to /etc/enviroment
ETCDCTL_CA_FILE=/etc/ssl/etcd/ca.pem
ETCDCTL_CERT_FILE=/etc/ssl/etcd/node01.pem
ETCDCTL_KEY_FILE=/etc/ssl/etcd/node01-key.pem
ETCDCTL_ENDPOINT="https://192.168.6.213:2379,https://192.168.6.214:2379,https://192.168.6.215:2379"

[2018-03-27 21:19] holygits opened #2390 "Bare-Metal Block Device Failures HP"
# Issue Report #

## Bug ##
Block devices operations are failing with the following error in journal logs.
[code]

however:
`lsblk` shows
[code]

I suspect it may be related to HW / raid array drivers etc. I am able to successfully installed Ubuntu on this server with all disks in operation.

### Container Linux Version ###
1632.3.0
[code]

### Environment ###
Bare Metal, HP ProLiant Server (DL380

[2018-03-28 07:47] SpComb commented on #2382
It looks like the problematic CoreOS beta 1688.3.0 got promoted to CoreOS stable 1688.4.0 with the Linux 4.14.30 kernel still containing the buggy version of the vxlan driver: https://github.com/coreos/linux/commits/v4.14.30/drivers/net/vxlan.c

Still need to confirm this, but initial signs show that CoreOS stable nodes running weave are now kernel panicing after an update.

Ping @dm0- to escalate

[2018-03-28 09:34] SpComb commented on #2382
CoreOS stable updates for 1688.4.0 are currently paused for an unrelated reason (#2284), which also protects CoreOS stable nodes running weave from this issue for now: https://groups.google.com/forum/#!topic/coreos-user/5ihE2cKuYck

Confirm that newly provisioned CoreOS stable nodes using the 1688.4.0 image with Linux 4.14.30 are kernel panicing once weave establishes vxlan connections:

[code]

[2018-03-28 11:47] andor44 commented on #2284
Are the update servers disabled because of this by any chance? I created a new CL VM today from an older image and trying to force an update always results in the following:
[code]

On CL 1520.8.0.

[2018-03-28 12:38] jeffdesc opened #2391 "CoreOS update failed after snapshot revert"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

VMware setup where Kubernetes is running on.

The existing installation (which is a test environment) was updated to a higher version. However the snapshot was an older version.

### Expected Behavior ###

Upgrading to the new CoreOS stable version (cf. [CoreOS releases](https://coreos.com/releases/)). From

[2018-03-28 12:42] jeffdesc commented on #2391
Related issue #1304

[2018-03-28 14:05] tpgxyz commented on #1707
@poettering  Yes this is still valid.

[root@abf bin]# journalctl --since=2018-01-04 | grep timesync | wc -l
9840

[2018-03-28 14:25] bgilbert commented on #2391
Updates on the stable channel are [currently paused](https://groups.google.com/d/topic/coreos-user/5ihE2cKuYck/discussion).

[2018-03-28 14:27] jeffdesc commented on #2391
@bgilbert thanks for the answer. Are all updates paused or just the last one?

[2018-03-28 14:39] bgilbert commented on #2382
@SpComb We need to issue a new stable release anyway, and will make sure it includes a fix.  Thanks for your persistence.

[2018-03-28 15:23] bgilbert commented on #2391
CoreUpdate doesn't let us allow updates to the previous version without also allowing newer machines to downgrade, so for now, all stable updates are paused.  We know this situation is not ideal and we're working to resolve it quickly.

[2018-03-28 15:24] bgilbert commented on #2284
@andor44 [They are](https://groups.google.com/d/topic/coreos-user/5ihE2cKuYck/discussion).

[2018-03-28 15:28] jeffdesc commented on #2391
Thanks @bgilbert, this is not a problem for now (on my end). Will this situation get updated in [CoreOS user](https://groups.google.com/forum/#!forum/coreos-user) or in another place?

Aside of this issue: where can we follow new CoreOS updates?

Good luck with it!

[2018-03-28 15:58] bgilbert commented on #2391
We'll post updates here and on coreos-user.

There's a JSON feed of release notes linked from https://coreos.com/releases/, or you can follow https://github.com/coreos/manifest/releases.atom.

[2018-03-28 20:20] dustymabe opened #2392 "update ignition to look for `/usr/{,s}bin/chroot`"
## Feature Request ##

Make ignition look use the available chroot binary whether it be in `/usr/bin/chroot/` or `/usr/sbin/chroot`

[code]

### Environment ###

Fedora/CentOS

[2018-03-28 20:24] bgilbert commented on #2392
The path is a compile-time option.  The specfile should build with:
[code]

[2018-03-28 20:25] dustymabe commented on #2392
+1. I didn't realize that

[2018-03-28 21:15] rphillips commented on #2385
This fix has merged in to Kubernetes master. There is an additional pull request to merge this into the 1.10 release branch.

[2018-03-28 21:58] bgilbert commented on #2382
This should be fixed in beta 1722.2.0 and stable 1688.5.0, due shortly.

[2018-03-28 22:40] bgilbert commented on #2382
We're carrying https://github.com/coreos/linux/pull/166/commits/f5f2102a531988e24f19a13fdc5b8206007aaad5 to fix this and have [requested a backport](https://marc.info/?l=linux-netdev&m=152227666407265&w=2).

[2018-03-28 23:23] ajeddeloh commented on #2392
Closing since Ignition can change this via compile time options.

[2018-03-28 23:23] #2392 closed

[2018-03-28 23:32] ajeddeloh commented on #2388
I thought we had an issue for the partitioning update, but it turns out we don't. I'm renaming this issue and will close it once the change makes it into `coreos-overlay`.

[2018-03-29 09:58] h0tbird commented on #2135
Running on baremetal the IRQ seems balanced:

[code]

[code]

[interrupts.txt](https://github.com/coreos/bugs/files/1859547/interrupts.txt)

[2018-03-29 11:52] SpComb commented on #2382
Will the beta channel 1722.2.0 and stable channel 1688.5.0 releases happen simultaneously, or will the fixed 4.14.30 kernel be available in the beta channel for testing before getting released as a stable update?

I have not verified that the commit in 4.15 fixes the crash in 4.14, although I'm hopeful it will... unfortunately I don't know how to test the 4.14.30-coreos kernel branch locally. Were

[2018-03-29 12:02] fabiorauber commented on #2382
I'm having similar issues with Rancher in a cluster with 1000+ containers. When they are created and removed rapidly, CoreOS 1632.3.0 panics with Fatal exception in interrupt. I couldn't get the full core dump yet. Kernel 4.14.19.

[2018-03-29 17:19] bgilbert commented on #2382
@SpComb The releases will likely be simultaneous.  I was able to repro with 4.14.30 and verified that the repro failed on 4.14.30-r1.  (Your instructions made that process trivial; thanks!)

@fabiorauber The broken patch was introduced in 4.14.24, so you may be seeing a different problem.  Please file a new bug if the upcoming releases don't fix your issue.

[2018-03-29 22:10] fabiorauber commented on #2325
I'm seeing this issue in CoreOS 1632.3.0 Stable, running on oVirt 4.2.1 (kvm), which runs in IBM x240 nodes (Intel Sandybridge IBRS family)

[2018-03-30 02:11] bgilbert commented on #2391
Updates are now re-enabled and the stable channel has been reverted to 1632.3.0.  It turns out that https://github.com/coreos/bugs/issues/2391#issuecomment-376926840 was incorrect; machines already running stable 1688.4.0 will not automatically downgrade.

Thanks for the report!

[2018-03-30 02:11] #2391 closed

[2018-03-30 02:14] bgilbert commented on #2382
It turns out that 1688.5.0 was broken and not releasable, so this issue remains unresolved in stable.  Beta 1722.2.0 will be rolling out shortly.

[2018-03-30 02:17] bgilbert commented on #2284
For updates on the status of this bug in the stable channel, see the [coreos-user thread](https://groups.google.com/d/topic/coreos-user/5ihE2cKuYck/discussion).

@andor44 Updates are now re-enabled and pointing at 1632.3.0.  Machines that are already running 1688.4.0 will not automatically downgrade.

[2018-03-30 08:11] Winnie81 commented on #2041
Thanks, everyone. In the past days, I worked on another task. Currently, Ignition could work in my testing. Thanks for your help.

[2018-03-30 08:11] #2041 closed

[2018-03-30 08:46] jeffdesc commented on #2391
Hi @bgilbert, the stable channel has been reverted to 1632.3.0 but it seems their is still a possibility to download 1688.4.0. Is this correct or did you guys forget to revert this as well?

[2018-03-30 15:36] bgilbert commented on #2391
@jeffdesc That's correct.  We're not upgrading machines to 1688.4.0 or defaulting to it on stable.release.core-os.net, but the release artifacts are still available for anyone who wants them.

[2018-03-30 16:06] jeffdesc commented on #2391
@bgilbert thanks for the update.

[2018-03-30 18:37] stmarier commented on #2326
Wanted to note that this is occurring for us as well, AWS, us-east-1, using m5.large instances as well as `ami-3f061b45`.

Slightly different behavior though: we had no issue with the m5.large instances until randomly we had an issue with every m5.large instance.

[2018-03-31 08:57] ruudboon opened #2393 "No update available"
I'm trying to manual update my CoreOS install from 1662.2.0 to latest 1688.4.0 looking at the log files it looks like https://public.update.core-os.net/v1/update/ is returning the wrong info.

Some grabs from the log file
[code]

I tried resetting the update using
[code]

[2018-03-31 16:16] bgilbert commented on #2326
For the record, @stmarier's image is 1632.3.0, us-east-1.

[2018-03-31 16:33] bgilbert commented on #2393
We are not rolling out updates to 1688.4.0 due to a regression; see [here](https://groups.google.com/d/topic/coreos-user/5ihE2cKuYck/discussion) for more information.  The stable channel is currently set to 1632.3.0.

In addition, though, the update you're attempting is unusual.  1662.2.0 is a beta release, so unless you've switched your machine from the beta channel to the stable channel, it shou

[2018-03-31 17:48] ruudboon commented on #2393
@bgilbert Yes, I've switched to the stable branch that why I'm so eager to get the update.
Thnx. I'll wait for a fix. Is there a way to update this [page](https://coreos.com/releases/) and add a notice?

[2018-04-03 20:13] bgilbert commented on #2382
This issue should be fixed in stable 1688.5.3, which is rolling out now.

[2018-04-03 20:13] #2382 closed

[2018-04-03 20:14] bgilbert commented on #2393
Stable 1688.5.3 addresses the regression in 1688.4.0 and is rolling out now.

[2018-04-03 20:14] #2393 closed

[2018-04-03 20:26] ajeddeloh commented on #2284
Some info for debugging:
 - You can `cork download-image` the 1618.0.0 release which you can reliably trigger the bug in by editting menu entries.
 - `gs://builds.developer.core-os.net/sdk/amd64/1618.0.0/pkgs/sys-boot/grub-2.02-r1.tbz2` has the grub binpkg from that release
 - To debug with the `coreos_production_qemu.sh` script you need to disable kvm acceleration
 - use `-s -S` to allow gdb to c

[2018-04-03 20:28] bgilbert commented on #2284
Update: Stable 1688.5.3 is rolling out now with a working build.  We still need to find and address the underlying cause.

[2018-04-03 20:57] mildred commented on #2326
For the information, we stopped having the problem since I reported the issue. We were on eu-west-1 and AWS seemed to have issues with m5 machines at that time.

[2018-04-03 21:32] euank commented on #2371
For now I'll assume this was a temporary AWS issue. If you can reproduce it again, please do reopen with additional details!

[2018-04-03 21:40] euank commented on #2326
Thanks for letting us know it seems to have fixed itself.

Since it sounds like it may have been an issue on AWSs side, I'm closing this issue. If it starts reproducing again and seems to impact Container Linux more than other distros, please do let us know!

@stmarier can you check if yours also is Container Linux specific or has since been fixed? If it still happens for you, please open an issue

[2018-04-03 21:40] #2326 closed

[2018-04-04 00:03] ajeddeloh commented on #2284
I've added some code to get primitive stacktraces in gdb. The issue appears to be both gdb and qemu seem to think they're not in real mode, so they do things like backtraces wrong. The backtrace code is based on https://stackoverflow.com/questions/24160995/gdb-backtrace-by-walking-frame-pointers

https://gist.github.com/ajeddeloh/9b74fe9527afa614506c25f0442b056f

[2018-04-04 04:31] delsvr commented on #1891
Are there any updates here? I believe coreos/vagrant-ignition has a pull request specifically for supporting the vmware provider (https://github.com/coreos/vagrant-ignition/pull/5). Is the only thing stopping this a review?

[2018-04-04 08:48] SpComb commented on #2382
Confirmed that CoreOS beta 1722.2.0 with Linux 4.14.30-coreos-r1 and CoreOS stable 1688.5.3 with Linux 4.14.32-coreos both fix this issue, weave now works and is no longer panicking the kernel.

Thanks for the backport. I hope it eventually finds its way via netdev into the 4.14 stable tree as well, or this issue may start showing up in other distros too.

[2018-04-04 15:17] rphillips commented on #2385
Upstream PR was merged. It will be in the next 1.10 release. https://github.com/kubernetes/kubernetes/pull/61861

[2018-04-04 17:40] crawford commented on #1891
@bgilbert Would you mind taking a look at this? The referenced PR looks reasonable (though, the hard-coded interface names make me nervous).

[2018-04-04 17:41] cgwalters commented on #2284
The FAT32 requirement is only for EFI systems though, not BIOS right?  FWIW for Fedora derivatives we currently default to either ext4 or XFS for `/boot` on BIOS systems - on EFI then the ESP is `/boot/efi` which is fat.

Although this seems contradicted by:

[2018-04-04 17:51] ajeddeloh commented on #2284
@cgwalters grub still accesses `/boot` on bios. We have the same `/boot` for bios and efi systems. It was a coincidence that we noticed it when we switched from 16->32 and initially thought that was the cause. Later we discovered it actually doesn't matter and we could trigger it on pre-16/32-switch images.

[2018-04-04 19:56] lblackstone opened #2394 "update-engine.service not finding available update (1632.3.0 -> 1688.5.3)"
# Issue Report #

## Bug ##

### Container Linux Version ###
`1632.3.0` / `1688.5.3`

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?
`HP ProLiant SE4255e` / `OpenStack private cloud` / `KVM`

### Expected Behavior ###
`update-engine.service` should find available update and automatically upgrade.

### Actual Behavior ###
The available update was

[2018-04-04 20:02] arithx commented on #2394
@lblackstone : Container Linux updates are rolled out over the fleet at a limited rate. Running `update_engine_client -check_for_update` manually ignores the rate limiting and performs the update immediately.

[2018-04-04 20:14] lblackstone commented on #2394
Thanks @arithx!

Are there any public docs that cover the rate limiting? I found https://github.com/coreos/tectonic-forum/issues/150 after your comment, but couldn't find any details on how this is configured (client vs server side, etc).

[2018-04-04 20:26] arithx commented on #2394
The rate limiting is set on the CoreUpdate side, here's a doc for the server side https://coreos.com/products/coreupdate/docs/latest/getting-started.html#group.

It's also briefly mentioned in https://coreos.com/os/docs/latest/update-strategies.html#manually-triggering-an-update from the perspective of the client side.

[2018-04-04 20:36] lblackstone commented on #2394
Ok, as far as I can tell, we're not running CoreUpdate. These machines aren't part of any managed subscription, and `updateservicectl` does not appear to be installed.

Is any sort of global rate limiting expected?

Also, I found another cluster exhibiting the same behavior, and noticed that neither one of them updated to `1688.4.0` either. The clusters have been running for several days, and that

[2018-04-04 20:44] arithx commented on #2394
@lblackstone: CoreUpdate is what we also run for the public update server.

Global rate limiting is expected.

`1688.4.0` was only available via the public update server for a small period of time due to the `free magic` grub issue (more info here: https://groups.google.com/forum/#!topic/coreos-user/5ihE2cKuYck). Updates for `1688.4.0` were paused which did not allow even manual updates and eventu

[2018-04-04 20:45] bgilbert commented on #2394
We're currently rolling out 1688.5.3 at a fairly low rate, so it's not surprising that your machines haven't all updated yet.

[2018-04-04 20:50] lblackstone commented on #2394
Great, thanks for clarifying, and the quick responses!

For future reference, is there any way to see current rate limits for the public update server?

[2018-04-04 20:52] arithx commented on #2394
Not to my knowledge, cc @sdemos

[2018-04-04 21:50] bgilbert commented on #1891
@delsvr Our Vagrant support needs work, both on the VMware and VirtualBox sides, and in addition to what's in coreos/vagrant-ignition#5.  Unfortunately that work isn't a priority right now.

[2018-04-05 07:57] lucab commented on #2385
Thanks for following up, I'm closing this as fixed upstream.

[2018-04-05 07:57] #2385 closed

[2018-04-05 11:56] lucab commented on #2284
@dongsupark a given image will succeed or fail deterministically, but it is not yet sure what's going to make such image succeed or fail. Your current Flatcar release may be in the non-failing set now, but later releases may (or may not) experience the same bug. For ContainerLinux this was quite sporadic till last month, when it started to affect most of the builds.

[2018-04-05 13:27] martinezjavier commented on #2284
@ajeddeloh I don't have time right now to set a dev env and attempt to reproduce the issue, but I've some thoughts. I'm also not familiar with CoreOS, so please forgive me if some of my assumptions are wrong.

* You mentioned that it only happens when booting on BIOS mode and not on EFI, that's a good data point. So I would guess that the problem should either be related to some of the operations

[2018-04-05 19:32] ajeddeloh commented on #2284
Yup, investigating that now. I've got some macros that emulate the functionality of the `get_header_from_pointer()` function in `kern/mm.c` so I can inspect if things are getting corrupted. I'm also working on tracking mallocs/free's so I can find what malloc'd block any artibrary pointer belongs to (assuming it's heap alloc'd). It's definitely overwriting the address grub complains about in `grub

[2018-04-05 19:33] sdemos commented on #2394
that is correct, rate limits are not exposed publically.

[2018-04-05 20:36] vathpela commented on #2284
I don't know how much it will help, but I've cherry-picked some patches to do better built-in backtraces into a branch based on FSF's current master branch, here: https://github.com/vathpela/grub2-fedora/tree/backtrace .  It also adds a patch so that if you're running with debug=gdb it'll print the .text and .data addresses for kernel.exec and all the modules it loads, so you can use gdb with qemu

[2018-04-05 20:40] lblackstone commented on #2394
I think it would be useful to expose that info somehow, but that's probably out of scope for this issue.

Closing since the observed behavior was confirmed to be expected.

[2018-04-05 20:40] #2394 closed

[2018-04-06 07:04] benjaminbarbe opened #2395 "etcd2.service is no present causing oem-cloudinit.service to fail"
## Bug ##

etcd2.service is no present causing oem-cloudinit.service to fail

### Container Linux Version ###

[code]

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?
DigitalOcean

### Expected Behavior ###

etcd2.service to be present and oem-cloudinit.service able to start

### Actual Behavior ###

[code]

### Other Information ###

I haven't ch

[2018-04-06 07:56] lucab commented on #2395
Thanks for the report. Can you please attach the cloudinit configuration you are using to provision this node?

Moreover, please note that both on-host etcd2 and coreos-cloudinit have been on a deprecation notice, and etcd2 was recently removed as planned:
 * https://coreos.com/blog/toward-etcd-v3-in-container-linux.html
 * https://coreos.com/blog/introducing-ignition.html

[2018-04-06 08:08] benjaminbarbe commented on #2395
Thanks @lucab for your quick response

[code]

[2018-04-06 10:48] blixtra commented on #2284
@lucab We've started to see this in subsequent builds of Flatcar. We're looking into it as well now.

[2018-04-06 11:47] HBO2 opened #2396 "subPath error coreos 1.8.9-1 with linux container version 1688.5.3"
# Issue Report #

https://github.com/coreos/tectonic-forum/issues/290

[2018-04-06 13:14] lucab commented on #2389
@Hackebein can you please try to reproduce this with your actual minimal example from original "Reproduction Steps" section? If you still get unexpected mode, please attach [logs from igntion](https://coreos.com/ignition/docs/latest/getting-started.html#gathering-logs).

[2018-04-06 13:53] #2396 closed

[2018-04-06 14:08] Hackebein commented on #2389
i'll try it after the weekend

[2018-04-06 16:32] ajeddeloh commented on #2284
@vathpela thanks, at this point gdb+qemu is working pretty well. That script I linked earlier breaks on module load and loads the debug info accordingly

@blixtra I'm assuming flatcar's tooling is pretty similar to ours. If you modify the `coreos_production_qemu.sh` (or whatever your equivilent is) to use `qemu-system-i386` and turn off kvm acceleration you can then use gdb with it (run `set arch

[2018-04-06 17:14] nimjox opened #2397 "systemd-networkd interface fails to send RA"
# Issue Report #

## Bug ##
Netdev creation issue for USB cell modem keep networkd from being able to send our router advertisements. Seems related to #3648

Using 230 we see :
### Linux & System Info ###

[code]

### Issue found in: ###
232
234

Note the issue is NOT present in 230

Issue not present in:

### Expected Behavior ###

### Actual Behavior ###

### Reproduction Steps ###

  1. ...
  2

[2018-04-06 17:25] nimjox commented on #2397
Apologies, closing

On Fri, Apr 6, 2018 at 11:22 AM, Andrew Jeddeloh <notifications@github.com>
wrote:

[2018-04-06 18:02] #2397 closed

[2018-04-06 20:59] FreekingDean commented on #2134
How are the release notes currently generated? Is it manual or automated in some fashion?

[2018-04-06 21:50] bgilbert commented on #2134
They're manually generated based on the diffs between the current and previous tags, i.e. two successive releases on the same branch or two successive branch points (if branching a new alpha from master).  The release notes are attached to the [manifest release on GitHub](https://github.com/coreos/manifest/releases), collected from there by tooling, and added to the metadata read by the website co

[2018-04-07 03:42] comstud opened #2398 "OOMs just writing files with k8s memory limits (upstream kernel bug)"
# Issue Report #

## Bug ##

legacy memory cgroup proceses are OOM-killed just writing files. This is very evident when using CoreOS as a kubernetes node... configuring memory limits on pods. My upstream bug report can be found here which details the issue in a little more detail:

https://bugzilla.kernel.org/show_bug.cgi?id=199297

The fix for this is already committed upstream and is contained i

[2018-04-07 04:28] bgilbert commented on #2398
Thanks for the report.  That patch is included in kernels &ge; 4.14.31 and &ge; 4.15.14.  The latest Container Linux stable release, 1688.5.3, thus already has the fix, and the next releases on the alpha and beta channels will as well.

[2018-04-07 05:09] comstud commented on #2398
Ah, so it is! Perfect. Thanks.

[2018-04-07 05:09] #2398 closed

[2018-04-07 17:58] redbaron commented on #2385
@rphillips , do you think you can push iscsiadm into hyperkube image too? I had bad experience trying to push xfstools and don't want to be frustrated again :)

[2018-04-08 19:37] rphillips commented on #2385
@redbaron it's on the TODO list. :)

[2018-04-09 08:25] jalaziz opened #2399 "[AWS EBS] NVMe udev rename rules"
# Issue Report #

## Feature Request ##

### Environment ###

AWS CoreOS 1688.5.3 HVM on m5.* or c5.* instances

### Desired Feature ###

Add udev symlink rules to map NVMe devices to traditional xvd[a-z] device names.

### Other Information ###

With the newer m5 and c5 instances, EBS volumes show up as NVMe devices. AWS Linux provides built-in udev rules that symlink the NVMe devices to their eq

[2018-04-09 10:05] lucab commented on #2399
Thanks for the report. We are already collecting a few cloud-storage specific [udev rules](https://github.com/coreos/init/tree/master/udev/rules.d), so I think we should also add the AWS NVMe ones there too.

[2018-04-09 12:13] jalaziz commented on #2399
Until support is added to CoreOS, I've created a set of systemd services and a udev rule that works around the issue based on the resources I listed above: https://gist.github.com/jalaziz/bcfe2f71e3f7e8fe42a9c294c1e9279f

[2018-04-09 15:26] alban commented on #2284
@ajeddeloh I have used your GDB script but changed the watchpoint to `watch *0x3fcd2d30` because the error message "free magic is broken at" is at this address for me.

This stack is the last stack before I get the "broken magic" error messages:

[code]

In frame 18, I see:
https://github.com/coreos/grub/blob/2.02-coreos/grub-core/disk/efi/efidisk.c#L567-L569
[code]
Could it be that it is reading

[2018-04-09 16:28] Hackebein commented on #2389
I can't reproduce it.
I'm not sure, because i run near the the available ram limit of the ESXi host at the issue report day. I think it was just a local issue.
What I do not understand is why it worked several times. That's a very big coincidence.

[2018-04-09 17:39] ajeddeloh commented on #2284
@alban is that on an EFI system?

[2018-04-09 20:06] ajeddeloh commented on #2284
I manually went in and fixed the dest (both in gdb and by hex-editing `linux.mod`) to be correct (what the grub PR is doing) and in both cases that fixed the free magic issue. Additionally, changing it back to the old value caused it to manifest again, so I'm pretty confident that is the issue.

[2018-04-10 16:13] venezia commented on #2399
I'm also having this issue with coreos alpha and stable.  @jalaziz scripts do identify the intended partition.  Would be great to have this fixed within coreos.  It seems reasonable to assume the OS would respect the wishes of the user to have `/dev/sdk` be the partition (for scripting purposes) rather than some haphazardly assigned `nvme#n#` partition.

[code]

[code]

[2018-04-10 17:18] ajeddeloh commented on #2284
Closed via https://github.com/coreos/grub/pull/53. This will be in the next alpha (released this week). Unfortunately since we cannot update grub, reprovisioning will be necessary to pick up this change.

[2018-04-10 17:18] #2284 closed

[2018-04-10 20:50] bgilbert opened #2400 "GRUB memory corruption in older Container Linux releases"
# Issue Report #

## Bug ##

### Container Linux Version ###

Introduced in coreos/grub@a2599ab04714f167decf9551f9abbc4f5356daea in 926.0.0.
Fixed in coreos/grub#53 in alpha 1744.0.0.

### Environment ###

AMD64 booting via BIOS.

### Expected Behavior ###

GRUB does not corrupt memory.

### Actual Behavior ###

GRUB corrupts memory.  Sometimes this causes boot failures.

### Reproduction Steps ##

[2018-04-10 20:52] bgilbert commented on #2284
While reprovisioning is necessary to pick up the code change involved here, we haven't observed a case of an update triggering this error, so we currently think that users will **not** need to reprovision.

If you do encounter the `free magic` message, re-provisioning should fix it, and please do let us know!

We'll continue to investigate the full impact in #2400.

[2018-04-10 21:34] ajeddeloh commented on #2400
Capturing some offline discussion and experimentation:

Binary patching would involve:
 - gunzip'ing `/boot/coreos/grub/i386-pc/linux.mod`
 - calculating `&linux_params + sizeof(lh)` (the wrong value) in the extracted `linux` file
 - finding the `mov $eax <calculated value>` instruction (and verifying it's the only one) right before the call to `grub_memmove()`
 - calculating the correct value
 -

[2018-04-10 21:36] gintautassulskus opened #2401 "CoreOS fails to shut down on Rackspace Public Cloud"
# Issue Report #

## Bug ##

### Container Linux Version ###

1688.5.3

### Environment ###

Rackspace Public Cloud

### Expected Behavior ###

CoreOS should gracefully shut down upon receiving a signal from the hyperviosor. I am not an expert in this, thus I assume the hypervisor is the origin of the poweroff signal.

### Actual Behavior ###

The instance fails to gracefully shut down upon receiv

[2018-04-10 21:48] dm0- commented on #2401
Are you able to get a backtrace from that core dump?  If it looks like systemd/systemd#8075, the fix has been backported to stable and beta in coreos/systemd#100 so it will be in the next releases.

[2018-04-10 22:11] gintautassulskus commented on #2401
I was not able to get the core dump due to the resource limits. Will look into this.

However, the backtrace looks the same as in the [link](https://groups.google.com/forum/#!topic/coreos-user/YcGkRHU9SvQ) at the very bottom of my first post.

[2018-04-11 09:45] lucab commented on #2300
Lacking any further feedback and any further reproducer, I'm going to close this ticket. If anybody is hitting this, please open a new bug and attach the full PXE configuration and relevant logs from the server.

[2018-04-11 09:45] #2300 closed

[2018-04-11 09:47] lucab commented on #2389
Lacking any further reproducer, I'm going to close this ticket for the moment.
If anybody is hitting this, please open a new bug and attach a minimal ignition configuration together with logs from the node being provisioned.

[2018-04-11 09:47] #2389 closed

[2018-04-11 09:51] lucab commented on #2254
Lacking any further feedback and reproducer, I'm going to close this ticket. This has likely been fixed by newer CL releases, or by adjusting the configuration.
If anybody is hitting this, please try to reproduce with a minimal configuration on latest alpha and let us know.

[2018-04-11 09:51] #2254 closed

[2018-04-11 10:01] lucab commented on #2306
A runc race has been recently fixed via https://github.com/opencontainers/runc/pull/1698, and that has been backported to docker 17.12.1 which we are currently shipping in beta and stable channels.

I *suspect* it may be related to this bug and thus fixing it, but I have no way to verify this. It would be good if anybody previously affected by this could check if the issue is still present with do

[2018-04-11 10:16] redbaron commented on #2254
Multipath handling is completely broken in Kubernetes and is not fit for purpose:  https://github.com/kubernetes/kubernetes/issues/59946#issuecomment-380401916

[2018-04-11 10:26] lucab commented on #2083
So the problem is that our [doc examples](https://coreos.com/os/docs/latest/booting-with-libvirt.html) use `/var/lib/libvirt/images/` for images and ignition config, but in some distros apparmor denies reading from there.

We should either find an allowed readable path and fix our the doc, or ask upstream to consider an entry for our usecase. For reference, the current upstream apparmor example co

[2018-04-11 10:29] berrange commented on #2083
The /var/lib/libvirt/images directory is the default path that libvirt defines for storage. Any distro that has a policy denying use of that directory is seriously broken and needs to be fixed.

[2018-04-11 10:41] cpaelzer commented on #2083
I agree that we have the default paths upstream and those should work everywhere.
For Ubuntu as an example there also are a few additional Ubuntu only paths I never brought upstream (because they make no sense for the overall community).
But I agree to @berrange that the default paths should always work.

[2018-04-11 11:36] lucab commented on #2083
@cpaelzer then I am not sure anymore, but people in this thread seem to be reporting that the ubuntu apparmor policy is denying that path. But I'm not familiar with apparmor nor libvirt, so I may be missing some details.

For clarity, we don't ship libvirt in ContainerLinux, and this ticket is about running our images via libvirt on other distros (two of them being ubuntu 16.04 and 17.04).

[2018-04-11 12:12] cpaelzer commented on #2083
Odd, let me outline how it is supposed to work.

Seeing that the workaround was to add to /etc/apparmor.d/abstractions/libvirt-qemu implies that not libvirt but the guest (=qemu) wasn't able to access the file.

virt-aa-helper is allowed to read these paths:
[code]
Now when a guest is spawned and apparmor is set as the security modules two things happen:

1. the guest gets created a custom apparmo

[2018-04-11 12:24] berrange commented on #2083
Thanks for highlighting the -fw_cfg parameter usage here.

I should point out that although this is exposed to the end user via -fw_cfg, and looks like a convenient way to get information into the guest OS, this is generally discouraged by QEMU developers. The principal purpose of the "fw_cfg" mechanism is communication between QEMU and the firmware. There are a fairly limited number of slots avai

[2018-04-11 13:25] cpaelzer commented on #2083
Thanks Daniel - good to know,
OEM strings are nice, but they are too generic to parse paths out of them right?
So virt-aa-helper still can't know when to derive a path to add it to the rules (let me know you think there is a reasonable way to detect a path is meant in those cases).

[2018-04-11 13:28] berrange commented on #2083
@cpaelzer nothing todo from security pov since the data is passed inline, no references to external files on disk, so there is nothing to grant access to.

[2018-04-11 14:27] lucab commented on #2083
Thanks both for the detailed insights!

@berrange we'll look into OEM strings for the future. "fw_cfg" is being used by [ignition](https://github.com/coreos/ignition) for passing provisioning configuration since some time.

@cpaelzer then I guess we'll suggest adding a wildcard rule for ignition files to our doc. If per-guest overrides are under work, it would be nice in the future to have some st

[2018-04-11 15:14] cpaelzer commented on #2083
I was unsure on your suggestion, so I polled for opinions on the [libvirt mailing list](https://www.redhat.com/archives/libvir-list/2018-April/msg00875.html)

[2018-04-11 17:25] gintautassulskus commented on #2401
I got the same backtrace as in [systemd/systemd#8075](https://github.com/systemd/systemd/issues/8075).

[2018-04-11 17:25] #2401 closed

[2018-04-11 23:01] abhinavdahiya opened #2402 "rkt: docker2aci buggy tar conversion logic is broken on go1.10"
# Issue Report #
## Bug ##

### Container Linux Version ###

[code]

### Environment ###

Amazon EC2

### Actual Behavior ###
[code]
### Other Information ###

The same command seems to run on `1688.5.3`

[code]

[2018-04-11 23:01] abhinavdahiya commented on #2402
/cc: @squat @bgilbert

[2018-04-12 09:30] vinhthang opened #2403 "tectonic: k8s scheduling regression results in failed tectonic-torcx OS updates"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]
### Environment ###

Virtual Box Baremetal

### Expected Behavior ###

Startup normally after reboot

### Actual Behavior ###
After a week or more, I can't access to https://tectonic1 (one of my workers), I reboot all machine.
I see that my coreos is auto updated to 1688.5.3, before I installed 1632.3.0
### Reproduction Steps ###

[2018-04-12 11:26] r7vme commented on #2313
This can be duplicate of https://github.com/systemd/systemd/issues/7370 , which is fixed for `automount` and `swap` units, but not for `device` and `slice` units.

Workaound for us was to do `systemctl daemon-reload`.

[2018-04-12 11:53] nickgrealy commented on #2361
I've got the same issue, running `coreos` on a bare metal server: https://stable.release.core-os.net/amd64-usr/1688.5.3/coreos_production_image.bin.bz2

(I'm new to this, so any help is greatly appreciated!)

[code]

[code]

[code]

[code]
Here's a snippet of my `ignition.yml`:

[code]

I'm not sure whether my `etcd` and/or `portainer.service` variables are causing the issue?

I'm not sure whether

[2018-04-12 13:27] lucab commented on #2361
@nickgrealy your problem looks similar yet different. It seems that somehow your node does not have a route to IPv4 link-local subnet.

Can you please try curl on the same URL, and then attach the output of `ip route get 169.254.169.254` and `ip route`?

[2018-04-12 13:36] nickgrealy commented on #2361
Yep, sure thing.

[code]
[code]
[code]

[2018-04-12 13:57] lucab commented on #2361
@nickgrealy given the curl failure and local routing table, I'd chalk this as a network misconfiguration or a service issue on the remote end. Please check your overall network topology/routing, and make sure that the metadata endpoint is either reachable on the local link or routable via the default gateway  listed in the table above.

[2018-04-12 14:40] lucab commented on #2361
@nickgrealy the metadata endpoint is a service provided by the network for node introspection, usually served over HTTP on link-local address. At some point you specified that you are in an openstack environment (`--provider=openstack-metadata` from your logs), but the openstack-metadata service is not reachable from the node.

[2018-04-12 23:47] nickgrealy commented on #2361
Alright... I've worked it out (and updated my examples).

`--provider=openstack-metadata` and `http://169.254.169.254` are red herrings - disregard them.

To troubleshoot, simple execute the failed shell script from the command line:

[code]

Which turns out to be this issue: https://github.com/coreos/bugs/issues/2303

Thanks for your help @lucab

[2018-04-13 00:07] ajeddeloh commented on #2400
I went ahead and downloaded all the binpkgs from 926 - 1722 (183 releases) and did some analysis:
 - All affected versions have debug symbols adequate for calculating the incorrect and correct addresses
   - Some versions have multiple grub binkpgs (why?). In some (all? I haven't checked) of these, only 1 of the binpkgs have the buggy code
 - `linux.module` always has only one `mov $eax <bad addr>

[2018-04-13 00:16] nickgrealy commented on #2303
Hi @crawford,

Apologies up front if these questions are "stupid", I'm just getting up to speed and had a few questions:

---

#### 1) Do I need to manually add a `coreos.oem.id=custom` flag to the `/proc/cmdline`?

Manually sounds bad, how should the value be populated normally? There is currently no `coreos.oem.id` flag at all in my `/proc/cmdline`.

(I don't understand how a [custom metadata ag

[2018-04-13 08:05] dcerecedo opened #2404 "System unreachable after trying to update since system upgrade to 1688.5.3"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

Arsys/VMWare?

### Actual Behavior ###

When the system tries to update it becomes unreachable:

[code]

After that point the only way to recover the machine is rebooting it.

### Other Information ###

On April 8 one of our CoreOs machines updated to . Since April 10 it is becoming unreachable twice a day.

[2018-04-13 08:35] lucab commented on #2404
Thanks for the report. A couple of followup questions:
 * Is this a freshly installed node or one upgraded to 1688.5.3? Do you experience the same issue on fresh install of 1688.5.3.
 * Can you please clarify the "becomes unreachable" part? Are SSH connection attempts not going through? Is the node still ping-able and/or the SSH port open? Can you login via the system console?
 * There is a "Netwo

[2018-04-13 08:44] lucab commented on #2403
Just for the sake of clarity, the root cause of this is a mix of the k8s regression referenced above (which broke the upgrade process) and a manual reboot while in the middle of the ongoing node OS upgrade.

@aaronlevy @robszumski I'm assigning this for you just for tracking. There are however at least a few other tickets in tectonic-forum, so feel free to just keep the one you prefer for ongoing

[2018-04-13 09:12] lucab commented on #2303
@nickgrealy trying to answer most of your questions here, but if you keep having doubts on your journey please prefer [the ML](https://groups.google.com/forum/#!forum/coreos-user) for discussion.

1. No, you don't need to set `coreos.oem.id` manually. if you are on a plain bare-metal node (i.e. without any external metadata or cloud-service service), it is correct for that to be missing/empty.

2.

[2018-04-13 10:55] dcerecedo commented on #2404
- > Is this a freshly installed node or one upgraded to 1688.5.3? Do you experience the same issue on fresh install of 1688.5.3.

  It is one automatically upgraded to 1688.5.3 as shown in the output of the `last` command:
[code]
  The system gracefully shuts down after an update and reboots with new kernel version.

- > Can you please clarify the "becomes unreachable" part? Are SSH connection att

[2018-04-13 12:31] lucab commented on #2404
Ack. So if I understood this correctly the nodes are still up and running, and reacts to soft reboots, but they are completely losing network connectivity, right?
Judging from your logs, the previously working version was stable `1632.3.0`, so it may either be some local network related hiccups or a regression in either kernel-4.14.20+ or systemd-238.

Regarding DHCP logs, those are on the DHCP se

[2018-04-13 13:38] berrange commented on #2083
@dgonyeo thanks for testing that, you've uncovered a horrible bug in QEMU.  While SMBIOS has no limit on string length, QEMU's command line option parser is arbitrarily truncating options at 1024 bytes, with no warning, silently discarding any further data.  I'm going to fix that to actually report an error message instead of continuing to run with garbage data.  So yeah, unfortunately this means

[2018-04-13 15:22] pfielding opened #2405 "."
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

What hardware/cloud provider/hypervisor is being used to run Container Linux?

### Expected Behavior ###

### Actual Behavior ###

### Reproduction Steps ###

  1. ...
  2. ...

### Other Information ###

## Feature Request ##

### Environment ###

What hardware/cloud provider/hypervisor is being used to run

[2018-04-13 15:23] #2405 closed, assigned to nobody

[2018-04-13 16:02] dm0- commented on #2357
@r7vme Fixed kernels are in every channel now, so you might be seeing a different problem.  Do you have error messages or backtraces?

[2018-04-13 17:17] #2246 closed

[2018-04-13 21:09] glevand commented on #2348
I took a deeper look into this.  For some reason the arm64 build of the dynamic linker ld-2.23.so starting from 1662.0.0 faults when run directly:

[code]

The problem is not in update engine, but in glibc.  1649.0.0 works ok, and the only significant difference from 1649.0.0 to 1662.0.0 is a toolchain update, so I guess that is where the problem comes from.

The recent update of glibc https://git

[2018-04-13 21:09] #2348 closed

[2018-04-14 05:27] berkantipek commented on #2150
+1

[2018-04-14 21:07] michalzxc opened #2406 "systemd-resolved stopped listening on 127.0.0.53"
# Issue Report #

## Bug ##

systemd-resolved stopped listening on 127.0.0.53

itaz07controller2 ~ # systemctl status systemd-resolved
● systemd-resolved.service - Network Name Resolution
   Loaded: loaded (/usr/lib/systemd/system/systemd-resolved.service; disabled; vendor preset: disabled)
   Active: active (running) since Sat 2018-04-14 16:11:21 UTC; 4h 52min ago
     Docs: man:systemd-resolved.

[2018-04-16 09:11] eranreshef opened #2407 "Creating an overlay mount on /lib/modules fails in v1688.5.3"
# Issue Report #

## Bug ##

### Container Linux Version ###

[code]

### Environment ###

AWS EC2

### Expected Behavior ###

I'm following the tutorial for how to install custom kernel modules [https://coreos.com/os/docs/latest/kernel-modules.html](https://coreos.com/os/docs/latest/kernel-modules.html).
When I ran it on previous stable version (1632.3.0) everything worked great.
### Actual Behav

[2018-04-16 09:38] lucab commented on #2407
Confirmed, this is a safety-improving behavioral change introduced in systemd-238 by this PR: https://github.com/systemd/systemd/pull/7940.

On a ContainerLinux node, `/lib/modules` is buried below several layers of symlinks due to usr-merge and the lib/lib64 unification. The underlying real path is `/usr/lib64/modules`.

@eranreshef in order to fix your failure it should be enough to change all o

[2018-04-16 09:41] eranreshef commented on #2407
@lucab I already tried your suggestion and it works as expected. I too also don't like idea of using the exact path but I needed to workaround the issue ASAP so thats what I did.

[2018-04-16 10:36] michalzxc commented on #2406
I forgot to paste config - I am doing this now to show I didn't accidentally disabled it:

cat /etc/systemd/resolved.conf
#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any la

[2018-04-16 11:43] ashwajce commented on #2264
+1

[2018-04-16 11:45] juris commented on #2371
Having the same issue with 1632.3.0 on m5.large

[code]

Running Kubernetes 1.9.6 and it fails to attach one of EBS volumes.

**dmesg**
[code]

**kubelet**
[code]

There are 3 more EBS volumes attached without any issues.
[code]

[2018-04-16 11:50] lucab commented on #2406
Thanks for the report. It looks like your `resolved.conf` entry has no effect because it does not override the OS hardcoded configuration at `/usr/lib/systemd/resolved.conf.d/50-no-dns-listener.conf`.

You should re-order your configuration file with an higher lexicographic priority, or plainly disable the OS config:
[code]

@michalzxc where you following any guide of ours which instructed you to

[2018-04-16 12:04] inish777 commented on #2371
I can confirm @juris case, 'cos today I had the same

[2018-04-16 12:14] sourcejedi commented on #2407
Note `man systemd.mount` suggests you generally want to use fstab instead of explicit mount units.
fstab is still supposed to accept symlinks... at least the symlink chain must be available on rootfs+usr only, but I guess you're fine there. What do you need `ConditionPathExists=` for? (it's not available in fstab options, I think).  `nofail` might be an option if it's just a safety thing to avoid

[2018-04-16 13:10] jorgelon commented on #2404
I have detected the same issue in the same environment with  1688.4.0. Both with systemd 237. The latest working release I think it is 1632.3.0.

In this environment the gateway is from another network. It allways show a  "Could not set DHCPv4 route: Network is unreachable" but in 1632.3.0 that problem didnt appear. There was another issue in this environment
https://github.com/coreos/bugs/issues/

[2018-04-16 13:46] lucab commented on #2402
Downgrading to go-1.9 to temporarily workaround this regression.
Fix for upcoming 1759 is https://github.com/coreos/coreos-overlay/pull/3175, for 1745.y is https://github.com/coreos/coreos-overlay/pull/3175.

[2018-04-16 13:54] dcerecedo commented on #2404
We had DHCP configured. After changing to static ip's everything is working fine and we haven't had any system failure since the change.

[2018-04-16 16:59] Quentin-M commented on #2371
This basically happens *all the time* on my Kubernetes nodes, and completely screw over my Kubernetes clusters on C5s as, while EC2 thinks the volume is properly attached: EC2 will *not* be able to detach it without the ‘force’ option. Therefore, 1/ the pod will not start on the node 2/ after getting the pod rescheduled, Kubernetes will try to detach and reattach the volume somewhere else, but the

[2018-04-16 21:19] euank commented on #2306
I agree with @lucab's assessment that this may be that runc issue that should be fixed in all current channels with docker-ce `17.12.1` and newer.

To confirm whether that's the bug you're encountering, once dockerd has hung, send it and containerd a `SIGUSR1` to collect stack traces.

If that's the bug, dockerd's stack trace should include ones similar to those [here](https://github.com/moby/moby

[2018-04-16 22:42] dm0- commented on #2407
@lucab I am okay with changing the mount unit to `/etc/fstab`.  The change is in coreos/docs#1224.

[2018-04-16 23:50] bgilbert commented on #2407
Correction: systemd/systemd#7940 landed in systemd 237, which explains why it's affecting 1688.5.3.

[2018-04-17 09:57] sj2208 opened #2408 "Interactive authentication required while restarting systemd-networkd"
Currently in my organisation we have authentication on connecting ethernet cable. Thus asking for username and password to connect and thus get IPv4.

How can I provide credentials while starting up systemd-networkd on coreOS.
Whenever I try to restart using the command: " systemctl restart systemd-networkd.service"
I get the error:
Failed to restart systemd-networkd.service: Interactive authentic

[2018-04-17 10:11] jorgelon commented on #2404
The problem persists in the alpha release. The error is when the dhcp client try to renew the ip address

ens192: Removing address: <ip>/32 (valid for 0)
Sent message type=signal sender=n/a destination=n/a path=/org/freedesktop/network1/link/_32 interface=org.freedesktop.DBus.Properties member=PropertiesChanged cookie=21 reply_cookie=0 signature=sa{sv}as error-name=n/a error-message=n/a
Sent messa

[2018-04-17 10:27] jorgelon commented on #2404
The first negotiation log (12 hours before)

Found VM virtualization vmware
ens192: found matching network '/usr/lib64/systemd/network/yy-vmware.network'
lo: Link is not managed by us
LLDP: Started LLDP client
ens192: Started LLDP.
ens192: Acquiring DHCPv4 lease
DHCP CLIENT (0x638ad943): STARTED on ifindex 2
DHCPv6 CLIENT: Started in Information request mode
ens192: Acquiring DHCPv6 lease
ens192:

[2018-04-17 11:10] jorgelon commented on #2404
I have checked in the dhcp server logs and coreos doesnt ask for a renew of the ip address. Maybe because the gateway is not in the same network. Mmm

[2018-04-17 13:04] rmenn commented on #2407
there might be some correlation with the issue here - https://github.com/cloudnativelabs/kube-router/issues/370

[2018-04-17 15:36] jorgelon commented on #2404
my post starting with "The first negotiation log" is when the vm starts and it works
my post starting with "The problem persists in the alpha release." is when the connectivity is lost (12 hours later. here systemd delete the ip in the system and no petition is done to the dhcp server

sudo networkctl status ens192
● 2: ens192
       Link File: /usr/lib64/systemd/network/99-default.link
    Networ

[2018-04-17 15:37] gnufied commented on #2371
@Quentin-M when Kubernetes can not detach the volume - is the volume still mounted on the node? It sounds like this could be a problem somewhere in EBS stack rather than Kubernetes itself. Have you talked to Amazon and what do they say?

[2018-04-17 15:44] jorgelon commented on #2404
I have been testing different solutions to have a **temporary** workaround and this works

/etc/systemd/network/ens192.network
[Match]
Name=ens192

[Route]
Destination=10.255.255.1/32
Scope=link

[Route]
Gateway=10.255.255.1
GatewayOnlink=yes

[Network]
DHCP=yes

[DHCP]
UseRoutes=false

[2018-04-17 18:36] Quentin-M commented on #2371
The volume never gets mounted, as shown in the `nvme list` above. The
kernel fails to bring up the NVMe Controller for the device.
Kubernetes is not the culprit, it is between the OS and AWS. It is AWS that
fails to detach the volume without `--force`.

I have created a ticket at AWS, no answer so far. However, the volume can
be mounted successfully on other machines.

On Tue, Apr 17, 2018 at 8:37

[2018-04-17 18:47] michalzxc commented on #2406
Thank you, that of course was it :)
I didn't found it in instruction, it was my attempt to fix it guessing that maybe systemd-resolved was compiled with some parameter what was changing default for it

[2018-04-17 18:47] #2406 closed

[2018-04-17 19:15] gnufied commented on #2371
Why do you have to force detach the volume if it is not mounted on the node? a normal detach should do the job.

Can you post output of `/dev/disk/by-id/` from the node where volume is being attached but not mounted? if volume is attached but not mounted - it could be a problem with Kubernetes.

[2018-04-17 19:27] gnufied commented on #2371
So it appears that - although EC2 thinks volume is attached on the node, but when you login to the node - you can't see the disk? The disk is not mounted and not even attached (doesn't show up in `lsblk` or `nvme list` or `ls /dev/disk/by-id` )? Is that correct?

If that is indeed the case - then the problem is somewhere within Amazon stack and not kube.

[2018-04-17 20:10] lucab commented on #2371
@Quentin-M it looks like kernels 4.16 and 4.17 are getting a lot of NVMe-related stability/correctness patches (I'm specifically looking at [this](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git/commit/drivers/nvme/host/pci.c?h=v4.16.2&id=2b1b7e784a63f5ded4dda804e05e3f34b3880b25) and [this](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/drivers/nv

[2018-04-17 20:54] ajeddeloh commented on #2400
Things needed before binary patching:
 * [ ] Determine if the behavior change is breaking, and to what degree; decide if it should be `nop`'d out or if the operand should be fixed
 * [x] Find the bad instuctions in every `linux.mod`, where they are and what they should be patched to
   * [x] What they should be patched to assuming the operand should be fixed
   * [ ] What they should be patched to

[2018-04-18 09:46] eliskovets opened #2409 "Huge performance degradation after upgrading from 1632.3.0 to 1688.5.3"
# Issue Report #

## Bug ##
After upgrading our ami from ami-a61464df to ami-34237c4d we started to experience huge performance degradation for our php application running on php-fpm.
### Container Linux Version ###

[code]

### Environment ###

AWS eu-west-1

### Expected Behavior ###
No cpu spikes on every request
### Actual Behavior ###
Cpu spikes on every request
### Reproduction Steps ###

[2018-04-18 10:14] eliskovets commented on #2409
Hi guys,
The main reason why I've created this issue is that when we upgraded our instances to the latest coreOS(stable) version our cpu utilisation jumped from 10-20% to 40-60%. For sure we expected some performance degradation with Spectre2 fix, but not so huge impact which we actually got.

[2018-04-18 16:42] dm0- commented on #2407
I'm going to close this as an issue with our documentation, which has been updated to use systemd's preferred configuration method, and the coreos-user list has been notified of this change.  Please reopen if anyone feels this change in systemd is problematic enough to warrant further discussion.

[2018-04-18 16:42] #2407 closed

[2018-04-18 19:34] mdgreenwald commented on #2201
Does adding:
`kubeletOpts: --volume-plugin-dir=/etc/kubernetes/plugins`

to `cluster.yaml` also work?

[2018-04-18 20:58] louismunro opened #2410 "Zombie processes on 1688.5.3"
# Issue Report #

Zombie processes (sshd) increasing until no new process can be created.

## Bug ##

I have a container running the alpine-sshd image (running openssh 7.5) used to transfer some files which are then written to an EFS volume. Every time a connection to its sshd is opened and then closed a zombie sshd process is left behind.
I have reproduced the problem using another alpine based i

[2018-04-18 22:26] euank commented on #2410
This is actually a kinda weird Kubernetes interaction, not a change in docker or the kernels' behaviour.

On both AMIs referenced, the following will produce zombies with that container:

[code]

What's I suspect you're observing here is that the Kubernetes [shared-pid feature](https://github.com/kubernetes/kubernetes/pull/45236) turns itself on when it detects the Docker version is >= 1.13.1, so

[2018-04-19 01:02] euank commented on #2409
Hey @eliskovets, that sounds like a quite large impact.
Unfortunately, without a bit more information it's not very actionable for us. Can you also provide:

* AWS instance type / types in use
* Some sort of fairly self-contained reproduction
* (optionally / more difficult) `perf` recordings to figure out where the extra cpu cycles go

I wouldn't expect anything near that sort of performance hit u

[2018-04-19 12:12] gjvanetten commented on #2123
how can you change a template for an existing host?

[2018-04-19 18:35] louismunro commented on #2410
Looks like you are right. Upgrading the pause container fixes this.
I had always assumed (incorrectly) that the pause container reaped defunct processes.
I hadn't realized that that was not the case prior to version 3.1.

Thank you for your help.

[2018-04-19 18:35] #2410 closed

[2018-04-20 08:37] zq-david-wang commented on #2320
Close this issue since docker-18.03.0-ce has containerd bumped to 1.0.2.  And my clusters have run on containerd 1.0.2 for more than two weeks without getting a hang.

[2018-04-20 08:37] #2320 closed

[2018-04-20 18:57] mwthink commented on #2390
I'm currently experiencing this issue and have been debugging it for awhile now. Pretty sure I've narrowed it down to the RAID controller firmware. By any chance, are you using a P410 card for your disks?

Also, can you check the output of `fdisk -l`? For me, I can see the devices in `lsblk`, but they won't show on fdisk.

[2018-04-21 05:47] holygits commented on #2390
I believe it was a 410i card. As far as I remember `fdisk -l` showed no disks.  I've since left the company so can't be much more help. In the past I've been able to install CoreOS by using random older versions and channels and then updating to the current release if the install succeeded.

[2018-04-21 22:27] hapnermw opened #2411 "Creating a CoreOS EC2 Instance with a user-created AMI breaks CoreOS Update"
# Issue Report #

This problem only occurs with instances that have been created from a second generation CoreOS  AMI.

By second generation I mean an instance created by the following process:

1. Create an EC2 instance with a CoreOS Stable AMI giving it this ignition data:
[code]

This is a stand-alone instance - no fleet, no etcd, no k8s

2. Add a few systemd services

3. Stop instance

4. Crea

[2018-04-23 14:55] bgilbert commented on #2411
Your Ignition config is writing `update.conf` with Windows line endings:

[code]

Note the spurious `%0D`s.  This is causing Update Engine to request a nonexistent update group:

[code]

[2018-04-23 15:59] hapnermw commented on #2411
Thanks Ben,

This text was taken directly from an ignition example that I see was later
replaced with an example that has correct line endings. I thought this was
odd at the time.

The fact that the line ending causes update to fail with no indication that
it has gotten a bad update strategy is an issue that should be fixed.

It would also be a good idea to provide ignition support for setting the

[2018-04-23 16:48] bgilbert commented on #2411
See #2203.

We recommend that Ignition configs not be written by hand, but instead be generated from [Container Linux Configs](https://coreos.com/os/docs/latest/provisioning.html).  The [`update.group` key](https://coreos.com/os/docs/latest/configuration.html) provides exactly this functionality, and the Config Transpiler will complain if an unknown update group is specified.

[2018-04-23 19:50] tonglil commented on #2395
Is there a way to configure container linux config without having to run `ct` locally first?

The nice thing about cloud-config was that I didn't need to do any compiling locally (or in my CI/CD).

[2018-04-23 20:04] ajeddeloh commented on #2395
No. We strongly recommend you use `ct`. You _can_ write Ignition configs by hand, but it's a pretty painful process and we do not recommend it. If your config doesn't change much, you can take the resulant Ignition config, which can be handed to the machine directly and use it where you used the cloud-config. The Ignition spec is backwards compatible so newer releases will accept old configs just

[2018-04-23 20:44] luis-silva commented on #2210
This works on VMWare if you enable `efi` boot for the guest VM. It's been supported since ESXi 5.0 according to [this](https://communities.vmware.com/docs/DOC-28494) document.

You can confirm pstore is using the efi backend by running:
[code]

test the kernel panic with
[code]

And then after reboot you'll find:
[code]

Hope this helps the next person trying to get this to work with VMWare.

[2018-04-23 21:56] tonglil commented on #2395
I have been trying to convert my cloudconfig to clc yaml but `ct` has problems dealing with multiline strings I need to put as files. Many of these files are yaml and json themselves.

Additionally debugging clc is difficult since `ct` just spits out basic error messages like this without any context (which is hard to find since the clc yaml is generated by terraform):
[code]

[2018-04-23 22:06] ajeddeloh commented on #2395
I assume you're using a pipe `|` then ensuring the contents of the file is indented properly? If so, please open a new bug (as it's getting off topic for this one) with an example. Given the error message, I'd double check you have:
[code]
and not
[code]

Finally, ct does allow you to include files from your filesystem by using `local` instead of `inline` or `remote`. If the yaml in yaml is hard t

[2018-04-23 22:46] Quentin-M commented on #2371
After a few back and forth with AWS:

[2018-04-24 00:20] DrMurx opened #2412 "Intel microcodes rev 0x2d cause frequent crashes"
# Issue Report #

## Bug ##

Since I upgraded to the CoreOS release which includes the new Intel microcodes rev 0x2d which are supposed to mitigate Spectre & Meltdown, my server reboots occasionally. Apparently, the issues Intel made to revoke the first iteration of those microcode updates in January still exist on older CPUs.

Using the kernel parameter `noibrs noibpb` seems to help a bit and red

[2018-04-24 14:17] jorgelon opened #2413 "DUIDType=link-layer shows "Operation not supported""
# Issue Report #

We need to send the mac as client identifier in IPV6 but when i enable the DUIDType=link-layer option in a .network  file I get a "Operation not supported" error

### Container Linux Version ###
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1688.5.3
VERSION_ID=1688.5.3
BUILD_ID=2018-04-03-0547
PRETTY_NAME="Container Linux by CoreOS 1688.5.3 (Rhyolite)"
ANSI_COLOR="38;5;75"
H

[2018-04-24 14:56] lucab commented on #2413
I may be misreading the [documentation](https://www.freedesktop.org/software/systemd/man/networkd.conf.html#DUIDType=), but it looks like you also need to set a corresponding meaningful value in `DUIDRawData`. Does your configuration stanza have it?

[2018-04-24 15:01] jorgelon commented on #2413
Yes but if I use that field, not only the mac address is sent
"The DUID that is sent is composed of the DUID type specified by DUIDType= and the value configured here"

[2018-04-24 15:04] jorgelon commented on #2413
The point is i need to add DUIDType=link-layer in the .network file and start dhcpcd.service to get it working.
I dont know why networkd is not able to do the same without starting dhcpcd.service.