[2015-10-01 05:15] #887 closed

[2015-10-01 05:15] #888 closed

[2015-10-01 05:15] #889 closed

[2015-10-01 05:15] #890 closed

[2015-10-01 05:15] #893 closed

[2015-10-01 05:15] #897 closed

[2015-10-01 05:15] #870 closed

[2015-10-01 05:15] #871 closed

[2015-10-01 05:16] #872 closed

[2015-10-01 05:16] #873 closed

[2015-10-01 05:16] #874 closed

[2015-10-01 05:16] #875 closed

[2015-10-01 05:16] #876 closed

[2015-10-01 05:16] #879 closed

[2015-10-01 05:16] #891 closed

[2015-10-01 05:16] #892 closed

[2015-10-01 05:16] #894 closed

[2015-10-01 05:16] #895 closed

[2015-10-01 05:16] #896 closed

[2015-10-01 05:16] #878 closed

[2015-10-01 05:16] #881 closed

[2015-10-01 05:17] jonboulle opened #898 "README is inaccurate"
<a href="https://github.com/rbucker"><img src="https://avatars.githubusercontent.com/u/882595?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rbucker](https://github.com/rbucker)**
_Monday Mar 23, 2015 at 00:33 GMT_
_Originally opened as https://github.com/coreos/toolbox/issues/15_

---

I'm not sure what this is... since this project was created the toolbox has been de

[2015-10-01 05:17] jonboulle opened #899 "systemd-nspawn: invalid option -- 'c'"
<a href="https://github.com/rbucker"><img src="https://avatars.githubusercontent.com/u/882595?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [rbucker](https://github.com/rbucker)**
_Saturday May 16, 2015 at 13:48 GMT_
_Originally opened as https://github.com/coreos/toolbox/issues/17_

---

I'm not a fan of 'mosh', however, mosh might fill a gap. cutting to the quick: Th

[2015-10-01 05:17] jonboulle opened #900 "No access to /dev/tty on alpine or busybox toolbox images"
<a href="https://github.com/sporkmonger"><img src="https://avatars.githubusercontent.com/u/1778?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sporkmonger](https://github.com/sporkmonger)**
_Monday Jun 01, 2015 at 16:58 GMT_
_Originally opened as https://github.com/coreos/toolbox/issues/19_

---

There doesn't seem to be a writeable TTY device inside toolbox (using an

[2015-10-01 05:17] jonboulle commented on #900
<a href="https://github.com/sporkmonger"><img src="https://avatars.githubusercontent.com/u/1778?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sporkmonger](https://github.com/sporkmonger)**
_Monday Jun 01, 2015 at 17:05 GMT_

----

Worth noting that I can boot into the same exact image without the tty problem on the same box by just entering the docker command manual

[2015-10-01 05:17] jonboulle commented on #900
<a href="https://github.com/sporkmonger"><img src="https://avatars.githubusercontent.com/u/1778?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sporkmonger](https://github.com/sporkmonger)**
_Monday Jun 01, 2015 at 17:07 GMT_

----

Tried it with ubuntu too and that works, so may be alpine/busybox specific. Given that image size matters though, having it work with alp

[2015-10-01 05:17] jonboulle commented on #900
<a href="https://github.com/sporkmonger"><img src="https://avatars.githubusercontent.com/u/1778?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sporkmonger](https://github.com/sporkmonger)**
_Monday Jun 01, 2015 at 17:10 GMT_

----

Confirming the problem also happens w/ busybox.

[2015-10-01 05:17] jonboulle commented on #900
<a href="https://github.com/alexanderkiel"><img src="https://avatars.githubusercontent.com/u/822457?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [alexanderkiel](https://github.com/alexanderkiel)**
_Wednesday Aug 26, 2015 at 16:40 GMT_

----

Same for me with alpine 3.2 in CoreOS 723.3.0

[2015-10-01 05:17] jonboulle opened #901 "try to use busybox image, error: lacks the binary to execute"
<a href="https://github.com/Gohan"><img src="https://avatars.githubusercontent.com/u/212567?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [Gohan](https://github.com/Gohan)**
_Saturday Sep 19, 2015 at 16:44 GMT_
_Originally opened as https://github.com/coreos/toolbox/issues/22_

---

cat ~/.toolboxrc

[code]

toolbox --bind=/home/core

Directory /var/lib/toolbox/core-bu

[2015-10-01 05:17] jonboulle commented on #901
<a href="https://github.com/crawford"><img src="https://avatars.githubusercontent.com/u/368848?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [crawford](https://github.com/crawford)**
_Saturday Sep 19, 2015 at 18:52 GMT_

----

Apparently, that image doesn't come with bash. Run `toolbox /bin/sh` instead.

[2015-10-01 05:17] jonboulle commented on #901
<a href="https://github.com/marineam"><img src="https://avatars.githubusercontent.com/u/153640?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [marineam](https://github.com/marineam)**
_Saturday Sep 19, 2015 at 19:31 GMT_

----

Perhaps the script should fall back to sh automatically?

[2015-10-01 05:17] jonboulle commented on #901
<a href="https://github.com/crawford"><img src="https://avatars.githubusercontent.com/u/368848?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [crawford](https://github.com/crawford)**
_Saturday Sep 19, 2015 at 19:54 GMT_

----

Meh, maybe just a TOOLBOX_ENTRY variable so you don't have to type out /bin/sh every time.

[2015-10-01 05:17] jonboulle commented on #901
<a href="https://github.com/jonboulle"><img src="https://avatars.githubusercontent.com/u/2601015?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [jonboulle](https://github.com/jonboulle)**
_Saturday Sep 19, 2015 at 20:01 GMT_

----

+1
On Sep 19, 2015 12:54, "Alex Crawford" <notifications@github.com> wrote:

[2015-10-01 05:17] jonboulle opened #902 "Use dashes instead of underscores when creating the machine name"
<a href="https://github.com/ianbytchek"><img src="https://avatars.githubusercontent.com/u/1086845?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ianbytchek](https://github.com/ianbytchek)**
_Thursday Oct 01, 2015 at 04:21 GMT_
_Originally opened as https://github.com/coreos/toolbox/issues/23_

----

For consistency sake, please use `-` not `_` https://github.com/coreos

[2015-10-01 10:06] h0tbird commented on #462
+1 I see this problem quite often:

[code]

[2015-10-01 10:28] leonfs commented on #489
@bfallik What is your process to reproduce the error? I would like to help you debug it.

[2015-10-01 15:40] orbistertius opened #903 "Bad ATA WWN identifiers and links (udev bug)"
In some recent releases of CoreOS, including current stable 766.4.0, udev reports wrong WWN identifiers for ATA drives. This should be related to an [udev bug](https://github.com/systemd/systemd/pull/651).
As a consequence, /dev/disk/by-id/wwn-* links for ATA drives will change after an update to a CoreOS release including fixed udev.

An example of bad wwn-* links in /dev/disk/by-id/ , please not

[2015-10-01 16:34] bfallik commented on #489
@leonfs Thanks!

It's fairly simple for us to reproduce. We had a set of Docker containers we run as part of our internal integration tests. As of CoreOS 808.0.0 we encounter memory errors every time we invoke the tests on our standard VM size with 1024GB of RAM. In 766.x and earlier versions the tests always pass.

As a workaround for our developers we've increased the default VM size to 1536GB.

[2015-10-01 18:52] carmstrong opened #904 "Azure: COREOS_PUBLIC_IPV4 is the IP of the load balancer, not an instance's interface"
[code]

[code]

The public IP of all of these instances is different, of course, and is an actual IP. I can see this in the Azure console:

[code]

Unfortunately, it looks like whatever facility populates `/etc/environment` for Azure hosts is incorrectly inferring its public interface address.

[2015-10-01 19:20] klausenbusk commented on #489
Excepted, it take some time before the 461454 kbytes is used again, by cache/buffer. Try wait a little while, or fill the cache/buffer. Kind of explanation of cache/buffer here: http://stackoverflow.com/questions/6345020/linux-memory-buffer-vs-cache
Explanation of why increasing min_free_kbytes help: http://stackoverflow.com/questions/21374491/vm-min-free-kbytes-why-keep-minimum-reserved-memory (f

[2015-10-01 23:05] marcovc commented on #396
I spent an afternoon searching for this solution. Thanks!

[2015-10-02 07:21] ianbytchek commented on #902
I was wondering for a second what happened with issues over there :smile:

[2015-10-02 09:43] antoineco commented on #447
I confirm, on fresh 815.0.0 nodes SELinux is throwing the same errors as @tg90nor mentioned.
It doesn't happen on nodes upgraded from 808.0.0 though.

[2015-10-02 11:16] kayrus commented on #780
confirm same issue on CoreOS 815

[2015-10-02 11:20] hkjn commented on #780
Thanks for linking the issue kayrus, I can confirm that it occurs on `CoreOS 723.3.0` and `CoreOS 766.4.0` as well.

[2015-10-02 22:11] mischief opened #905 "initrd-setup-root.service failing in 815.0.0"
these logs were found while debugging something unrelated with `pryorda` on #coreos. looks like selinux tomfoolery.

[code]

[2015-10-02 22:27] vcaputo commented on #489
I've been able to reproduce this without involving docker at all, so we can eliminate that variable.

Right now it looks like a kernel regression, and overlayfs is effective at triggering it.  Simply read /dev/vda into /dev/null as @klausenbusk did above then try write to a file on overlayfs triggering a copy_up, it will trigger the allocation failure.  There are plenty of reclaimable buffers but

[2015-10-03 12:29] ianbytchek opened #906 "grep -P doesn't work, pcregrep does"
Big admirer of perl regular expressions. Enjoy them most with grep. Couldn't help to notice, that `grep -P` on CoreOS fails with `grep: support for the -P option is not compiled into this --disable-perl-regexp binary`, yet `pcregrep` works just fine. If I recall correctly, they use the same library, why not enable this in grep too? Or am I confusing something?

[2015-10-04 23:50] xrl commented on #67
How can I get `coreos-cloudinit` to skip the configdrive data and go to the ec2 metadata?

[2015-10-05 00:12] xrl commented on #67
I think this is relevant cloud-init file which specifies the configuration:

[code]

[2015-10-05 08:41] martingartonft commented on #481
Since this has now reached stable, we're seeing this failure in our production environment.
Is there anything we can do to help debug this?

[2015-10-05 10:18] Zapadlo opened #907 "Machine stuck on old version in stable"
Hello, we have a cluster of 5 coreos machines, 4/5 have upgraded to the latest stable `766.4.0` apart from one, that is stuck at ` 766.3.0`. This is recent logs from the `update-engine.service`:

[code]

Restarting the machine has no effect.

[2015-10-05 13:21] bfallik commented on #489
@vcaputo nice catch! hopefully the isolated reproduction case will make it easier to track down the regression.

[2015-10-05 20:39] vcaputo commented on #489
I've been able to reproduce this now without overlayfs:
1. fresh boot
2. dd if=dev/vda of=/dev/null
3. insmod oomtest.ko

where oomtest.ko is a trivial kernel module which allocates 64KiB like the overlayfs code path which is failing:
[code]

So overlayfs is off the hook and this looks firmly to be a kernel mm regression, which might already be fixed upstream, time to test a newer kernel.

[2015-10-05 22:41] vcaputo commented on #489
Unable to reproduce on 4.2.2

[2015-10-06 11:03] kayrus commented on #447
Have just upgraded CoreOS form 723.3.0 to 815.0.0:

[code]

[2015-10-06 11:07] kayrus opened #908 "docker: "fatal error: runtime: out of memory" when container produces lots of logs"
Reproducible in 647.0.0, 723.3.0 and 815.0.0

Use this test systemd unit:

[code]

Run it and you'll receive `fatal error: runtime: out of memory` [error message](https://gist.github.com/kayrus/76cc4f923e940d1e28b0)

/cc @philips @crawford

UPDATE: weird... busybox+sh fails docker container. ubuntu+sh fails container. ubuntu+bash - not.
UPDATE1: increased burst and rate interval (`RateLimitInterva

[2015-10-06 11:42] dongsupark commented on #489
@vcaputo thanks! The sample kernel modules looks like a real reproducer for this issue.
I'm also able to trigger the error with kernel 4.2, by running `"cat /dev/vda > /dev/null; find / -xdev -exec sha1sum {} \;"`, followed by `"insmod oomtest.ko"`, as you mentioned.
However, I don't think this issue is gone with 4.2.2. I'm also able to reproduce the error with both 4.2.2 and 4.3-rc4. So this bug

[2015-10-06 15:39] dongsupark commented on #908
I can also easily see this error, with docker 1.8.2, kernel 4.3-rc4 on a virtual machine with 1G RAM.
I suppose it's a similar issue as https://github.com/docker/docker/issues/14460. However, although docker 1.8.2 already merged the PR https://github.com/docker/docker/pull/16190, the crash seems to still happen.
As a workaround, it would be possible to raise system memory to 2G or higher. That'll

[2015-10-06 16:23] marineam commented on #447
Yeah, either we are missing the proper tmpfiles rules to set up upgraded systems or the existing rules are incorrect.

[2015-10-06 16:24] marineam commented on #447
From the error probably just needs a `d /etc/selinux` line

[2015-10-07 00:44] vcaputo commented on #426
ignore the label noise, don't know how that happened.

[2015-10-07 15:09] pmoust commented on #489
Experiencing the exact same behavior in our prod cluster. Was able to reproduce it as @vcaputo illustrated

[2015-10-07 16:27] vaijab opened #909 "SSH locks up after few hours"
I found that sshd locks up after few hours a machine has been up on EC2. I noticed this started to happen quite a few versions back.

[code]

If I have an ssh connection up it stays up, but when I try to establish a new one, ssh just hangs. I see that at TCP level, a new connection gets established, but seems that there is nothing to hand over a new ssh connection to.

I believe that systemd accep

[2015-10-07 16:27] vaijab commented on #909
/cc @danharvey - I believe you experienced something similar?

[2015-10-07 16:46] danharvey commented on #909
Yes I've noticed something similar too on EC2 instances. We are running 766.4.0 now but also noticed this in 766.3.0. We have some instances that after a few hours (sometimes less) would no longer allow new SSH connections. All other TCP connects still work fine and EC2 reports the instance as healthy.

I've never had a connection open to one that's failed to work so can't provide more details sor

[2015-10-07 17:00] grepory commented on #333
@crawford The same issue is present in the AMI build for EC2. The process for modifications per-oem release is kind of opaque. Is there documentation? Or can you point me in the right direction?

[2015-10-07 18:05] xrl commented on #824
Looks `vendor/` support will be an experiment in 1.5 and then in 1.6 it will work transparently: https://github.com/golang/go/commit/183cc0cd41f06f83cb7a2490a499e3f9101befff

[2015-10-07 21:52] vaijab commented on #909
There is almost zero load.

[2015-10-07 22:34] mischief opened #910 "bump util-linux to 2.27 in preparation for systemd 227"

[2015-10-07 23:18] marineam commented on #447
er, the tmpfiles config is fine, I just screwed up the kernel options.

[2015-10-07 23:34] #910 closed

[2015-10-08 01:25] mischief commented on #907
@Zapadlo does poking update engine with `update_engine_client -check_for_update` help at all?

[2015-10-08 04:52] mischief commented on #906
it looks like pcre USE flag is turned off in https://github.com/coreos/coreos-overlay/blob/master/profiles/coreos/base/make.defaults#L19, but it's not clear why that is the case. perhaps @marineam knows?

[2015-10-08 07:10] bchanan03 opened #911 "Docker container exposing ports"
Hi,

I have a docker container running powerdns and powerdns admin.
I run the container as follows:

/usr/bin/docker run -e ROLE=MASTER -h pdns-master.saas.lab --rm --name pdns-master -p 8015:80 -p 53:53 -p 53:53/udp -p 8053:8053 -t -v /home/core/trust_authority/data/pdns-master:/var/lib/mysql secure-registry-devops.saas.lab:5000/pdns:latest

when running:
curl http://localhost:80/poweradmin/index

[2015-10-08 07:46] bchanan03 commented on #911
NAME=CoreOS
ID=coreos
VERSION=815.0.0
VERSION_ID=815.0.0
BUILD_ID=
PRETTY_NAME="CoreOS 815.0.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

am running Alpha

[2015-10-08 08:25] bchanan03 commented on #911
Found the problem thanks to kayrus on the IRC channel #docker
With his help we found the that container ip for pdns-master on docker inspect
was not same IP as found in pdns-master DB

[2015-10-08 08:25] #911 closed

[2015-10-08 09:12] Zapadlo commented on #907
@mischief Actually never got the chance, logged in today to have a go, and all boxes are running `766.4`. Looking at the logs:
[code]

Unclear what happened, but happy for you to close the issue.

[2015-10-08 10:18] mischief commented on #907
perhaps the update server rate limited you.

[2015-10-08 10:18] #907 closed

[2015-10-08 14:06] vaijab commented on #909
I kept an existing ssh connection open so that I can investigate more. Waited a few hours and now when I try to establish a new connection, I see that my client ssh makes a connection and then hangs waiting for something.

On the server side I see below in the logs:
[code]

ps output
[code]

Every time I try to connect via ssh now, a new `(sshd)` gets created and it never dies.

[2015-10-08 14:09] vaijab commented on #909
AHA! `strace` to the rescue. It's great that strace is included in CoreOS nowadays!

Did a strace on one of `(sshd)` PIDs:

[code]

As you can see, sshd is waiting on journal socket which never becomes available. Just did a `sudo systemctl restart systemd-journald.service` and voila! SSH works again.

Now the question is why journal gets locked up?

[2015-10-08 14:31] danharvey commented on #909
Interestingly it was also journald that was eating up the CPU before (and increasing the load) way more than it should be. It was around ~200 lines/s which journald should easily be able to deal with. Again we saw that on 766.4.0.

[2015-10-08 15:58] dongsupark commented on #908
Docker 1.9.0-dev 52de250 (current master) seems to be a little different from 1.8.2. Now with 1.9.0-dev the dockerd process doesn't die immediately on the internal buffer, but it runs for a while, until the kernel oom-killer actually kills that daemon.

[2015-10-08 16:48] xied75 commented on #333
@grepory If you mean how to build the OEM images yourself, have a look here:
https://coreos.com/os/docs/latest/sdk-modifying-coreos.html

It's very easy and fun!

[2015-10-08 16:50] grepory commented on #333
Thank you so much. We have a fix for the EC2 AMI that makes user-config.target
work. We’ll open a PR once we figure out how to do it within the context of coreos
oem image creation.

I fail at finding documentation. ^_^

[2015-10-08 18:55] marineam commented on #906
@mischief inherited from ChromeOS to avoid unneeded libraries, but I'll bet something we ship has a non-optional dep on pcre and we are shipping it anyway. Need to check that though.

[2015-10-08 18:58] marineam commented on #906
selinux and nmap (we only ship ncat though) pull in libpcre, so disabling it for grep doesn't gain anything.

[2015-10-08 22:55] mischief commented on #905
fixed by coreos/coreos-overlay#1577

[2015-10-08 22:55] #905 closed

[2015-10-08 23:45] #906 closed

[2015-10-08 23:46] mischief commented on #906
@ianbytchek this feature will appear in coreos alpha soon, probably next week.

[2015-10-09 00:25] yichengq commented on #347
Close this due to low activity. Feel free to reopen it if this is still a problem.

[2015-10-09 00:25] #347 closed

[2015-10-09 00:26] yichengq commented on #390
Friendly ping.

[2015-10-09 00:26] yichengq commented on #442
Friendly ping.

[2015-10-09 02:40] anguslees commented on #850
Following the title of this issue, it would be great if locksmithctl called out to a separate tool, and rebooted iff that tool exited 0 (for example).  I'd like to use zookeeper instead of etcd (I'm using mesos), and currently my only option to add a new strategy is to reimplement the entire locksmith machinery.

(If following this proposal, it should probably be specified whether the tool should

[2015-10-09 07:23] ianbytchek commented on #906
Thanks guys!

[2015-10-09 09:55] remoe commented on #326
Hi

I've tried this with a "bare metal" installation on VBOX with CoreOS Alpha. I've updated the /var/lib/coreos-install/user_data to change set the public interface to DHCP and the internal to static like:

[code]

But after boot I don't see any changes on the network ip.

[2015-10-09 11:09] dongsupark commented on #908
I think we can close this issue, as the problem was already solved by https://github.com/docker/docker/pull/16190, which reimplements NewBufReader(). See also https://github.com/LK4D4/docker/commit/24310b5b4ab600ab5cb046d2f2ceaaa086b30be3 and https://github.com/LK4D4/docker/commit/56b70bf84e253bfedef94248a0b6b1f8d730091c.
With those changes, docker daemon effectively introduces a maximum limit to

[2015-10-09 11:53] jonathanperret commented on #908
I would be careful closing this. The reason  https://github.com/docker/docker/commit/52de250 behaves differently, is that it includes https://github.com/docker/docker/pull/16190 . However, as @dongsupark witnessed, it still allocates unlimited memory (the internal buffer is _not_ capped even after https://github.com/docker/docker/pull/16190 , despite appearances ) when logging faster than logs are

[2015-10-09 12:28] remoe commented on #326
After reading this: https://coreos.com/os/docs/latest/network-config-with-networkd.html

I changed it to:

[code]

This works!

[2015-10-09 17:57] psschroeter opened #912 "Support multipart mime"
So I'm interested in adding multipart mime support for coreos like cloud-init has: http://cloudinit.readthedocs.org/en/latest/topics/format.html#mime-multi-part-archive.  This feature is nice for vendors/brokers as it allows mixing of config/scripts from different sources (such as a broker and a user) is a fairly easy fashion. I was checking to make sure you didn't have an objection to a PR coming

[2015-10-09 19:56] lleszczu opened #913 "systemd-networkd does not change mtu"
According to https://coreos.com/blog/intro-to-systemd-networkd/ I need a .link file to change interface MTU, it does not work though. I did try to go through logs with journalctl but without any luck ( no entries related to .link files ).
That's the entry from my cloud config
[code]

There is workaround: add custom udev rule and place it in /etc/udev/rules.d/10-net.rules
[code]
After that restart

[2015-10-09 20:10] marineam commented on #913
You must prefix link files with a number, such as `50-eno1.link`. Otherwise the config doesn't match and the default 99-default.link is used.

[2015-10-09 20:11] marineam commented on #913
This isn't a issue for .network files because our default is named zz-default.network, but 99-default.link is from upstream systemd not us so we didn't get to pick the name.

[2015-10-09 20:14] marineam commented on #913
That doc goes to great lengths to never specify a file name for the example config, we should change that so users have a more explicit pattern to follow.

/cc @robszumski

[2015-10-09 22:12] vcaputo commented on #489
After going down this rabbit hole and coming back up with some revelations and relevant search queries, I found this gem:
http://lkml.iu.edu/hypermail/linux/kernel/1509.2/03675.html

a non-atomic high-order request can fail even though free pages are available
and the order-0 watermarks are ok.

The issue we're stumbling on here seems to be a high-order direct-reclaim allocation when the watermark

[2015-10-09 22:20] pmoust commented on #489
@vcaputo by glancing at LKML, you think this might be solved after 4.3 gets out of RC?

[2015-10-09 23:06] pmoust commented on #909
We experience the same issue across 6xx to 766.4.0.

On hosts with very 'noisy' systemd services (streaming lots of output to journal) spawning an ssh connection is a no go.

In most cases I was able to verify that journal checks were failing via `journalctl --verify`.
Work around for me was to rm the FAILing parts and `systemctl restart systemd-journald`.

The behaviour is reproducible, create a

[2015-10-09 23:29] pmoust commented on #362
Experiencing the same on EC2,
Screenshot from a session on 3 CoreOS 766.4.0 nodes
![screenshot 2015-10-10 02 12 02](https://cloud.githubusercontent.com/assets/2493339/10407648/9838aec0-6ef6-11e5-8ad4-7c08e5efbd54.png)

[2015-10-09 23:38] mischief commented on #362
i don't see here where a problem with docker0 is. i'm pretty sure this is just the docker containers starting and stopping, and their bridge ports follow suit.

[2015-10-09 23:44] pmoust commented on #362
@mischief I stand corrected. Of course it's the containers starting/stopping, it's late here at EEST ;)

[2015-10-10 00:33] hookenz commented on #362
Turns out it's normal I think.    I was assuming this error was the symptom of another.  It wasn't.

[2015-10-10 00:33] #362 closed

[2015-10-10 11:06] mthibaut commented on #442
Sorry haven't seen this till now. I'll give it a try.

[2015-10-10 15:19] robszumski commented on #913
@marineam should this example https://coreos.com/os/docs/latest/network-config-with-networkd.html#static-networking not be called static.network?

[2015-10-11 20:56] bchanan03 opened #914 "CoreOS alpha - install failed to start"
Hi All,

When start my virtualbox in order to install the new version 829.0 I get
"Failed to start Switch Root"

Attached is an image showing the error and the status
![failed](https://cloud.githubusercontent.com/assets/7847610/10419035/7f4337e0-7073-11e5-9a33-03d758667965.png)

the issue found within initrd-switch-root.service - I tried downloading the ISO file twice
same issue found on both.

Th

[2015-10-11 21:41] philips opened #915 "better story for ignition from rootfs"
David Anderson came up with a nice hack to make running igntion from bare metal with a mchine image:

However, ideally ignition reads from some well-known disk partition on an image similar to the config-drive so that people using image based systems (vmware, openstack, etc) can utilize ignition without a smart PXE server.

https://plus.google.com/u/2/+DavidAndersonJC/posts/dwDGSjVVhov?cfem=1

[2015-10-12 06:28] bchanan03 commented on #914
Update:
1) I found that also stable version failed - and I am sure it worked in the past :(
2) I re-installed the virtualbox with the latest version 5.0.6 - and tried the Stable version
all works.

[2015-10-12 06:33] bchanan03 commented on #914
I tried again:
1) Stable version works as should
2) Alpha version failed the initrd-switch-root.service service

[2015-10-12 06:56] antoineco commented on #447
I can confirm that everything works fine on a fresh 829.0.0. Thanks @marineam \o/

[2015-10-12 13:25] stelund opened #916 "Docker pull image stalls with coreos 829.0.0"
In the end of pulling an image from local registry (v2) with the docker client the daemon stalls and does not continue. Pulling an image from global docker registry works fine, perhaps it is due to the image is not verified?

core@coreos-in-dev-01 ~ $ docker pull internal.com/redis
Using default tag: latest
latest: Pulling from redis
3fdce1a9dbd6: Pull complete
535df7603e66: Pull complete
ab1ce38d

[2015-10-12 14:49] kayrus opened #917 "Update polkit to 0.113"
/cc @crawford @marineam @philips

I've noticed lots of messages:

[code]

Looks like this error message was fixed in 0.113. Also 0.113 has fixed polkitd security issues:
http://cgit.freedesktop.org/polkit/tree/NEWS#n32

Also I was able to debug this crash using strace. Logs below:

[code]

strace: https://gist.github.com/kayrus/933e7a5cfb1e754da1e8

[2015-10-12 19:29] marineam commented on #917
Yeah, noted this a while back and forgot :(

We need to switch from spidermonkey 17 to 1.8.5 too, I did a *lot* of cleanup to the 17 ebuild but haven't seen if it is applicable to the 1.8.5 ebuild yet.

[2015-10-12 23:01] marineam commented on #917
Ok, sorted out the pile of poo that is spidermonkey and posted the ebuild here: https://github.com/coreos/coreos-overlay/pull/1582

[2015-10-13 09:19] MartinPodval commented on #916
+1.

We have started to face same problems during last Friday - when we restarted our cluster so it gets  CoreOS (829). It's almost impossible to pull any "local" image, it almost always indefinitely hangs when working on last layer.

[2015-10-13 09:45] haozhenxiao opened #918 "coreos failed to add change Metric in the Route section with systemd-networkd"
There are two ethernet interfaces on my coreos machine, their names are **eno1** and **eno2**, no DHCP is used, I put two script files to **/etc/systemd/network/**, their names are 10-eno1.network and 10-eno2.network, their contents are shown below:

**10-eno1.network**:
[code]
**10-eno1.network**:
[code]

In the above case, the routing table is like this:
[code]

However, in the above case, I'm n

[2015-10-13 11:14] haozhenxiao commented on #918
After moving the Gateway to the route section, the problem solved, Gateway is mandatory in the Route section if DHCP is not used.

[code]

[2015-10-13 11:14] #918 closed

[2015-10-13 12:57] orbistertius commented on #447
I have similar error messages as @kayrus in PXE-booted nodes with CoreOS alpha 833.0.0 and 829.0.0:

[code]

[code]

[2015-10-13 16:39] kayrus opened #919 "systemd: make systemd-journal-upload and systemd-journal-remote work"
/cc @crawford @marineam @brianredbeard

At the moment it is not easy to configure this chain (journal-upload -> journal-remote). There are several issues I've already faced:

* default systemd-journal-upload.service runs under User=systemd-journal-upload and it fails because of non-existing directory `Cannot create parent directory of state file /var/lib/systemd/journal-upload/state: Permission de

[2015-10-13 18:30] crawford commented on #914
Which version of CoreOS are you attempting to boot? 829.0.0?

[2015-10-13 18:41] crawford commented on #915
That's is the intended use of the `oem` scheme.

I don't like the idea of Ignition _implicitly_ reading its config from a magic location. As for VMware and OpenStack, they are not yet supported by Ignition. Obviously, you can make it work by tweaking the image as David described, but it will be easier in the future.

[2015-10-13 18:53] marineam commented on #914
How much ram did you give the VM?

[2015-10-13 18:55] marineam commented on #447
Hm, must be ordering the semanage.conf symlink before the selinux dir for some reason

[2015-10-13 18:56] crawford commented on #912
There have been requests for this feature but no one is actively working on it. Assuming there is no issue with backward compatibility, I don't see a problem.

[2015-10-13 19:08] mischief commented on #919
a test in kola for exporting journald logs might be useful.

[2015-10-13 19:33] kayrus commented on #914
@bchanan03 can you post full logs? `systemctl status -l initrd-switch-root.service`

[2015-10-13 19:50] #917 closed

[2015-10-13 21:14] xrl opened #920 "No way to override cloudinit's OEM discovery on first boot"
My coreos host is intended to run on an OpenStack installation I do not control. Our OpenStack does not fill in the metadata value for private_ipv4 so when first booting the nodes will register a null IP with the discovery service. I can get the proper private_ipv4 by using:

[code]

but no combination of "command: start", "command: restart", etc will have it take hold on first boot. And by then t

[2015-10-13 21:21] crawford commented on #920
Unfortunately, you will need to ignore the IP addresses coreos-cloudinit gives you and determine them yourself. You can use an approach similar to [this](https://gist.github.com/crawford/3cd24677521f940f842a). You _might_ also be able to use the EC2 image on OpenStack, though, your mileage may vary (I haven't tested it directly).

[2015-10-13 21:28] crawford commented on #904
Are these ASM or ARM machines?

[2015-10-13 21:31] carmstrong commented on #904
ARM. Our Azure contacts suggested that ASM is soon-to-be-deprecated, so we moved over.

[2015-10-13 21:39] crawford commented on #904
OK, that makes sense. coreos-cloudinit was set up assuming machines would use ASM (the only option at the time). I'll have to poke around a bit more and figure out the best approach.

[2015-10-13 21:41] carmstrong commented on #904
Thanks @crawford!

/cc @brunoterkaly @jimzim

[2015-10-13 22:00] xrl commented on #920
Could we change the `#cloudinit` at the top of the yaml file to be more like a shebang, could be a good spot to provide runtime args?

[code]

[2015-10-13 22:13] crawford commented on #920
The userdata can begin with a shebang and coreos-cloudinit will run it.

[2015-10-13 22:14] xrl commented on #920
I don't want to evaluate a script, I would like to stick with the yaml file. But can I provide arguments to the `core-cloudinit` invoked?

[2015-10-13 22:18] crawford commented on #920
No. coreos-cloudinit fetches the config, so by the time it fetches the config, its arguments have already been provided.

[2015-10-13 22:19] xrl commented on #920
Good point. This is an unfortunate situation.

[2015-10-13 23:40] xrl commented on #920
OK, I hacked on this until it worked. Your example was only for etcd, I've got it working for etcd2: https://gist.github.com/xrl/d1d7ba9dd85dd965cd58 . This could be useful to detail in the wiki or something.

[2015-10-14 07:30] crawford opened #921 "Ignition specification isn't rendering properly"
The items under passwd -> groups, for example, don't have the correct indentation. The source is correct, but the generated HTML is wrong.

[2015-10-14 11:10] fasaxc commented on #435
We rebased our test onto Ubuntu, using a 3.19 kernel and that kernel doesn't exhibit the panic.

[2015-10-14 16:01] crawford opened #922 "etcd2 options are out of sync"
Glancing through the etcd 2.2.0 release, I noticed that WAL_DIR was added to etcd but was not added to coreos-cloudinit. There may be other options that are out of sync; I stopped looking after I found the first one.

[2015-10-14 16:28] xiang90 commented on #922
@crawford Sorry about that. I now looked into cloudinit, and found out it is versioned itself.

When we release a new version of etcd, we cannot simply update cloudinit. So can you please notify etcd-team when you want to update etcd/cloudinit in any CoreOS channels? Then we can look if that pair of etcd/cloudinit matches?

[2015-10-14 16:33] xiang90 commented on #922
@crawford Also looking more into the actual functionality, I do not think I fully understand why do we copy etcd flags into cloudinit at the first place.

[2015-10-14 16:42] kayrus commented on #919
Spent almost whole day today with this issue.

Had to compile my own `libmicrohttpd.so.10.29.0` with additional debug messages. With my library everything works fine. So it seems the problem is with our built-in `libmicrohttpd`.

Tried to figure out what is wrong and probably it is this bug https://bugs.gentoo.org/show_bug.cgi?id=550718

But I've tried to compile lib with ebuild flags:

[code]

It

[2015-10-14 16:50] mischief commented on #919
@kayrus ok, let's bump net-libs/libmicrohttpd.

[2015-10-14 16:52] kayrus commented on #919
@mischief can you compile it, upload somewhere and I'll test it.

[2015-10-14 17:10] crawford commented on #922
@xiang90 I think it would make more sense if you submitted a PR against coreos-cloudinit either when you add the flag to etcd or when you release a new version. Then we can pull in that change and bump coreos-cloudinit when we bump etcd. Does that sound reasonable?

We have the flags in coreos-cloudinit so that we can validate the configs (http://coreos.com/validate). We need to know all of the po

[2015-10-14 17:47] jonboulle commented on #922
I suggest making a coreos-cloudinit check part of the etcd release process.

[2015-10-14 17:53] f0 opened #923 "Update btrfs progs to latest release"
please update btrfs progs to the latest release, there are some nice fixes e.g capabilities not lost when using send/receive

[2015-10-14 18:15] xiang90 commented on #922
@jonboulle @crawford After talking this offline, we will put do the following:

1. cut a release of etcd
2. send a pull request to cloudinit.

The OS team will review the changes and merge it when appropriate. (For example, when put etcd into a version of CoreOS itself).

[2015-10-14 18:58] crawford commented on #922
That sounds great!

[2015-10-14 19:01] mischief commented on #923
fixed by coreos/portage-stable#272

[2015-10-14 19:11] mischief commented on #923
sorry, not fixed yet. we will have 4.0.1 in the next alpha release, but have not moved to 4.1+ yet.

[2015-10-15 07:35] jonboulle opened #924 "cloud-config-validator should be versioned"
The validator @ https://coreos.com/validate/ needs to be versioned against the coreos-cloudinit that it reflects.

(It would be amazing if we could have three versions of it reflecting the versions of coreos-cloudinit in alpha/beta/stable, but maybe I'm dreamin')

Also, perhaps the project could be renamed to "coreos-cloud-config-validator" to be consistent with the coreos.com documentation and th

[2015-10-15 08:36] kayrus commented on #919
@mischief our problem is --disable-epoll. `journal-remote.c` uses `MHD_USE_EPOLL_LINUX_ONLY` flag. https://github.com/systemd/systemd/blob/master/src/journal-remote/journal-remote.c#L651

I was confused by working `systemd-journal-gatewayd`, but now I understand why. It doesn't have that flag, only `MHD_USE_POLL`: https://github.com/systemd/systemd/blob/master/src/journal-remote/journal-gatewayd.c

[2015-10-15 11:26] aemr3 opened #925 "Update ixgbe driver to the latest release"
Current version of ixgbe driver on alpha release is 4.0.1-k. I have a server on OVH which has Supermicro motherboard. Network card is Intel X552/X557-AT 10GBASE-T. This network card is never recognized on stable release. In alpha release it is recognized but ip link is always down. I couldn't make it work. So I have compiled latest driver for kernel 4.2.2 and used driver via insmod. And voila! It

[2015-10-15 13:50] kayrus commented on #919
In addition, HTTPS doesn't work because ssl use-flag was disabled.

[2015-10-15 15:21] NeilW opened #926 "rkt container generates 403 on coreos"
CoreOS alpha (833.0.0)

I've created an ACI conversion of a Docker image created from https://github.com/deis/example-dockerfile-http

I run the image with both docker and rkt using host networking.

The docker image runs fine under Docker on CoreOs  but if you convert it to ACI with docker2aci and run with with rkt (version 0.9.0) then accessing the simple http server via 'curl http://localhost'

[2015-10-15 15:32] marineam commented on #919
Sounds like systemd is missing a use flag dep. We should file a bug
upstream in gentoo if it hasn't already been fixed there.
On Oct 15, 2015 1:36 AM, "kayrus" <notifications@github.com> wrote:

[2015-10-15 15:40] kayrus opened #927 "ssl issue systemd-journal-remote and libmicrohttpd"
libmicrohttpd 0.9.44 (yes, I've compiled latest lib with debug messages just to be sure it is not fixed in latest release) fails on huge amount of data when HTTPS is enabled. I've already filed a bug at libmicrohttpd bugtracker: https://gnunet.org/bugs/view.php?id=4007

[code]

[2015-10-15 15:41] kayrus commented on #919
I've opened another bug: https://github.com/coreos/bugs/issues/927

[2015-10-15 16:02] NeilW commented on #926
Possibly the main issue is addressed by https://github.com/coreos/rkt/pull/1607

So just the missing stdout and stderr devices breaking the logging on the Docker image then.

[2015-10-15 17:27] robszumski commented on #924
Submitting the provided cloud-config to a different endpoint would be fairly easy on the frontend, but I'd worry about the ops overhead of running those additional services.

[2015-10-15 19:30] crawford commented on #922
https://github.com/coreos/coreos-cloudinit/pull/402

[2015-10-15 19:30] crawford commented on #922
What about `strict-reconfig-check`?

[2015-10-15 20:17] xiang90 commented on #922
@crawford That is on master branch, it is not a released version of etcd. etcd has a branch for each releases. [https://github.com/coreos/etcd/blob/release-2.2/Documentation/configuration.md]

We will follow this procedure as I mentioned above.
[code]

[2015-10-15 20:40] crawford commented on #922
Woops, you're right.

[2015-10-15 20:40] #922 closed

[2015-10-15 21:06] lrvick commented on #676
This has bit my team multiple times attempting to use ```curl https://github.com/lrvick.keys | update-ssh-keys -a lrvick```.

The result is 2 users keys get concatenated, and both users are locked out.

For now we have resorted to: ```cat <(curl https://github.com/lrvick.keys; echo "") | update-ssh-keys -a lrvick```

[2015-10-15 22:08] ferrislucas commented on #334
for anyone interested in a workaround, i threw in a periodic vacuum maybe 6 weeks ago, and i haven't seen a crash since:

here's the service:
[code]

here's the timer:
[code]

send beer.

[2015-10-15 22:55] mischief commented on #919
the unit files systemd-journal-remote.{socket,service} and /var/log/journal/remote/ are missing because we do not have gnutls.

see https://github.com/systemd/systemd/blob/master/Makefile.am#L3827

[2015-10-15 23:01] mischief opened #928 "missing systemd-journal-remote.{service,socket} and /var/log/journal/remote/"
this directory is required for `systemd-journal-remote` to work. it is typically created by the make install process of systemd, but is not because we build without GNUTLS. see https://github.com/coreos/systemd/blob/v225-coreos/Makefile.am#L3794 and https://github.com/coreos/coreos-overlay/blob/master/sys-apps/systemd/systemd-9999.ebuild#L214

without the directory, `systemd-journal-remote` will f

[2015-10-16 01:02] #919 closed

[2015-10-16 01:15] mischief commented on #919
i don't think this is entirely resolved yet.

[2015-10-16 07:45] kayrus commented on #919
linking https://github.com/coreos/systemd/pull/22

[2015-10-16 10:28] nballotta opened #929 "Locksmithd fails and journal not working correctly"
Hi,

I recently upgraded from CoreOS stable (723.3.0) to CoreOS stable (766.4.0). Because my reboot strategy is set to off, I manually rebooted every node of my cluster composed by 3 statically bootstrapped  etcd nodes and 2 proxies. The upgrade seemed fine, but today logging in I found this:

[code]
A systemctl status locksmithd give me this:

[code]

So I tried to debug with journalctl, but with

[2015-10-16 11:37] kayrus commented on #929
looks like locksmithd was enabled to run on boot. of course it fails. then coreos-cloudinit comes and unmasks this service. but failed status was already recorded by systemd.

have just reproduced that issue. create symlink, then reboot with "reboot-strategy: off" inside cloud-config:

[code]

After reboot we have this:
[code]

[2015-10-16 11:55] kayrus commented on #929
Workaround: `sudo systemctl mask locksmithd.service`

[2015-10-16 12:40] kayrus commented on #929
Here are additional logs from irc:

* http://pastebin.com/tV051i5M
* http://pastebin.com/KpGBkhuA

Looks like race condition, especially this:

[code]

Probably could be fixed by:
https://gist.github.com/kayrus/faf3d683c9009a4768c8

[2015-10-16 13:31] l15k4 commented on #112
Guys is there any progress on this one? Default char encoding is still `US-ASCII` instead of `UTF-8` ... I'm not fearless enough to ship apps to a system without `UTF-8` char encoding

[2015-10-16 14:01] kayrus commented on #929
My CoreOS VM prints this info:

``yaml
journalctl -b | grep -C5 locksmithd
Oct 16 13:04:39 coreos1 coreos-cloudinit[534]: 2015/10/16 13:04:39 Writing drop-in unit "20-cloudinit.conf" to filesystem
Oct 16 13:04:39 coreos1 coreos-cloudinit[534]: 2015/10/16 13:04:39 Writing file to "/run/systemd/system/fleet.service.d/20-cloudinit.conf"
Oct 16 13:04:39 coreos1 coreos-cloudinit[534]: 2015/10/16 13:04:

[2015-10-16 14:17] orbistertius commented on #447
Thanks @marineam , it looks ok now

[code]

[2015-10-16 17:13] nballotta commented on #929
hi @kayrus

here the list of service files: http://pastebin.com/GXeYsadk

I've tried also to add the debug, but without success (the file /var/log/locksmithd.log was not created after reboot)

[2015-10-16 19:44] kayrus commented on #929
@nballotta can you remove `/etc/systemd/system/locksmithd.service` symlink and try again?

[2015-10-16 22:37] polarina opened #930 "Lots of I/O causes program hangs and allocation failure"
I have on a bare-metal machine eight (8) two terabyte hard disk drives. When performing lots of I/O operations on those disk, after a short while, programs may start to enter uninterruptible sleep for a very long time, others will fail to allocate memory.

    for i in {a,b,c,d,e,f,g,h}; do dd bs=65536 if=/dev/zero of=/dev/sd$i; done

After a few minutes, commands such as `sync` will enter uninter

[2015-10-16 23:04] crawford opened #931 "bump etcd to 2.2.1"

[2015-10-16 23:32] mischief commented on #930
duplicate of #489.

[2015-10-16 23:32] #930 closed

[2015-10-17 14:47] crawford opened #932 "Expand on Ignition's use of coreos.first_boot"
The docs do not mention how the system determines if it should run Ignition. It would be helpful to clarify that GRUB checks the disks for the dummy disk UUID and sets coreos.first_boot accordingly. This parameter needs to be overridden by those who are doing disk-based PXE deployments (otherwise Ignition won't run).

[2015-10-17 15:46] crawford opened #933 "Remove hard dependency on /dev/disk/by-label/OEM"
PXE-booted images won't have this device and will fail to boot. This could be made a soft dependency or, better yet, have a generator determine if it is needed.

[2015-10-17 17:21] nballotta commented on #929
@kayrus same result, no /var/log/locksmithd.log was created

[2015-10-17 18:19] kayrus commented on #929
Does system log contain data about locksmith?

[2015-10-17 20:50] chancez opened #934 "Three-Tier-Webapp re-uses "core-host1" for each node"
https://coreos.com/assets/images/media/Three-Tier-Webapp.png

@robszumski

I know we're probably going to end up replacing this with more K8s related things, but I figured I should at least report it.

[2015-10-18 04:32] nballotta commented on #929
[code]

[2015-10-18 07:24] kayrus commented on #929
Please post results of this command `sudo systemctl cat locksmithd`

Then try to enable back `systemd-timesyncd.service` and disable `ntpd.service` if it is possible:

[code]

Reboot your node and let me know if locksmithd has wrote logs into `/var/log/locksmithd.log` file.

In addition please post `find /etc/systemd/system -ls` once again.

[2015-10-18 08:07] nballotta commented on #929
[code]

[2015-10-18 08:21] nballotta commented on #929
[code]

Also this time no /var/log/locksmithd.log was created.

[code]

[2015-10-18 09:02] kayrus commented on #929
Can you print also these: `find /run/systemd/system -ls`, `mount`, `df -h`

Then remove `/run/systemd/system/locksmithd.service` symlink (it should be symlink), run `systemctl daemon-reload` (and print its result if appear), and then `systemctl cat locksmithd`.

[2015-10-18 09:36] kayrus commented on #929
Last (for now) possible solution to debug systemd is to enable debug mode. Make sure you have mounted OEM partition, then create `/usr/share/oem/grub.cfg` file there with contents below:

[code]

This will enable systemd debug on next boot (boot will be slower than usual). Please provide system log for that boot. When debug is done please remove this file and reboot (or disable debug using `kill`

[2015-10-18 16:22] kayrus commented on #927
libmicrohttpd developers has answered that it is not lib issue. have to debug systemd-journal-remote.

btw, there are other issues with systemd-journal-remote https://github.com/systemd/systemd/issues/1387 https://github.com/systemd/systemd/issues/1386

[2015-10-18 20:04] polarina opened #935 "Add hdparm utility"
Is it possible to have the `hdparm` utility included in CoreOS? I need it to disable write-caching on boot on my hard disks in order to work around a firmware bug that causes them to lock-up when doing heavy I/O.

Symptoms are described here (esp. `dmesg` output and the disks' model number): https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=625922

Currently I have a copy of the `hdparm` binary in

[2015-10-19 09:18] sbnnrd commented on #481
Same issue in production.

[2015-10-19 13:39] dongsupark commented on #929
[code]

FWIW the above warning looks a little suspicious. Since systemd v222, the default version on CoreOS 766.4.0, `chattr +C` should be already done under `/var/log/journal` and all other journals. See `/usr/lib/tmpfiles.d/journal-nocow.conf` too. If that's not the case, something must have gone missing during upgrading CoreOS to 766.4.0.

In general, I would try cleaning up all journals after

[2015-10-19 18:00] danielschonfeld commented on #334
+1 on CoreOS Stable - 766.4.0 and 766.3.0

[2015-10-19 18:01] schonfeld commented on #334
@ferrislucas what made you choose 3gb as your max size? We're seeing this problem happen right now when our logs are 2.6-2.7gb. How big were your log files?

[2015-10-19 18:20] ferrislucas commented on #334
@schonfeld honestly, i picked 3gb because it's less than 4gb which i believe is the default limit.  we were hitting the 4gb limit, and that seemed to be what was causing the core dump.  my thought was that by not allowing the logs to reach the limit (in our case 4gb) then the issue would be mitigated.

that seems to be working for us, but this certainly is not a real fix... only a mitigation.  one

[2015-10-19 18:25] crawford commented on #481
@martingartonft We are going to try to move to Docker 1.8.3 (present in 835.1.0). Can you give that image a shot and see if it addresses your issues? This is our current Stable candidate.

[2015-10-19 18:29] schonfeld commented on #334
@ferrislucas ah great, that makes sense! For us, it defaults to 2.8gb (file system is 28gb), which explains that discrepancy. This bug has caused us a lot of heartache in production... Glad to see we're not alone on this. We'll apply your workaround tonight, and keep this thread posted on any findings.

Thanks for your help!

[2015-10-19 18:48] crawford commented on #869
udev will read it's rules from multiple locations. You can copy "79-net-google-compat.rules" into /etc and edit that copy.

[2015-10-19 20:08] crawford commented on #868
@xied75 are you still seeing this issue?

[2015-10-19 20:15] #607 closed

[2015-10-19 20:18] crawford commented on #475
@greenpau The sources are built here: https://github.com/coreos/coreos-overlay/tree/master/sys-kernel/coreos-sources. We use the upstream sources with a few patches on top (mostly SELinux related). The patches are located in the files/4.2 directory.

[2015-10-19 20:22] crawford commented on #475
@greenpau Is this still a problem with the 4.2.2 kernel?

[2015-10-19 20:23] #579 closed

[2015-10-19 20:27] crawford commented on #487
It looks like this has been addressed:

[code]

[2015-10-19 20:27] #487 closed

[2015-10-19 20:37] #915 closed

[2015-10-19 20:41] crawford commented on #920
This class of problem falls away if you use Ignition. We are going to start migrating everyone over to Ignition once it is supported on more platforms.

[2015-10-19 20:41] #920 closed

[2015-10-19 20:47] crawford commented on #678
Closing due to inactivity.

[2015-10-19 20:47] #678 closed

[2015-10-19 20:50] crawford commented on #675
We do not run a per-user instance of systemd on CoreOS, so the `--user` flag will not work. If you need to communicate with a systemd, use the system-level systemd (omit `--user`).

[2015-10-19 20:50] #675 closed

[2015-10-19 20:51] crawford commented on #665
Closing due to inactivity.

[2015-10-19 20:51] #665 closed

[2015-10-19 20:56] #655 closed

[2015-10-19 20:56] #651 closed

[2015-10-19 20:57] #644 closed

[2015-10-19 21:03] crawford commented on #637
The CoreOS kernel no longer ships with AUFS support. You can use the OverlayFS or btrfs graph drivers.

[2015-10-19 21:03] #637 closed

[2015-10-19 21:06] #556 closed

[2015-10-19 21:09] #586 closed

[2015-10-19 21:15] crawford commented on #600
This isn't directly supported by Vagrant or coreos-cloudinit. You'll need to script around this problem unfortunately.

[2015-10-19 21:15] #600 closed

[2015-10-19 21:15] #604 closed

[2015-10-19 21:17] crawford commented on #605
What container runtime are you using? If it's Docker, you'll need to run a privileged container.

[2015-10-19 21:20] crawford commented on #615
Is this still an ongoing issue?

[2015-10-19 21:21] crawford commented on #620
Is this still an issue?

[2015-10-19 21:23] crawford commented on #593
There is ongoing work to support ARM64.

[2015-10-19 21:33] crawford commented on #479
Sounds like a dup of https://github.com/coreos/bugs/issues/426.

[2015-10-19 21:33] #479 closed

[2015-10-19 21:35] crawford commented on #476
Dup of https://github.com/coreos/bugs/issues/214.

[2015-10-19 21:35] #476 closed

[2015-10-19 21:37] crawford commented on #480
Dup of https://github.com/coreos/bugs/issues/426.

[2015-10-19 21:38] #480 closed

[2015-10-19 21:38] xied75 commented on #868
@crawford yes at least 10 days ago still the same.

Although even more strange thing happened. After lots of deployments behaved like above, suddenly I got a zone (as in cloudstack) that worked. The sgdisk finishes without any error msg and disk-uuid.service also success.

So then I checked the cloudstack mysql database, all 13 zones' templates are showing the same hash value, (as long as this is

[2015-10-19 21:40] #493 closed

[2015-10-19 21:41] #542 closed

[2015-10-19 21:43] crawford commented on #552
SELinux is (supported in CoreOS](https://coreos.com/blog/container-security-selinux-coreos/).

[2015-10-19 21:43] #552 closed

[2015-10-19 21:49] crawford commented on #417
Are you still seeing this issue? I have not been able to reproduce this.

[2015-10-19 21:50] #423 closed

[2015-10-19 21:50] #425 closed

[2015-10-19 21:51] #433 closed

[2015-10-19 21:52] mhenniges commented on #322
Is this issue still being worked? corrupt entries are still happening for me as of 766.4.0.

[2015-10-19 21:53] #438 closed

[2015-10-19 21:56] crawford commented on #445
Any update?

[2015-10-19 22:11] crawford commented on #868
I'm not very familiar with Interoute, so I don't _fully_ understand what you've described. Does Interoute do any processing of the image after it is downloaded from our storage site? It looks like there is some corruption happening, though I am not sure where. I've seen these failures on other systems when we used incompatible image formats, but a number of our image flavors use vmdk-stream (the d

[2015-10-19 22:17] mischief commented on #322
@mhenniges do you have a way to reproduce the issue?

[2015-10-19 22:22] crawford commented on #360
This is a limitation of coreos-cloudinit. If you write the configuration via Ignition instead, it will work out of the box.

[2015-10-19 22:22] #360 closed

[2015-10-19 22:23] crawford commented on #366
Has this been fixed?

[2015-10-19 22:25] crawford commented on #398
@marineam can this be closed now?

[2015-10-19 22:26] crawford commented on #401
It is now also possible to reformat your root filesystem using [Ignition](https://coreos.com/ignition/docs/latest/examples.html#reformat-the-root-filesystem).

[2015-10-19 22:26] #401 closed

[2015-10-19 22:31] crawford commented on #344
@porjo Are you still seeing this issue with the later versions of Docker?

[2015-10-19 22:34] crawford commented on #342
Is this still an issue with the systemd 225?

[2015-10-19 22:38] crawford commented on #338
Is this still a problem with the latest version of Docker?

[2015-10-19 22:42] crawford commented on #333
This looks related https://github.com/coreos/bugs/issues/620.

[2015-10-19 22:50] xied75 commented on #868
@crawford Interoute use plain vanilla cloudstack 4.3, the template importing was done either by ansible or terraform, which eventually calls cloudstack api, with the coreos release URL as parameter. Simply put, there is NO intermediate steps in between the coreos release site and cloudstack (secondary storage). Besides, cloudstack would do hash on the image file.

Your mentioning of vmdk-stream is

[2015-10-19 23:09] marineam commented on #366
May as well close, I've been working on implementing kernel updates in an entirely different way.

[2015-10-19 23:09] #366 closed

[2015-10-19 23:22] crawford commented on #326
Ignition has been available in CoreOS for a few months now. It should address this issue nicely.

[2015-10-19 23:22] #326 closed

[2015-10-19 23:28] crawford commented on #314
@jayofdoom now that CoreOS ships with Ignition, you can just mask off any units you don't want to run. Ignition runs before systemd, so you won't have to deal with any race conditions.

[2015-10-19 23:28] #314 closed

[2015-10-19 23:31] #305 closed

[2015-10-19 23:32] crawford commented on #299
Yikes. Sorry, this one slipped through the cracks. Are you still having this issue?

[2015-10-19 23:33] crawford commented on #298
Can this be closed? It looks like you have a solution.

[2015-10-19 23:33] marineam commented on #398
No, I forgot about it :( :(

On Mon, Oct 19, 2015 at 3:25 PM, Alex Crawford <notifications@github.com>
wrote:

[2015-10-19 23:38] crawford commented on #290
@savingschampion can you re-open this if you are able to reproduce the issue?

[2015-10-19 23:38] #290 closed

[2015-10-19 23:43] #289 closed

[2015-10-19 23:44] crawford commented on #288
Can you try this on a newer version of CoreOS and reopen if you are still seeing the issue?

[2015-10-19 23:44] #288 closed

[2015-10-19 23:45] crawford commented on #287
Bump.

[2015-10-19 23:50] crawford commented on #286
@marineam can you document that command?

@savingschampion you can run this once as part of your cloud-config or Ignition config.

[2015-10-19 23:50] #286 closed

[2015-10-19 23:51] kbrwn commented on #615
This was encountered today by a user on 766.4.0 with this [Dockerfile](https://gist.github.com/kbrwn/ea7c0e8963e323558d02). Reproduced on 835.1.0 as well.

[2015-10-19 23:51] crawford commented on #284
Closing due to inactivity.

[2015-10-19 23:51] #284 closed

[2015-10-19 23:54] crawford commented on #280
@eyakubovich this isn't still an issue is it?

[2015-10-19 23:56] #272 closed

[2015-10-19 23:56] #266 closed

[2015-10-19 23:58] #256 closed

[2015-10-19 23:59] crawford commented on #255
Please reopen if you are still having trouble.

[2015-10-19 23:59] #255 closed

[2015-10-20 00:00] eyakubovich commented on #280
No, it's fixed in https://github.com/coreos/coreos-overlay/commit/6a8476537a101958495bfeda3ceeae10f01fc2c5

[2015-10-20 00:00] #280 closed

[2015-10-20 00:00] mischief commented on #615
@crawford @kbrwn it is a *known* issue in docker/overlayfs and there is not a solution. see https://github.com/docker/docker/issues/10180

[2015-10-20 00:00] crawford commented on #254
Is this still an issue with the later versions of CoreOS and Docker?

[2015-10-20 00:01] crawford commented on #240
Closing due to inactivity.

[2015-10-20 00:01] #240 closed

[2015-10-20 00:02] crawford commented on #233
Closing due to inactivity.

[2015-10-20 00:02] #233 closed

[2015-10-20 00:03] crawford commented on #213
NFS issues should be resolved at this point. Please reopen if you are still having trouble.

[2015-10-20 00:03] #213 closed

[2015-10-20 00:07] crawford commented on #212
Ignition can be used to write the necessary networkd config files. As @nickethier pointed out, the default networkd config will enable DHCP on all of the interfaces.

[2015-10-20 00:08] crawford commented on #207
Closing due to inactivity.

[2015-10-20 00:08] #207 closed

[2015-10-20 00:09] crawford commented on #206
Are you still running into these failures? Newer versions of CoreOS ship with an ext4 root filesystem. You might have better luck with those.

[2015-10-20 00:10] crawford commented on #203
This has already been enabled on EC2 and Azure.

[2015-10-20 00:11] mischief commented on #928
fixed by coreos/systemd#22 and systemd/systemd#1584

[2015-10-20 00:11] #928 closed

[2015-10-20 00:18] crawford commented on #201
Alternatively, you can use Ignition to write these networkd configs.

[2015-10-20 00:18] #201 closed

[2015-10-20 00:19] crawford commented on #197
Can you elaborate on this a little more?

[2015-10-20 00:20] crawford commented on #192
Closing due to inactivity.

[2015-10-20 00:20] crawford commented on #189
Closing due to inactivity.

[2015-10-20 00:20] #189 closed

[2015-10-20 00:23] crawford commented on #184
Hey @pquerna, can you reopen this if it is still an issue on the later versions of CoreOS?

[2015-10-20 00:23] #184 closed

[2015-10-20 00:24] crawford commented on #183
@marineam has this been resolved?

[2015-10-20 00:25] #176 closed

[2015-10-20 00:26] crawford commented on #176
These images can be found here: http://alpha.release.core-os.net/amd64-usr/current/.

[2015-10-20 00:28] crawford commented on #175
Using Ignition (supersedes coreos-cloudinit) to write these networkd configs will work a lot better. Please give that a shot.

[2015-10-20 00:28] #175 closed

[2015-10-20 00:28] crawford commented on #174
Ignition supports this use-case nicely now. Give that a shot instead of coreos-cloudinit.

[2015-10-20 00:28] #174 closed

[2015-10-20 00:29] crawford commented on #172
Please reopen if this is still an issue with later versions of CoreOS.

[2015-10-20 00:29] crawford commented on #171
Please reopen if you are still having trouble.

[2015-10-20 00:29] #171 closed

[2015-10-20 00:45] damm commented on #192
What you mean is closing because you didn't respond to this; and you don't plan on it.

[2015-10-20 00:48] crawford commented on #192
My apologies for letting this slip through the cracks. I've been on a GitHub rampage today and your issue was caught up in the fury. Let's figure out what's going on here.

[2015-10-20 00:49] crawford commented on #192
Can you retry this on a newer version of CoreOS?

[2015-10-20 00:51] crawford commented on #170
@jayofdoom is this still an issue in the later versions of CoreOS?

[2015-10-20 00:52] crawford commented on #165
Are you still running into this issue?

[2015-10-20 00:53] #163 closed

[2015-10-20 00:54] crawford commented on #159
@marineam is there anything more to be done with this?

[2015-10-20 00:55] crawford commented on #158
Please reopen if this is still an issue with the 4.2+ kernels.

[2015-10-20 00:55] #158 closed

[2015-10-20 00:57] crawford commented on #113
Please reopen if this is still an issue.

[2015-10-20 00:57] #113 closed

[2015-10-20 00:57] crawford commented on #114
I haven't seen this issue for a long time.

[2015-10-20 00:57] #114 closed

[2015-10-20 00:58] #118 closed

[2015-10-20 00:59] #120 closed

[2015-10-20 00:59] jmreicha commented on #299
This was so long ago I can't remember what I was doing.  I'm okay to close this one.

[2015-10-20 00:59] #299 closed

[2015-10-20 01:07] vcaputo commented on #489
I've put together a patch for overlayfs to avoid the bug-triggering high-order allocation triggering whenever possible.  Considering 64KiB extended attributes are not likely, this should effectively fix the OOM issue.

There's an outstanding kernel/mm bug in handling these direct-reclaim high-order allocations when watermarks aren't met.  Rather than hacking together an mm fix which can potentiall

[2015-10-20 01:14] crawford commented on #122
Please reopen if this is still an issue.

[2015-10-20 01:14] #122 closed

[2015-10-20 01:15] crawford commented on #135
CoreOS has used hardware version 7 for a little while now. Closing.

[2015-10-20 01:15] #135 closed

[2015-10-20 01:20] crawford commented on #137
@marineam do you have any update on this, or can we close this?

[2015-10-20 01:25] crawford commented on #157
A while ago, a retry was added to help with this issue. I still see the warning so the underlying issue is still present, but the command should work now.

[2015-10-20 01:25] #157 closed

[2015-10-20 01:34] crawford commented on #491
Dup of https://github.com/coreos/bugs/issues/104.

[2015-10-20 01:34] #491 closed

[2015-10-20 01:38] crawford commented on #110
Sorry for letting this slip through the cracks. Can you reopen this if you are still having trouble?

[2015-10-20 01:38] #110 closed

[2015-10-20 01:43] crawford commented on #102
`/etc/systemd/journald.conf` can be used to limit these parameters. Using Ignition to write the configs is your best bet; it will write the config before systemd starts.

[2015-10-20 01:43] #102 closed

[2015-10-20 01:45] crawford commented on #38
This was fixed a while ago. `update_engine -client` will bypass the rate-limiting.

[2015-10-20 01:45] #38 closed

[2015-10-20 01:46] crawford commented on #41
@marineam do you think we should adopt this change? Otherwise, let's close this.

[2015-10-20 01:52] crawford commented on #36
@stresler's workaround will work if you are using coreos-cloudinit. Otherwise, I would suggest Ignition. This will allow you to write the networkd configs _before_ networkd starts.

[2015-10-20 01:52] #36 closed

[2015-10-20 02:12] damm commented on #192
It's easy for things to fall through the cracks when there is a mass of tickets and sometimes not enough people to see every single one.

I'll get back to you with a newer version; would like this fixed :)

[2015-10-20 09:25] vaijab commented on #206
@crawford no, I have not seen those since we moved to ext4.

[2015-10-20 09:32] pwaller commented on #417
I think the frequency has decreased. However, there are still > 400 messages in the last 24h, and they are bursty. They appear on all of our machines.

Here's a log of the last ~24h:

https://gist.github.com/pwaller/09ff17c6fd89f9a84ed0

[2015-10-20 09:35] pwaller commented on #417
Slightly curious thing: it doesn't matter which server I `ntpdate` against, it always takes almost exactly 6.33 seconds:

[code]

[2015-10-20 13:37] glerchundi commented on #206
Yep, with ext4 this is not happening.

[2015-10-20 13:37] #206 closed

[2015-10-20 15:09] Zapadlo commented on #462
+1

[code]

[2015-10-20 15:40] Zapadlo opened #936 "Cluster starting unhealthy on CoreOS alpha (835.1.0)"
Tried spinning up a cluster 5 - 6 times with various conf for initial number of members, timeouts for etcd2, most of etcd2 logs look like this:

[code]
and keep repeating.

Another host:
[code]

~~I'm spinning up the cluster with ansible, where hosts come up one by one sequentially, does that matter?~~
It doesn't, I switched back to stable (766.4) with the same settings and cluster came up healthy

[2015-10-20 15:42] Zapadlo commented on #481
@crawford Trying to run mentioned image, but hitting: https://github.com/coreos/bugs/issues/936
Ta!

[2015-10-20 16:39] crawford opened #937 "Docker 1.8 corrupts /etc/hosts files in containers"
Tracking upstream: https://github.com/docker/docker/issues/17190.

[2015-10-20 17:48] crawford commented on #933
I think it would be sufficient to add a condition checking for the existence of `/usr/share/oem/oem-release` before it attempts to mount `/usr/share/oem` and then add `/usr/share/oem/oem-release` to the PXE images.

[2015-10-20 18:28] metamatt commented on #172
@crawford Yes, this still happens. Has anyone investigated? I don't seem to have permission to reopen the bug report.

[2015-10-20 19:23] marineam commented on #462
Bah, was hopeful that the 0.113 update would improve things. :(

[2015-10-20 20:19] marineam commented on #172
@crawford yes, this has always been a pain. The systemd coredump utility hasn't a clue how to deal with PID namespaces so it uses the container PID but grabs process info from the main namespace.

I don't know why this is the case, it seems like a pretty surprising oversight for systemd...

[2015-10-20 20:20] marineam commented on #172
@metamatt no, I don't think any of us has looked into it

[2015-10-20 20:25] marineam opened #938 "flannel documentation doesn't start etcd"
Users need complete enough examples that they can build from but https://coreos.com/flannel/docs/latest/flannel-config.html makes no mention of etcd which is required by flannel. Cloud config examples _must_ include either a etcd2 start or configure flannel to hit a remote etcd cluster. Ideally examples cover both.

[2015-10-20 20:26] marineam commented on #938
Originally reported in https://github.com/coreos/coreos-overlay/pull/1591

[2015-10-20 20:30] marineam commented on #933
This is sort of worked around in the main system by providing a stub .device file that adds a condition to skip the device. In the initrd we can go with my earlier suggestion of adding coreos.oem=foo too the cmdline, thus dropping the need to mount the OEM in the initrd unless it is explicitly requested via the oem url scheme.

[2015-10-20 20:35] crawford commented on #933
Right. I forgot about that. I think we can just switch to that scheme and drop the oem-release file entirely.

[2015-10-20 20:38] marineam commented on #933
And thank god ignition only runs on first boot so we can make the switch without worrying about compatibility in upgrades! ;-)

[2015-10-20 20:41] crawford commented on #933
It's almost like we thought it through this time!

[2015-10-20 21:17] crawford opened #939 "Add support for GCE to Ignition"

[2015-10-21 00:43] bshi commented on #172
@marineam Is this something we need to bring up with the systemd folks?  Is it possible to disable/replace systemd-coredump on CoreOS?

[2015-10-21 10:44] abdennour commented on #351
Install docker-selinux package
__________
Before that , check the output of this :
```yum list installed |grep dock```

if it is 2 packages  , it is good

[2015-10-21 17:30] crawford opened #940 "Verify GPG signature of Azure images"
The [publish script](https://github.com/coreos/scripts/blob/master/oem/azure/publish.sh) doesn't verify the GPG signature after it downloads the image from the storage site.

[2015-10-21 21:45] roboll opened #941 "systemd-hostnamed fails to set static hostname on boot"
I have a custom baked AMI built atop coreos via packer. The build process starts the machine, adds a custom ca, runs a few commands to pre-pull some stuff for quick startup, then shuts down and snapshots.

When I start boxes with the resulting AMI, `systemd-hostnamed` errs with this message:
[code]

This results in `oem-cloudinit` grinding to a halt and nothing else starting up.

`/etc/hostname` s

[2015-10-21 21:49] roboll commented on #941
`/etc/hostname` permissions look like this:
[code]

[2015-10-21 22:09] #489 closed

[2015-10-21 22:58] vcaputo commented on #172
@marineam is this another one of those things the systemd folks consider fixed by kdbus?

[2015-10-21 23:18] roboll commented on #941
...and to add to my confusion, consistently, manually restarting `oem-cloudinit` service, it _always_ works on the third try. (via the following command)
[code]

[2015-10-21 23:52] mischief commented on #936
@Zapadlo can you collect logs using `journalctl -t etcd2` instead of `-u etcd2`? the journal sometimes misses logs if you specify just a unit, but using the syslog label will help.

[2015-10-22 00:02] #933 closed

[2015-10-22 00:07] mischief commented on #941
hi @roboll, can you reproduce this on beta (CoreOS 835.1.0)?

[2015-10-22 00:30] roboll commented on #941
@mischief yes. see the below output, which demonstrates that `systemd-resolved` is able to change the transient hostname, but `systemd-hostnamed` fails to change the static hostname and fails `oem-cloudinit`. (you can observe the hostname change in the log entries)
[code]

[2015-10-22 08:51] orbistertius commented on #481
@marineam I tested your clod-config on a bare-metal iPXE-booted machine with CoreOS 835.1.0.
After about 1 hour and about 100 activations of each busybox-test service it reproduced the bug:

[code]

[code]

[code]

[code]

[2015-10-22 08:51] orbistertius commented on #481
@marineam I tested your clod-config on a bare-metal iPXE-booted machine with CoreOS 835.1.0.
After about 1 hour and about 100 activations of each busybox-test service it reproduced the bug:

[code]

[code]

[code]

[code]

[2015-10-22 10:05] Zapadlo commented on #936
@mischief Actually most of the clusters I set up today started up successfully, had my first failure, but `journalctl -t etcd2` gives me:
[code]
Ta!

[2015-10-22 13:29] hinnerk commented on #398
Actually we can close it as we're building our own CoreOS images now.

[2015-10-22 13:29] #398 closed

[2015-10-22 15:14] orbistertius commented on #481
I'm having erratic behavior with this:
- same test with 815.0.0 failed only 23 of 100 busybox-test services after nearly 3 hours,
- second test with 835.1.0 after 1h 30m failed none.

First of all let me say I have no experience with Golang but "dial tcp" and "Temporary failure in name resolution" sound familiar, so I started digging into Docker source where there are many calls:
[code]
and then i

[2015-10-22 16:43] crawford commented on #931
Fixed by https://github.com/coreos/coreos-overlay/pull/1595.

[2015-10-22 16:43] #931 closed

[2015-10-22 16:49] #673 closed

[2015-10-22 17:05] crawford commented on #325
Both of these options have been enabled.

[code]

[2015-10-22 17:05] #325 closed

[2015-10-22 18:30] crawford commented on #41
I think it's preferable if we document how to make this change via Ignition.

[2015-10-22 18:30] #41 closed

[2015-10-22 18:31] crawford opened #942 "Document how to prevent the VT from being cleared after boot"
Following up from https://github.com/coreos/bugs/issues/41, we need to document how the user can achieve this via an Ignition config.

[2015-10-22 18:47] crawford commented on #904
We can't fix this in coreos-cloudinit but we will fix it in coreos-metadata.

[2015-10-22 18:54] roboll commented on #941
fwiw, i'm running the same code on debian, with systemd v215, and _not_ seeing this issue.

[2015-10-22 18:54] yichengq opened #943 "journalctl returns `Error was encountered while opening journal files: Invalid argument`"
CoreOS version 789.0.0
Update Strategy: No Reboots
GCE, n1-highcpu-2

First, I observed that one machine used 100% CPU, and cannot ssh.
Then, I restarted the machine.
Then, I want to check the log through `sudo journalctl -b -k`, and it returns this error to me.

I googled possible related thread: https://bbs.archlinux.org/viewtopic.php?id=199031, and remove all journal log files, then journalctl

[2015-10-22 20:05] marineam commented on #690
Making sure rootfallback to works seems reasonable. It would certainly need to be an explicit request because a system coming up stateless when it shouldn't could lead to more confusing issues than a system that fails to boot. Given the awkward implementation of dracut's systemd support it may be tricky though.

Once that is in place then yes users could use it to automatically provision a machine

[2015-10-22 21:00] crawford commented on #596
We should be able to resolve this once we move to Ignition on Rackspace.

[2015-10-22 21:05] crawford commented on #164
Related to https://github.com/coreos/bugs/issues/439.

[2015-10-22 21:09] crawford commented on #474
Dup of https://github.com/coreos/bugs/issues/285.

[2015-10-22 21:09] #474 closed

[2015-10-22 21:32] crawford commented on #864
https://github.com/coreos/nova-agent-watcher/blob/f750d8e5e91a7e7e22e26c9d241d27b1b7563d70/main.go#L155

[2015-10-22 21:38] crawford commented on #902
The original idea was that `_` are used to designate invalid characters and the `-` separates fields. Now that this is shipped, we can't change this without forcing everyone to redownload their toolboxes (because of the name change). I don't think this particular change is worth the trouble.

[2015-10-22 21:38] #902 closed

[2015-10-22 21:42] crawford commented on #880
Does this suggestion fix the issue?

[2015-10-22 21:50] #298 closed

[2015-10-22 21:58] #445 closed

[2015-10-22 23:07] mischief commented on #110
this was partially fixed in systemd/systemd@a05185279bfc2420f60dc2a061d50bfcb646be70. it does not yet support multiple routes, but it will use the first router served by dhcp.

[2015-10-22 23:28] danielschonfeld commented on #334
Unfortunately vacuuming didn't solve the problem for us.  We've just had another crash today and just vacuumed last night with the file being half of the 10% max allowed.

We have noticed tho what seems like a memory leak in systemd-journald as each machine of ours now have a different memory size showing for this service some as high as 1GB.

I'm at a place with some bad internet at the moment bu

[2015-10-23 00:27] crawford commented on #904
Just for background, the three existing address types are VIP, DIP, and PIP (http://blogs.msdn.com/b/cloud_solution_architect/archive/2014/11/08/vips-dips-and-pips-in-microsoft-azure.aspx). coreos-cloudinit exposes the DIP as $private_ipv4 and VIP as $public_ipv4. Unfortunately, I don't have a good workaround for you. If there was an XML equivalent to jq, I could give you a one-liner.

Your other

[2015-10-23 00:33] mischief commented on #334
hi @danielschonfeld, i've tried reproducing this on both CoreOS stable (766.4.0) and CoreOS alpha (835.1.0) without any similar results.

i'm running `sudo systemd-run /bin/bash -c "while true; do find /usr 2>/dev/null; done"` with `RateLimitInterval=0` in /etc/systemd/journald.conf for maximum spammyness. unfortunately, i see systemd-journald going between 10M to 100M memory usage and correctly g

[2015-10-23 00:37] mischief commented on #334
@danielschonfeld how long did it take for your test to produce the growing memory issue in journald?

[2015-10-23 01:11] mischief commented on #936
@Zapadlo, sorry, it looks like a recent change in the etcd2 logging code has caused it to stop tagging log messsages with a syslog identifier. can you gather logs with `journalctl _EXE=/usr/bin/etcd2`?

[2015-10-23 01:13] danielschonfeld commented on #334
@mischief unfortunately i do not have any better tips.  I know i'm using a relatively "bare" installation of 766.4.0 which has some kubernetes master components running on it (I just created this VM yesterday).  Then I run the service file above and pretty much right away you start seeing `Memory` grow when you do `systemctl status systemd-journald`

About 30-40 mins after I started it the system

[2015-10-23 01:14] mischief commented on #334
@danielschonfeld i think you will want to use `coredumpctl` to manipulate coredumps.

[2015-10-23 01:15] danielschonfeld commented on #334
@mischief im running it again as we speak... are there any conf files you want me to change so we can glean more info when it crashes?

[2015-10-23 02:05] blemmenes commented on #152
I can confirm using vgremove as @domq mentioned just worked for me on baremetal booted via IPMI mounted ISO.

[2015-10-23 02:13] danielschonfeld commented on #334
i can't seem to induce a coredump again but i do have the coredump file in one of my production machines that experienced this problem.  i do not know why `coredumpctl list` shows nothing but the file def exists.  it's relatively small too and I think not sure the problem was during fsync.

[2015-10-23 06:00] schonfeld commented on #334
@mischief i think we're seeing something very similar to systemd/systemd#153. I'm not sure what kind of machine you're testing on, but we (@danielschonfeld and I) are on an Azure VM. I think what's happening here is that during busy machine load times, journald is being blocked on fsync(), which in turn means that it's not sending heart beats to systemd. After 1m (journald.service's WatchdogSec de

[2015-10-23 06:22] stelund commented on #916
This is no longer an issue with CoreOS alpha (835.1.0).

[2015-10-23 06:23] stelund commented on #916
Please close it @crawford

[2015-10-23 09:34] Zapadlo commented on #936
Here are logs for 5/5 machines, using default discovery url, so only 3 should be members:

https://pastee.org/9h48n
https://pastee.org/v8y3p
https://pastee.org/b2775
https://pastee.org/ppm4b
https://pastee.org/sqsja

Thanks!

[2015-10-23 13:59] mhenniges commented on #322
I do have a repro case. I've played with it a lot and I don't quite understand the essential nature of the case - its not purely length driven or content driven..anyways, here goes:

core-02 ~ # cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=766.4.0
VERSION_ID=766.4.0
BUILD_ID=
PRETTY_NAME="CoreOS 766.4.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreo

[2015-10-23 14:44] roboll commented on #941
@mischief any idea if/when anyone will get a chance to take a look at this? I've been messing around looking for a fix and it consistently works _on the third run, every time_. smells like a bug, but I'm not even really sure where to look for it.

[2015-10-23 17:24] crawford opened #944 "locksmith fails to start"
[code]

[code]

[code]

[2015-10-23 17:37] marineam commented on #944
Could you post the full log please? I am guessing there is a polkit crappydo going on here but I don't know how that is in the dep chain off the top of my head.

[2015-10-23 20:19] yichengq commented on #373
Due to changes in capnslog(https://github.com/coreos/pkg/issues/40), the `journalctl -f -t etcd2` hack way doesn't work now.

[2015-10-23 21:54] mischief commented on #322
@mhenniges this repro also appears to affect CoreOS 835.1.0 w/ systemd v225. cursory testing on my local gentoo installation shows it is handled correctly in systemd v226.

[2015-10-23 22:01] crawford commented on #944
This has been observed in 844.1.0.

[2015-10-23 22:04] crawford commented on #944
Full boot logs: https://gist.githubusercontent.com/crawford/acc2f00d48ca5a9e27f4/raw/50ca188257977757bf65195f01d5ea67fb8b5bbc/boot.log.

[2015-10-23 22:07] crawford commented on #944
[code]

[2015-10-23 22:09] crawford commented on #944
Starting locksmithd after update-engine is running works. It should be retrying even if its dependencies aren't ready.

[2015-10-23 22:10] mischief commented on #944
can we just make locksmithd not depend on update-engine...?

[2015-10-23 22:22] mhenniges commented on #322
Hmm, OK, thanks. Does anybody know when systemd 226 can get on the road to stable?

[2015-10-23 22:36] vcaputo commented on #322
I'm not convinced v226 fixes this, my attempt to reproduce it in v225 following the steps in this ticket have failed, so we don't have a perfect reproducer.

[2015-10-23 22:49] #944 closed

[2015-10-23 23:23] mischief commented on #322
[code]

[2015-10-24 01:25] crawford commented on #373
You can instead use `journalctl -f _EXE=/usr/bin/etcd2`.

[2015-10-24 10:37] vcaputo commented on #322
Have identified the responsible bug in journald, and it still exists in v226 (and master) upstream.  PR's are up for both coreos and upstream systemd.

https://github.com/coreos/systemd/pull/23
https://github.com/systemd/systemd/pull/1662

[2015-10-24 11:29] poettering commented on #334
(not that my opinion would really matter on this, but my recommendation for coreos would be to enable the minimal debug symbol stuff we have in fedora nowadays. i.e. not do the full debug symbol stuff, but just the compressed mini version, i.e. this: https://fedoraproject.org/wiki/Features/MiniDebugInfo -- it makes life so much easier, and systemd's coredump support can read that just fine and gen

[2015-10-24 14:55] crawford commented on #334
(@poettering I think that is a good idea. We'll look into adapting fedora's scripts for our build system.)

[2015-10-24 15:00] crawford opened #945 "Ship minimal debug symbols for systemd"
Per lennart's [comment](https://github.com/coreos/bugs/issues/334#issuecomment-150789697), we should use a process similar to http://people.gnome.org/~alexl/debuginfo-stats.sh to minimize a copy of the debug symbols for systemd and friends and actually ship that in the OS.

[2015-10-24 17:20] crawford commented on #322
Fixed via https://github.com/coreos/systemd/pull/23 and https://github.com/coreos/coreos-overlay/pull/1603.

[2015-10-24 17:20] #322 closed

[2015-10-24 17:39] matthewsimon-ww commented on #322
Thank you very much!

[2015-10-24 17:42] vcaputo commented on #322
We should have an alpha up soon with this fixed (which will also include another important oom fix) https://github.com/coreos/bugs/issues/489

[2015-10-24 22:19] themicster commented on #551
+1

[2015-10-26 07:55] vcaputo commented on #909
While it's concerning to see journald malfunctioning interfering with sshd, the journald issue is probably related to https://github.com/coreos/bugs/issues/322, which is now fixed in alpha.

[2015-10-26 07:59] vcaputo commented on #914
@crawford I wonder if this is a manifestation of the races fixed by https://github.com/coreos/bootengine/pull/75

[2015-10-26 15:04] greenpau commented on #475
@crawford , it is still a problem with default `sfc` drivers.

I created a docker container for SFC driver updates.  I will compile it again against 4.2.2.

https://github.com/greenpau/docker-sfc/blob/master/coreos/Dockerfile

I am planning to use https://packages.gentoo.org/packages/sys-kernel/gentoo-sources

It will work, right?

Also, I would like to replace the default `/lib/modules/4.2.2-core

[2015-10-26 15:51] mazad01 opened #946 "Enabling LLDP on a CoreOS node"
Hi, I'm trying to enable LLDP on a Solarflare NIC interface on a CoreOS host.
My network file is as follows:

[code]

I also checked to see the LLDP interfaces with `networkctl lldp` with no avail. Any idea?

cc: @greenpau

[2015-10-26 15:54] roboll commented on #941
done a bunch more debugging trying to find this issue, no luck.

setting permissions to 0777 on /etc/hostname yields no change.
setting hostname via cloudinit yields no change.

[2015-10-26 16:52] crawford commented on #946
The default network config (99-default.link) is taking precedence over your config (they are evaluated in lexicographic order). You'll need to prefix the file name with a number (e.g. 10-ens1f0.network). You can use `networkctl status ens1f0` to verify that the interface is using the correct config.

[2015-10-26 17:19] sasa1977 opened #947 "etcd configuration isn't applied after machine reboot"
This is a "reboot" of the coreos/etcd#3739 issue. It was suggested to me to move the report to this repo.

The gist of the issue is that etcd settings (e.g. non-default ports) are not applied after I reboot the machine. If I manually restart the service, then it all works as expected. As hinted by @jonboulle, I compared the time when etcd is started against the timestamp of `/run/systemd/system/et

[2015-10-26 17:27] crawford commented on #947
It looks like etcd2 is enabled or is a dependency of something that is enabled because it is starting before coreos-cloudinit (which writes out the etcd2 settings). You can check this with `systemctl is-enabled etcd2.service` and `systemctl list-dependencies --reverse etcd2.service`.

[2015-10-26 17:29] dmeiser commented on #933
Hey guys, I am still getting this on 845.0.0, which claims that it closes this bug.  It boots if I do nothing, but if I force a first run, I get the same dependency error.

[2015-10-26 17:39] vcaputo commented on #475
@greenpau To make things simpler we're maintaining a kernel branch with our local patches at https://github.com/coreos/linux, v4.2.2-coreos is the current branch.  This should be kept in sync with the set of patches carried in coreos-overlay/sys-kernel/coreos-sources/files.

[2015-10-26 17:42] crawford commented on #933
@dmeiser you are attempting to PXE-boot 845.0.0, right? Can you provide a snippet of the log?

[2015-10-26 17:46] greenpau commented on #475
@vcaputo , thank you for the answer.

I see it is a recent change. I will test it right now.

[2015-10-26 17:52] greenpau commented on #475
@vcaputo , what about `4.2.2-coreos-r1`? I do not see that branch.

[2015-10-26 17:58] yichengq opened #948 "journalctl returns `No journal files were found.`"
[code]
So journalctl fails to display the log for me.

I check its log dir, but it contains no data.
[code]

I may have deleted all files under this directory to get rid of bad status of journals. Is there any way that I could make journalctl work again?

[2015-10-26 18:01] vcaputo commented on #475
@greenpau 4.2.2-coreos is the correct branch, the ebuild revision can be bumped independent of kernel source modifications.

[2015-10-26 18:25] vcaputo opened #949 "Ship usable /lib/modules/$(uname -r)/build tree in CoreOS"
Today's CoreOS users are left a bit without a rudder when faced with building out-of-tree kernel modules.

Even though CoreOS doesn't include a toolchain for building C programs, it would improve the usability of CoreOS if we included the configured and prepared kernel build infrastructure (headers and makefiles) like most distributions do which can then be bind-mounted into a toolchain-providing

[2015-10-26 18:31] greenpau commented on #475
fyi, syncing with a branch

[code]

[2015-10-26 18:32] greenpau commented on #475
@vcaputo , any advice here?

[2015-10-26 18:41] crawford commented on #948
I found this in my logs:

[code]

Ideally, the journal will just recreate this structure. In the mean time, you can just restart journald.

[2015-10-26 20:33] jonboulle opened #950 "find out version of x in particular CoreOS release"
Let's say I want to find the version of systemd in the latest alpha image. Here's the process I currently go through (based on suggestions I've had previously from the OS team):
- go to https://coreos.com/releases
- see latest Alpha is 845.0.0, with version information for kernel/docker/etcd/fleet but not systemd
- follow the link to view this release on GitHub, https://github.com/coreos/manifest/

[2015-10-26 20:35] crawford commented on #950
You can also take a look at http://alpha.release.core-os.net/amd64-usr/current/coreos_production_image_packages.txt.

[2015-10-26 20:55] dmeiser commented on #933
I was getting the same issue, now I'm seeing a new issue.  I'm using an
iDRAC, I'll go to the DC and check it in-person tomorrow.

On Mon, Oct 26, 2015 at 1:42 PM, Alex Crawford <notifications@github.com>
wrote:

[2015-10-26 21:01] mathieu-lacage opened #951 "no network device beyond lo"
I have tried to boot both stable and beta coreos releases on a dedicated ovh server but both fail to boot without network connectivity. I have extracted the journalctl logs and I can confirm that:

1. "ip links" shows no network device beyond "lo" after systemd-networkd completes enumeration
2. lspci shows that my ethernet devices are here, indeed.
3. lsmod shows that no network driver is loaded.

[2015-10-26 21:28] mischief commented on #951
@mathieu-lacage afaict, we do have the appropriate driver `ixgbe`. have you tried the suggestion in the kernel log?

[code]

[2015-10-26 21:33] bfallik commented on #489
initial testing looks like this resolves our issue; thanks all!

[2015-10-26 22:13] #551 closed

[2015-10-26 22:14] mischief commented on #551
drdb kernel module is enabled now and should be available in the next alpha release.

[2015-10-26 22:16] #313 closed

[2015-10-27 03:30] rbucker opened #952 "network problem with 845.0.0 and my container"
after 845.0.0 was installed my containers could not longer contact the public internet. I can keep the machine alive if there are any commands I need to run. I believe that it's somewhere between docker and CoreOS. hello-world works fine. It's been 6 hours but if I recall a straight ubuntu worked but jessie did not. I tried a fresh 845.0.0 but that also failed when I installed my environment.

[2015-10-27 04:10] mischief commented on #952
how did you determine the container could not contact the internet? can the host still contact the internet?

[2015-10-27 04:19] rbucker commented on #952
my container is my IDE so I run everything from a bash shell. One of the tools is a report generator that connects to an outside SQL Server DB on a remote machine. (a) I failed to connect to the remote DB. As I debugged the system I tried to ping the server (b) ping failed to resolve the hostname. I tried to ping the IP address (c) failed to ping the server via IP address. (d) I tried pinging diff

[2015-10-27 04:45] crawford commented on #952
@rbucker are you using DigitalOcean by chance?

[2015-10-27 07:31] mathieu-lacage commented on #951
ok, I missed that one.

However, I have no physical access to that server and the ipmi mode appears to be too slow to allow me to catch the boot grub2 prompt and insert the pci=realloc argument. I can boot its rescue linux os which is some kind of old stripped-down thing. From there, I can mount /dev/sda1 but I see that you appear to be using grub2 so I am worried editing /boot/grub/menu.lst direc

[2015-10-27 08:10] sasa1977 commented on #947
Thank you for your help. Looks like that was it. I have a couple of my own units where I specified:

[code]

Once I removed that, reboot works as expected.

This begs following questions:

1. Is this my fault, i.e. should I avoid specifying such requirements  on etcd2?
2. If yes, how can I ensure that my units are running only if etcd is running? Looking at systemd docs, it seems to me that `After

[2015-10-27 08:30] mathieu-lacage commented on #951
FYI, that machine appears to be able to successfully boot a kernel based on this configuration: ftp://ftp.ovh.net/made-in-ovh/bzImage/3.14.32-4/config-3.14.32-xxxx-std-ipv6-64-rescue

[2015-10-27 10:26] rbucker commented on #952
yes, this was at DO.

[2015-10-27 10:26] mathbruyen commented on #952
I got the same issue since on DigitalOcean after the automatic update of CoreOS (this happened right after a small peak of CPU and network 100% usage). Trying to access services from the outside fails (waiting until browser timeouts) and some services trying to resolve external hostnames (nginx proxypass) fail. I can:

* ssh to the machine
* start and stop containers
* access services running on c

[2015-10-27 10:30] rbucker commented on #952
I suppose there could be some original config problem, however, a fresh 845.0.0 installation at DO created the same problem. According to the support team at DO they make configuration as immutable as possible. In a recent problem I needed to change my cloud-config which they said I could not.

[2015-10-27 12:12] aemr3 commented on #951
Hey this is related with my issue https://github.com/coreos/bugs/issues/925. I have the same problem. Current ixgbe drivers in kernel 4.2.2 doesn't work with ovh servers. I am using ixgbe version 4.1.5. It works.

[2015-10-27 12:45] mathieu-lacage commented on #925
I tried to do the same and compiled the latest (4.1.5) driver from http://sourceforge.net/projects/e1000/files/ixgbe%20stable/4.1.5/ but it is unclear to me how coreos expects me to add this driver to my installation: any advice on where I should drop the resulting file ?

[2015-10-27 13:09] aemr3 commented on #925
/usr is read only partition. You cannot write there. I have copied it to my home folder. And using this service to load it from there:

[code]

[2015-10-27 13:28] bkleef commented on #952
Same here with DO by autoupdate.

[2015-10-27 13:44] rbucker commented on #952
autoupdate is not the root of the problem.  I tried a fresh install with the same results.

[2015-10-27 13:48] rbucker commented on #952
my intuition is suggesting that it's DHCP or routing table related. when I did 'ip routes' on the host there were multiple routes per network port. This is not bad or evil as it worked that way previously, however, the default route may be wrong or out of order. There was a bug that looked like this several years ago (misplaced the ticket number).  My second choice might be the OEM metadata change

[2015-10-27 14:24] roboll commented on #941
i'm about ready to give up on this, what a frustrating issue.

can't mask systemd-hostnamed, else oem-cloudinit fails.
overriding the unit under /etc/systemd/system/ with a dash (indicating acceptable failure) yields nothing.

no idea where to step next, except maybe to a different distribution.

[2015-10-27 14:41] rbucker commented on #952
this is a reply I got from DO:

Hey Richard,

Thanks for reporting this issue. I'm going to spend some time working with our engineers to try to reproduce this issue, but I think it might be because 845.0 introduces some changes to properly work with Floating IPs on our network. There might be a bug in there that's causing this behavior (it is alpha, after all).

I'll update you once I know more.

[2015-10-27 14:55] rbucker commented on #952
more DO feedback:

Hey Richard,

Thanks for waiting. After some further investigation, it's clear that this only occurs with no floating IPs attached. We will continue work on a resolution, but if you want a quick "fix" you can attach a floating IP to your droplet and it should work fine.

I'll update you again when we have more information for you. Please let us know if you need anything else.

[2015-10-27 15:02] mdlayher commented on #952
Hi all, I'm the engineer at DigitalOcean who contributed floating IP support for CoreOS.

I've found what appears to be the solution for this issue, and have submitted a pull request: https://github.com/coreos/coreos-cloudinit/pull/403.

[2015-10-27 15:14] rbucker commented on #952
I think we can close this one and keep it around for documentation. Would the owner like to comment?

[2015-10-27 16:08] greenpau commented on #475
@crawford , @vcaputo , where can I find `System.map` and `Module.symvers` for v4.2.2-coreos-r1?

I tried generating `System.map` by hand, by the kernel has no symbols

[code]

[2015-10-27 16:53] #948 closed

[2015-10-27 16:55] jonboulle commented on #950
Thanks for the tip, that probably answers my question 99% of the time. But how can we make it more obvious? Could we link to it from the releases somehow?

[2015-10-27 16:59] crawford commented on #947
Yes and no. You should specify a service's dependency to take full advantage of systemd's async nature. If you are using coreos-cloudinit, you need to go all in and use that tool to start all services. In your case, you have a service which is enabled and then depends on etcd. systemd will start etcd, while fulfilling the dependency for that enabled service, long before coreos-cloudinit has writte

[2015-10-27 18:05] mischief commented on #941
@roboll i can investigate today.

[2015-10-27 18:12] roboll commented on #941
@mischief appreciate that.

my investigations lead me to look at polkit as the likely culprit, though when I put some debug logging in a polkit policy, it generated output when running `hostnamectl set-hostname xxx` from a shell, but _not_ when it was triggered from `oem-cloudinit`.

I hacked my way though disabling the dbus, and isolated the failure to the call `coreos-cloudinit` makes to `hostna

[2015-10-27 18:13] mischief commented on #941
@roboll can you share what version of coreos you're using and what you are doing to it with packer?

[2015-10-27 18:20] roboll commented on #941
@mischief yep.

I've been able to reproduce this on 766.4.0, 835.1.0, and 681.1.0 (all on aws).

All I'm doing with packer is uploading a few tar files and extracting them - their contents all end up under `/opt`, with the exception of a ca certificate, which ends up in `/etc/ssl/certs`. I also run `update-ca-certificates`.

On the packer run the cloud config file is empty, though I've also tried

[2015-10-27 18:24] mischief commented on #941
@roboll my initial thought is that maybe you run into YungSang/coreos-packer#1 - can you try resetting /etc/machine-id as @YungSang does in YungSang/coreos-packer@5a3e7cd8cf12ebd793aef3a635874a82ef1f7228?

[2015-10-27 18:39] roboll commented on #941
@mischief unfortunately no dice there. the machine id gets regenerated, and is different, but setting the static hostname still fails.

[2015-10-27 19:20] roboll commented on #941
@mischief this is not just a coreos issue, as I originally thought.

On a debian system running systemd 215, everything is fine.

It manifests on:

fedora running systemd 219

coreos running systemd 219(681)

coreos running systemd 225(766)

[2015-10-27 19:29] mischief commented on #941
@roboll is this all under packer or can you reproduce without packer on coreos?

[2015-10-27 19:45] dmeiser commented on #933
So, I went over to the datacenter, hooked up a crash cart and...  no USB keyboard.  I'll file a bug against that.

[2015-10-27 19:53] dmeiser opened #953 "No USB keyboard"
I have no USB keyboard in 845.0.0 PXE booting on a physical machine.  I have tried kernel+initrd, in addition to my full cloud-config & ignition setup.

[2015-10-27 20:12] mathieu-lacage commented on #951
I confirm that using a new driver ixgbe allows this box to boot. i.e., this issue is related to issue #925. Is there something I could do to help this land in alpha soon ?

[2015-10-27 20:12] crawford commented on #953
What kind of keyboard is this? USB keyboards _should_ work (we had trouble with Apple keyboards at some point).

[2015-10-27 20:14] dmeiser commented on #953
It's a Dell keyboard.  It's also a Dell virtual keyboard via iDRAC.  I'll
take another keyboard over there and see if I can get an Asus keyboard
working.

On Tue, Oct 27, 2015 at 4:12 PM, Alex Crawford <notifications@github.com>
wrote:

[2015-10-27 20:17] roboll commented on #941
@mischief

trying to reproduce from the amazon web ui, and it looks like it's working properly. interestingly, it looks like the hostname on boot is reset to localhost - do you have any idea why the hostname would under certain circumstances be reset to localhost, and not in others?

anyway, it looks like this may be an issue with the way packer is creating the snapshots, but I'd still like to und

[2015-10-27 20:22] mischief commented on #951
@mathieu-lacage we do not ship modules that are not in the upstream kernel.. @marineam any other words on this?

[2015-10-27 20:23] dmeiser commented on #933
Also, this is very interesting: I have root specified (though I don't want to specify root, it's just one of the iterations I'm test) and rebooted the machine, and walked away (forgetting root was specified).  When booting into the existing environment, I have keyboard.  If I remove the root option, I still have no keyboard.  I've tried this several times.

[2015-10-27 20:23] dmeiser commented on #953
Also, this is very interesting: I have root specified (though I don't want to specify root, it's just one of the iterations I'm test) and rebooted the machine, and walked away (forgetting root was specified). When booting into the existing environment, I have keyboard. If I remove the root option, I still have no keyboard. I've tried this several times.

[2015-10-27 20:48] aemr3 commented on #951
@mischief It is already included in the upstream kernel. But it is not the latest version.

[2015-10-27 21:08] roboll commented on #941
i have a feeling the root of this issue is this:

https://github.com/systemd/systemd/blob/0a41d91f3022ae5107151ebd1af9b65a55030c7e/NEWS#L1736

[2015-10-27 22:12] vcaputo commented on #475
@greenpau Since /usr is read-only, this is a bit janky (though we hope to improve this in the future). You can blacklist the module you're supplanting, then incorporate an explicit insmod of the replacement .ko into the boot process.

The custom kernel module use case hasn't received much love in CoreOS since it's not really supported by our update model.

[2015-10-27 22:15] greenpau commented on #475
@vcaputo , @crawford , thank you for your help!

After I compiled and loaded new driver, I went from:

[code]

To:

[code]

in the interface throughput.

It is an improvement, but 1M pps would made my day a bit better.

[2015-10-27 22:21] greenpau commented on #475
my most recent Dockerfile:

https://github.com/greenpau/docker-sfc/blob/master/coreos/Dockerfile

[2015-10-27 22:42] hjfreyer commented on #634
Hey, what's the story here? The PR (https://github.com/coreos/coreos-overlay/pull/1546) went in a while ago, and I think release 845 includes it, but the iscsi tools don't seem to be on the machine. Is there anything else I need to do?

[2015-10-27 22:55] mischief commented on #634
hi @hjfreyer, i delayed on this because i didn't know what to do about the upstream systemd units, so i didn't pull it into the CoreOS production images.

it seems reasonable to merge the binaries for now, and get systemd units later.

[2015-10-27 22:58] mischief commented on #634
@hjfreyer coreos/coreos-overlay#1613 will bring in the open-iscsi binaries.

[2015-10-27 23:08] mischief commented on #634
@hjfreyer with that pr merged, open-iscsi binaries will be in the next alpha. if you find any issues with it please file a new bug.

[2015-10-27 23:27] roboll commented on #941
lots of debugging later, this was some combination of wrong file permissions on systemd units and /etc/hostname, and has nothing to do with the systemd-firstboot or systemd in general - oops.

sorry for the noise.

[2015-10-27 23:27] #941 closed

[2015-10-27 23:32] mischief commented on #941
@roboll glad it's fixed :-)

[2015-10-27 23:56] mischief commented on #634
reverted the binaries in the image, until we have done some tested and figured out systemd units. sorry.

i'll update this ticket again when the situation changes.

[2015-10-28 01:26] hjfreyer commented on #634
Hah, that didn't last long :P. Okay, I'll stay tuned.

On Tue, Oct 27, 2015, 19:56 Nick Owens <notifications@github.com> wrote:

[2015-10-28 12:11] dmeiser commented on #953
I tried several different keyboards yesterday, no dice.

[2015-10-28 17:25] sasa1977 commented on #947
Thank you very much for your help! After specifying my services in cloud config, everything works as expected, even if I have hard requirement on etcd2.

So I guess the issue happened because of my misuse of the whole thing, and the point is that I should manage all my services from cloud config?

[2015-10-28 19:53] #952 closed

[2015-10-28 22:39] mariomarin commented on #489
@vcaputo We are using 766.4.0 (stable) and we got bitten by this bug. Any workarounds while your patch gets backported to stable?

[2015-10-29 00:51] crawford commented on #489
Please give 835.2.0 (currently in Beta) a shot. This should be the next version to hit Stable.

[2015-10-29 05:34] crawford commented on #946
@mazad01 have you had a chance to try my suggestion?

[2015-10-29 05:36] crawford commented on #947
Yes, you should either go all in on coreos-cloudinit or avoid it entirely. systemd and coreos-cloudinit should be treated as, effectively, two different init systems (for better or worse).

[2015-10-29 05:36] #947 closed

[2015-10-29 05:40] crawford commented on #904
After digging into this, I don't see a good way for an instance to figure out its PIP address. Hopefully, I'm missing something obvious. I've reached out to some of the folks on Azure for assistance.

[2015-10-29 07:26] stelund commented on #916
Back again in 835.2.0.

Maybe this is relevant
https://github.com/docker/docker/issues/16689#issuecomment-148589400

[2015-10-29 11:18] iaguis commented on #950
:+1:

[2015-10-29 11:48] mazad01 commented on #946
Hey, thanks for the follow up, haven't completely tested yet, but when I do, I'll update this thread

[2015-10-29 11:48] #946 closed

[2015-10-29 15:36] crawford commented on #916
@stelund Are you sure that the issue went away with 835.1.0? The differences between that and 835.2.0 are pretty unrelated. The only one that seems related is https://github.com/coreos/coreos-overlay/pull/1593.

[2015-10-29 15:55] crawford commented on #916
It would also be worth trying to repro with GOMAXPROCS set to 1.

[2015-10-29 16:30] crawford opened #1323 "Problem with etcd2.service in case of $num_instances > 3"
<a href="https://api.github.com/users/mkurnikov"><img src="https://avatars.githubusercontent.com/u/2341827?v=3" align="left" width="96" height="96" hspace="10"></img></a>
**Issue by [mkurnikov](https://api.github.com/users/mkurnikov)**

---

When I set `$num_instances = 4` (or more), `etcd2.service` starts correctly only on last three machines.

`config.rb`:

[code]

I've copied `user-data.sample`

[2015-10-30 08:39] stelund commented on #916
@crawford I'm sad to say it's probably due to that I can't deterministic reproduce the error. We ran coreos alpha in our development cluster and saw the issue first with 829. We stepped down to beta and got the cluster healthy again, but one machine was left in alpha without working properly. When it got 835.1 (or perhaps even 835.0) it was OK again. Then when beta got 835.2 we had multiple failur

[2015-10-30 09:56] egbertp commented on #936
I experienced exactly the same problem as @Zapadlo .
I've started 4 CoreOS 835.2.0 machines on the DigitalOcean cloud.  I've used a discovery token with the size of 4, so all machines should be members of the cluster. I'll past my journalctl logs in a minute

[2015-10-30 10:07] egbertp commented on #936
https://discovery.etcd.io/9c24eea1ead48b1c7bc629f1e0f8f1c5

https://pastee.org/z49jg
https://pastee.org/uphww
https://pastee.org/v48vc
https://pastee.org/fzekj

[2015-10-30 14:33] jaroslavl1 commented on #455
It's not just the missing version, but date functions are missing too.

Try for example
[code]
you get
[code]
if you run it using jq 1.5 downloaded from https://stedolan.github.io/jq/download/ it works fine

[2015-10-30 15:02] dongsupark commented on #927
Hopefully it's fixed by https://github.com/systemd/systemd/pull/1729, merged into systemd:master.

[2015-10-30 16:58] arthur-c opened #954 "AWS CoreOS AMI : missing EBS metadatas"
Hi,

I have nodes with EBS volumes but I'm unable to retrieve all EC2 metadatas, especially EBS informations.

From ami-05783d60 and ami-c36583a8:
[code]

If I look on the metadatas from another linux AMI (centos here) with an EBS volume, I get this:

[code]

http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html

[2015-10-30 17:20] crawford commented on #455
@jaroslavl1 the date/time functions were added in [1.5](https://github.com/stedolan/jq/releases/tag/jq-1.5) but CoreOS only ships 1.4. Of course, you wouldn't know that because the version string is missing. :sob:

[2015-10-30 17:24] crawford commented on #916
@stelund we figured it must be a non-deterministic failure. You are correct about the GOMAXPROCS issue. It looks like [they are setting it to 1](https://github.com/docker/docker/blob/729c9a97822ebee2c978a322d37060454af6bc66/daemon/execdriver/native/init.go#L29).

It looks like we either need to find the upstream fix for go1.5 or revert back to go1.4.

[2015-10-30 18:26] stelund commented on #916
There was one (https://github.com/docker/docker/pull/15703#issuecomment-150440664) for url+port parsing of ipv6 addresses, our dns should resolve ipv4 addresses so I don't fins that likely. We also use static ipv4 adresses on our coreos machines.

[2015-10-30 19:01] dmeiser opened #955 "PXE boot failing on 835.2.0"
PXE Boot is failing with the error:

localhost systemd[1]: Requested transaction contradicts existing jobs: Transaction is destructive.
localhost systemctl[642]: Failed to start initrd-switch-root.target: Transaction is destructive.
localhost systemd[1]: initrd-cleanup.service: Main proces exited, code=exited, status=4/NOPERMISSION
localhost systemd[1]: Failed to start Cleaning Up and Shutting Dow

[2015-10-30 19:49] crawford commented on #955
Can you provide the full logs? These errors are secondary to the actual failure.

[2015-10-30 20:14] adarshaj commented on #434
FWIW, `socat` is still missing on core-os version `766.4.0` and this breaks the port forwarding functionality provided by kubernetes (ex. `kubectl port-forward -p $POD 5000:5000`)

[2015-10-30 20:14] dmeiser commented on #955
Alex, see this gist:  https://gist.github.com/dmeiser/7c385da12d66ac7235b7#file-rdsosreport-txt

[2015-10-30 21:21] crawford commented on #954
The EBS volumes only show up in the block device mapping if the AMI has specified these devices (and the CoreOS AMIs do not). I took a snapshot of the latest Alpha image and added an EBS volume onto it. When I boot it, I see:

[code]

... where "ebs5" is the device at /dev/xvdf.

As I understand it, the mapping is useful for providing a name to an EBS volume. Since CoreOS doesn't provide these vol

[2015-10-30 21:52] arthur-c commented on #954
Thanks for taking time on this issue.

I'm using EBS for container permanent storage and I manage the volumes through fleet, Ansible and ec2 modules (ec2_facts, ec2_vol, ec2_snapshots). I want to make a snapshot management timer unit for each service unit with permanent storage. I specifically need the EBS id and device map to be able to perform this operation.

I might be able to find another way

[2015-10-31 00:46] crawford opened #956 "Build Docker with Go 1.4"
Right now we are building Docker with Go 1.5 while upstream is still using Go 1.4. We cannot expect to have builds that are at least as stable as upstream until we use the same compiler.

[2015-10-31 01:28] mischief opened #957 "iso boot broken across all channels"
here's a boot log of 766.4.0. i could reproduce this on 835.2.0 and 845.0.0 as well.

https://gist.github.com/mischief/29c32553a83b5cf79296

[2015-10-31 01:29] mischief commented on #957
`qemu-system-x86_64 -enable-kvm -m 1024 -display sdl -cdrom http://stable.release.core-os.net/amd64-usr/766.4.0/coreos_production_iso_image.iso` is the command i tested with, but i could reproduce with a local iso image as well.

[2015-10-31 01:47] crawford commented on #955
Got it:

[code]

You are forcing a first boot, but your disk doesn't have the correct signature. This is a bug.

[2015-10-31 01:50] crawford commented on #955
/cc @vcaputo

[2015-10-31 02:15] mischief commented on #957
it's worth noting that here in the initramfs, the generated sysroot.mount is just a tmpfs that ends up empty when inspected in the initramfs emergency shell.

[2015-10-31 12:20] frank-dspeed commented on #664
same problem here but no problem at all works after secund retry

[2015-10-31 19:49] crawford opened #958 "Backport: cannot allocate memory"
https://github.com/coreos/bugs/issues/489

[2015-10-31 19:50] crawford opened #959 "Backport: systemd-journald error causes 50+ load (normally 10) and stops logging"
https://github.com/coreos/bugs/issues/322

[2015-10-31 19:51] crawford opened #960 "Backport: locksmith fails to start"
https://github.com/coreos/bugs/issues/944

[2015-10-31 23:29] oszi opened #961 "Docker SELinux MCS policy"
SELinux policies for Docker seem to be missing, should there be any.
I'm using CoreOS 835.1.0 and the docker daemon is of course running with --selinux-enabled.
For instance, this should result in denials but nothing happens in enforcing mode:
[code]
If SELinux is only integrated with rkt then this is a feature request.

[2015-11-01 23:46] aneverov4vmw commented on #165
I'm sorry I'm not working on this project at the moment and don't have anybody to assign to look at it. Feel free to close if it doesn't repro.

[2015-11-02 17:02] martingartonft commented on #481
@orbistertius are you saying the problem went away for you when you forced golang to use the cgo resolver?

[2015-11-02 17:38] orbistertius commented on #481
@martingartonft I made several tests with cgo resolver, and the issue eventually occurred, but it took much longer. Also tens of the 100 units failed at the same time, the others restarting well until next group failure:

[code]

Another example from a previous test: 29 units failed together.
[code]

I cannot exclude momentary network glitches in my setup as the cause of group failures.

[2015-11-02 18:13] crawford commented on #165
OK. Go ahead and reopen this if you are able to repro it in the future.

[2015-11-02 18:13] #165 closed

[2015-11-02 18:55] crawford commented on #954
OK, that makes sense. Unfortunately, this is going to be a lower priority for us so I encourage you to explore other solutions in the meantime.

[2015-11-02 21:58] vcaputo commented on #955
@crawford issues like this one are making me think we should decouple the "generate random disk uuid on successful boot" from "this is a first boot", and make grub set both when appropriate, and the user set just "this is a first boot" when appropriate.

[2015-11-02 23:29] dmeiser commented on #955
@vcaputo I don't know if anyone else is using PXE like we are intending to, but I'm trying to avoid installing anything to disk (reserving disk as a cache).  So, strictly speaking, every boot will be a first boot and there never will be a uuid on disk.

[2015-11-03 00:30] mischief commented on #957
not a bug, just need `initrd=/coreos/cpio.gz` in the kernel commandline argument.

[2015-11-03 00:30] #957 closed

[2015-11-03 15:03] kayrus opened #962 "systemd: make systemd-journal-upload and systemd-journal-remote work (part 2)"
continue #919

For now we have to fix:
- systemd-remote.conf:

[code]
- systemd-upload.conf:

[code]
- add systemd-journal-upload user into systemd-journal group
- fix https->http inside systemd-journal-remote.service (as we don't use https)
- for test purposes (same as tmpfiles.d) create sysusers.d directory https://github.com/coreos/coreos-overlay/pull/1617

[2015-11-03 16:24] kayrus commented on #962
Fixed here: https://github.com/systemd/systemd/pull/1766 waiting for reply.

[2015-11-03 23:14] vcaputo commented on #959
Fixed by https://github.com/coreos/systemd/pull/24

[2015-11-03 23:14] #959 closed

[2015-11-03 23:15] vcaputo commented on #958
Fixed by https://github.com/coreos/coreos-overlay/pull/1619

[2015-11-03 23:15] #958 closed

[2015-11-03 23:16] pquerna opened #963 "coreos-cloud-init: Support comma separated groups because of cloud-init bug"
Current versions of `cloud-init` used by other distributions have a bug with adding users with groups:

https://bugs.launchpad.net/cloud-init/+bug/1356208

This basically means the only **working** method of adding groups to a user on creation is to comma separate them.

Unfortunately, CoreOS cloud-init only supports the array syntax.

Works with normal cloud-init, but not CoreOS cloud-init:
[code

[2015-11-04 00:05] pbx0 commented on #960
Backport is in the 766 branch: https://github.com/coreos/coreos-overlay/pull/1620

[2015-11-04 00:05] #960 closed

[2015-11-04 01:33] mischief commented on #434
@crawford can this be removed from the CoreOS 766.5.0 milestone? we do not ship kubelet in 766.

[2015-11-04 05:01] ntquyen commented on #429
I got the same crash in v773.1.0. Issue posted here:
http://stackoverflow.com/questions/33512998/coreos-vm-crash-swap-trace-printed

[2015-11-04 10:00] hosh commented on #916
@crawford check this thread out: https://github.com/docker/docker/issues/16689#issuecomment-148589400

There is a fix for the Go 1.5 bug in 1.9.0 the last time I checked. Let me see if I can find the exact pull request.

[2015-11-04 10:04] hosh commented on #916
@crawford @stelund found the PR:  https://github.com/docker/docker/pull/15545

[2015-11-04 10:25] crawford commented on #434
@mischief OK, I was mistaken.

[2015-11-04 10:25] #434 closed

[2015-11-04 10:49] crawford commented on #916
@hosh thanks for digging that up. "it's magically fixed hanging on go1.5" doesn't install much confidence. I think we are going to roll back to go1.4 for the time being.

[2015-11-04 11:19] pwaller commented on #47
Is there a way to turn off the motdgen altogether? I need to do this now to show a different MOTD and I don't want CoreOS's motd at all right now. `sudo systemd disable motdgen.service` or `.timer` don't work.

[2015-11-04 11:35] pwaller commented on #47
I would also like to turn off issuegen.

[2015-11-04 11:42] crawford commented on #47
@pwaller you can use `systemd mask {motd,issue}gen.service`.

[2015-11-04 11:46] seblez opened #964 "Etcd2 does not register all members of my cluster"
Hi,

I'm trying to run a cluster of 3 stable coreos machines. I'm on vmware so I have manually setted IPs :
[code]

And same thing for others user_data files :
[code]

Here is my problem :
On coreos1 :
[code]

On coreos2 :
[code]

On coreos3 :
[code]

As we can see, the third machine does not seem to be registered. And so, the etcd cluster does not work :
[code]

[2015-11-04 11:54] crawford commented on #964
From coreos1, I see:

[code]

It looks like that machine isn't able to talk to the internet.

[2015-11-04 12:35] pwaller commented on #47
Aha, thanks @crawford!

[2015-11-04 13:47] seblez commented on #964
All 3 machine have an access to internet :
[code]

[2015-11-04 13:49] crawford commented on #964
How long does etcd attempt to contact the discovery server before it gives up?

[2015-11-04 13:53] seblez commented on #964
I don't know. How can I see that ? journalctl only shows me that it retries regularly.

[2015-11-04 13:59] crawford commented on #964
Oh, I think I misread that error. "server error [Gateway Timeout]" makes it sound like the discovery service is returning a 500, but I am not certain.

@yichengq do you know what is going on?

[2015-11-04 15:32] xiang90 commented on #964
@seblez Seems like coreos3 was not registered successfully. Can you paste the full log of coreos3?

[2015-11-04 15:32] benjvi commented on #868
Hi @crawford @xied75 any idea what the problem might be here? I'm still seeing this issue in testing with the 835 beta build..

[2015-11-04 16:54] seblez commented on #964
Full log of etcd2 from coreos3 since the last reboot :

[code]

I don't know if I can give you more information ?

[2015-11-04 17:40] xiang90 commented on #964
@seblez There should be logs before
[code]

We need the logs from the very beginning starting with etcd version.

[2015-11-04 18:46] seblez commented on #964
Yes just below. I have used the -r option ;)

[2015-11-04 18:49] xiang90 commented on #964
@seblez

OK. I see... It is in reverse order.

[code]

Here is the problem. Your 3rd etcd was previously started as proxy and it did not register itself as member. So all members are waiting for the 3rd one. You need to remove the data dir of existing etcd proxy to start a new member.

[2015-11-04 18:49] #964 closed

[2015-11-04 19:30] crawford commented on #964
@xiang90 were those server errors just an unrelated temporary error?

[2015-11-04 19:31] xiang90 commented on #964
@crawford These are temp errors from ELB which has a 5 seconds session timeout. etcd kept on retrying though. The root cause is the missing member. All etcd were waiting for it.

[2015-11-04 19:35] crawford commented on #964
Gotcha. That makes sense.

[2015-11-04 19:44] bobelev commented on #429
@ntquyen try create swap file without `losetup` and `chattr` commands. It helped me.

[2015-11-04 19:56] rwky opened #965 "docker ps hangs"
After a while of running various containers for no apparent reason docker ps hangs. All other docker commands work

Docker info:

Server:
 Version:      1.8.3
 API version:  1.20
 Go version:   go1.5.1
 Git commit:   cedd534-dirty
 Built:        Fri Oct 16 04:20:25 UTC 2015
 OS/Arch:      linux/amd64

Containers: 23
Images: 520
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: n

[2015-11-04 23:21] hosh commented on #916
@crawford works for me.

Between this and the overlayfs over allocation patch in, I feel a lot better about putting my cluster into production.

[2015-11-05 01:05] vcaputo opened #966 "systemd malfunctioning breaks ssh access due to socket activation"
When systemd gets into a broken state, socket activation doesn't work, which can make a system inaccessible if ssh is your only option.

I believe we should strongly consider not making sshd socket activated by default.  It doesn't require much in the way of resources or boot time, and makes our system more robust and debuggable in the face of systemd bugs, which aren't exactly uncommon/unlikely c

[2015-11-05 01:57] ntquyen commented on #429
@bobelev It would be awesome if you give me the exact unit file, because I have no idea what i'm doing with swap here :D

[2015-11-05 07:46] bobelev commented on #429
@ntquyen here it is
[code]

[2015-11-05 08:21] seblez commented on #964
Hi,

Effectively, there was a proxy dir in /var/lib/etcd2. I don't know why. I have done a rm -rf of this directory and restarted coreos3. It's ok now.

After that, I have restarted coreos1 and coreos2 anf etcd2 failed to start with this error on both machine :
[code]
Effectively, /va/lib/etcd2 is empty on those machines.

I am going to retry a complete restart with a new discovery token now...

[2015-11-05 09:14] seblez commented on #964
It works now. Thanks :)

[code]

[2015-11-05 11:19] seblez opened #967 "etcd cluster is up but keys are not shared"
Hi,

Since https://github.com/coreos/bugs/issues/964, I have now my new cluster of 3 machines :
https://discovery.etcd.io/bc91cea7d3214a2267d753c3ecfe1312

I can set and get an etc key on one machine. But I can't find this key on other machine :
[code]
[code]

I think there is a problem on etcd cluster because when I try `etcdctl cluster-health` on each machine, I have always the same reponse with

[2015-11-05 13:08] seblez commented on #967
I'm searching and I have found this also :
[code]
[code]
[code]

[2015-11-05 15:25] ntquyen commented on #429
Thanks @bobelev !!

[2015-11-05 16:07] crawford commented on #965
@yifan-gu you were showing me this behavior the other day, but I forget what was causing it. Can you refresh my memory?

[2015-11-05 19:15] yifan-gu commented on #965
@crawford @rwky
I reported in this docker issue.
https://github.com/docker/docker/issues/13885#issuecomment-149720279

[2015-11-05 22:08] mischief commented on #862
fixed by coreos/locksmith#96 coreos/locksmith#98

[2015-11-05 22:08] #862 closed

[2015-11-06 01:01] carmstrong commented on #956
@crawford Is this a prerequisite for getting Docker 1.9 in alpha? Just noticed #1623 and no PR yet for Docker 1.9.

[2015-11-06 01:02] mischief commented on #956
@carmstrong no plans for 1.9 yet.

[2015-11-06 01:16] carmstrong commented on #956
:( We are hoping to get on 1.9 and test it out to hopefully get rid of the ridiculous `flock`s we had to introduce everywhere to work around the simultaneous layer issue on `docker pull`. This bit us several times: https://github.com/deis/deis/pull/4590 https://github.com/deis/deis/pull/4609 and is also the reason why we stayed pinned to Docker 1.5 for so long, even though it has a large memory le

[2015-11-06 01:18] marineam commented on #956
@carmstrong the rollback is just for the 835.x.x branch which will be sticking to docker 1.8.x

Getting the 835 branch stabilized is a high priority right now but 1.9 should land in alpha soon, we just haven't had a chance to look at it yet.

[2015-11-06 01:54] carmstrong commented on #956
@marineam Understood, thanks for the update.

[2015-11-06 07:48] #955 closed

[2015-11-06 08:43] antoineco commented on #909
I also experience that on the current beta, 835.2.0.

@vaijab how did you take control of your EC2 instance when this happened to you? You mentioned debugging "from inside".

[2015-11-06 08:59] vaijab commented on #909
@antoineco existing ssh sessions do not get closed when journal starts to fail.

[2015-11-06 21:12] mischief commented on #956
fixed by coreos/coreos-overlay#1623

[2015-11-06 21:12] #956 closed

[2015-11-06 22:57] Supernomad opened #968 "Active Directory Authentication"
So I have been looking around and it seems that CoreOS just does not support this due to utilities not being available. I am running in an enterprise, and require AD authentication for users logging into the CoreOS container host.

I am struggling to understand why this seems to be getting ignored. To be honest, as much as people hate Microsoft, its a fact of life that the vast majority of Enterpr

[2015-11-06 23:02] JasonSwindle commented on #448
PR https://github.com/coreos/docs/pull/658 fixes this.

[2015-11-06 23:46] FirefighterBlu3 commented on #968
i do not speak for CoreOS but AD integration is not a simple matter. your ldap, kerberos, gssapi, and sasl packages all need to get pulled in; libraries and tools, and this isn't a simple small set of files. it adds considerably to the footprint.

additionally, if your environment contains certain component versions of AD, you must build a hacked version of gssapi libs to work around the broken im

[2015-11-07 00:59] Supernomad commented on #968
I understand that it's not exactly lightweight but having to run a container that has all of that functionality plus the rest of the guest os has got to be heavier weight. Sssd is really not that heavy in terms of size and if you don't need it just don't configure/start the service.

How exactly would you extract out user authentication for the container host? The users will not just be doing 'fle

[2015-11-08 02:42] andrewvy commented on #925
:+1:. I'm running into this same issue, it would be awesome to have this be upgraded.

[2015-11-09 14:06] crawford commented on #852
Hey @xiang90, do you recall if this issue was ever opened on the etcd repo (or if it was fixed)?

[2015-11-09 14:26] crawford commented on #413
@bradfordcp can you attach the output of `findmnt --noheadings --output FSTYPE --target /var/lib/docker`?

[2015-11-09 15:44] bradfordcp commented on #413
The host where this issue occurred has been recycled.

I was able to follow the procedure on a *new* host, without issue, but it is worth noting that this bug was reported on a host which was previously running docker containers and not brand new.

[2015-11-09 16:02] xiang90 commented on #852
yes, it was opened and fixed if I remember correctly. I will refer the
issue and close this when I get to my computer.
On Nov 9, 2015 6:06 AM, "Alex Crawford" <notifications@github.com> wrote:

[2015-11-09 16:05] crawford commented on #852
Thank you, sir.

[2015-11-09 16:52] xiang90 commented on #852
I think https://github.com/coreos/etcd/pull/2245 do fix original the issue.

I am still not sure about @Telmo's issue unless he can provide more info or I tent to close this issue now.

[2015-11-09 17:32] #852 closed

[2015-11-09 18:47] crawford commented on #413
I'm going to close this since we haven't reproduced this failure. If you run into this again, go ahead and reopen it.

[2015-11-09 18:47] #413 closed

[2015-11-09 21:43] crawford commented on #904
Azure confirmed my findings :(  There is no way for us to access this information from within the VM.

@carmstrong your best bet is going to be to let fleet go ahead and figure out its address (which would be the same as specifying `$private_ipv4`). It should end up with the DIP address for the machine.

[2015-11-09 23:22] kees opened #969 "Missing security defaults for kernel"
I would recommend enabling the following for an improved security stance on the kernel:

CONFIG_DEBUG_RODATA=y (needs CONFIG_DEBUG_KERNEL=y)
CONFIG_CC_STACKPROTECTOR_STRONG=y (not _REGULAR)
CONFIG_SYN_COOKIES=y
CONFIG_DEBUG_CREDENTIALS=y

[2015-11-09 23:26] marineam commented on #969
Thanks, forgot to switch stackprotector when we upgraded to gcc 4.9. the others we simply missed :(

@mjg59 any others you can think of?

[2015-11-10 01:53] vcaputo commented on #943
Closing as probable duplicate of https://github.com/coreos/bugs/issues/959

[2015-11-10 01:53] #943 closed

[2015-11-10 04:40] carmstrong commented on #904
Thanks for the investigation, @crawford!

[2015-11-10 20:03] Evidlo commented on #152
I had this issue, too.  The disk used to be part of a RAID.

I went ahead and reformatted the disk with fdisk and it installed successfully.  Not sure if this is actually the cause of the success though.

[2015-11-10 21:21] vcaputo commented on #489
landed upstream:
https://git.kernel.org/cgit/linux/kernel/git/mszeredi/vfs.git/commit/fs/overlayfs/copy_up.c?h=overlayfs-next&id=e4ad29fa0d224d05e08b2858e65f112fd8edd4fe

[2015-11-10 21:55] vcaputo commented on #908
There's a new PR up re: bounded buffer: https://github.com/docker/docker/pull/17877

[2015-11-10 22:39] vcaputo commented on #909
This issue I filed the other day may be related https://github.com/coreos/bugs/issues/966

[2015-11-11 01:03] taxilian opened #970 "megaraid_sas module not working on Dell R330 server"
Standard Dell R330 server configuration server, the RAID controller doesn't load and thus drives on it can't be used.  I'm using the alpha branch of CoreOS.  The block devices simply don't show up as being detected, and bunches of errors show up in the dmesg (so many that it overflows during boot and you don't see the beginning).
[lspci.txt](https://github.com/coreos/bugs/files/31450/lspci.txt)

I

[2015-11-11 01:06] hosh commented on #956
:+1: woot! I can come off of the alpha channel now and don't have to use the bind-mount hack :-D

[2015-11-11 01:18] hosh opened #971 "Upgrade to kubectl v1.1.1"
Kubernetes 1.1 has been officially released now: https://github.com/kubernetes/kubernetes/releases/tag/v1.1.1

There are some good features in here. It would be great to see this in the alpha channel.

[2015-11-11 01:19] mischief commented on #971
we do not ship k8s in coreos. we do however ship kubelet. is that what you wish to be upgraded?

[2015-11-11 01:20] hosh commented on #971
@mischief yep

[2015-11-11 01:52] marineam commented on #969
@kees DEBUG_RODATA is enabled by default and SYN_COOKIES is slected by IP_NF_TARGET_SYNPROXY which is enabled. Will post a PR for the others shortly.

[2015-11-11 01:57] marineam commented on #969
all of those were missing from arm64 though

[2015-11-11 04:16] tjdett opened #972 "SELinux doesn't contain Docker containers"
On a clean 845.0,  following:
[code]

Docker runs as `kernel_t`:
[code]

and as a result Docker containers are unrestricted in their access to the filesystem:
[code]

[2015-11-11 05:39] crawford commented on #972
Looks like a duplicate of https://github.com/coreos/bugs/issues/961.

[2015-11-11 05:39] #972 closed

[2015-11-11 06:11] kees commented on #969
Glad to hear DEBUG_RODATA was already there. (I didn't see DEBUG_KERNEL which is required for RODATA=y.)

forgot to mention for x86:

RANDOMIZE_BASE=y (and removed HIBERNATE if you haven't already)

for arm64:

DEBUG_ALIGN_RODATA=y (along with DEBUG_RODATA)

for both (may already be set):

DEBUG_SET_MODULE_RONX=y

[2015-11-11 17:39] taxilian commented on #970
Quick update, this works fine if we disable virtualization on the motherboard; are there any downsides to doing this?

[2015-11-11 18:08] crawford commented on #970
There shouldn't be any downsides to disabling VT-d. None of the software on CoreOS uses virtualization by default.

[2015-11-11 18:23] marineam commented on #969
Yeah, using a minimal defconfig makes it less obvious what is actually enabled in the final config. Will check on those new options.

[2015-11-11 18:25] marineam commented on #969
We tried `RANDOMIZE_BASE` when it was first introduced but it made Xen explode. Hopefully this time around it works better :)

[2015-11-11 18:27] marineam commented on #969
And we do have `HIBERNATE` enabled, should be OK to remove as it seems unlikely anyone has managed to configure CoreOS to use it. What is the concern with that feature?

[2015-11-11 18:30] marineam commented on #969
Ah, I enabled `HIBERNATE` back when we were debugging/fighting with kexec, it is required for `KEXEC_JUMP`.

[2015-11-11 18:38] #969 closed

[2015-11-11 18:41] marineam commented on #969
Ok, all the kernel config suggestions are merged now.

[2015-11-11 18:46] #904 closed

[2015-11-11 21:13] vcaputo opened #973 "Improve logging of ignition filesystems create vs. mount-existing"
It is unclear when a user omits the create clause of an ignition filesystem config that this is the reason the filesystem failed to mount during ignition.

[2015-11-11 21:36] crawford opened #974 "coreos-install should be able to install Ignition configs"

[2015-11-11 22:34] crawford commented on #676
Closed via https://github.com/coreos/init/pull/184.

[2015-11-11 22:34] #676 closed

[2015-11-11 22:59] mjg59 commented on #961
https://github.com/coreos/coreos-overlay/pull/1632

[2015-11-11 23:00] mjg59 commented on #961
https://github.com/coreos/coreos-overlay/pull/1632

[2015-11-12 02:45] mmelnyk opened #975 "Missed HIDDEV interface from kernel on bare metal servers"
Feature request: Our bare metal servers have integrated power meters via usb bus (support hid interface), but monitoring software required hiddev devices, disabled by default (# CONFIG_USB_HIDDEV is not set) in the kernel. It would be great to have this hiddev interface enabled. Also some usb ups requires hiddev too.

[2015-11-12 02:53] mmelnyk commented on #953
I have the issue with ThinkPad Compact USB keyboard (it requires CONFIG_HID_LENOVO).

[2015-11-12 03:06] mmelnyk commented on #935
hdparm can be deployed in container. I am using it in this way.
example:

 geometry      = 121601/255/63, sectors = 1953525168, start = 0

/dev/sda:
 Timing buffered disk reads:   1142 MB in  2.00 seconds = 570.99 MB/sec

[2015-11-12 11:56] pwaller opened #976 "/etc/issue only has md5 fingerprints"
Modern SSH now uses sha256 rather than MD5.

We use the fingerprints from the console to confirm we're talking to the right machine. Would it be possible to put both in [`sshd_keygen`](https://github.com/coreos/init/blob/0ab24b10bb1b6a4bcb0dc8d8981e2a5294864ad1/scripts/sshd_keygen)?

See for example this:

http://superuser.com/questions/929566/sha256-ssh-fingerprint-given-by-the-client-but-only-md

[2015-11-12 15:46] bchanan03 opened #977 "Docker 1.9"
When do you plan on moving to Docker 1.9? with Swarm?

[2015-11-12 17:41] crawford commented on #953
Related https://github.com/coreos/bugs/issues/975.

[2015-11-12 17:45] crawford commented on #977
We are running into trouble with Docker 1.9 on CoreOS (https://github.com/coreos/coreos-overlay/pull/1625) so it will probably be a little while.

[2015-11-12 17:45] #977 closed

[2015-11-12 17:46] #961 closed

[2015-11-12 17:54] crawford commented on #976
Do you see MD5 fingerprints when running `ssh-keygen -l -f`? What version of CoreOS?

On my system (845.0.0), I get SHA256 fingerprints.

[2015-11-12 18:58] pwaller commented on #976
I guess I'm not running the latest release. That's fine then, I'll happily wait till it hits stable. Thanks for the hint :)

[2015-11-12 18:58] #976 closed

[2015-11-12 19:48] marineam commented on #976
Yeah, the system is just following the default behavior of ssh-keygen so we magically switched to sha256 during a recent openssh update. :)

[2015-11-12 19:52] #940 closed

[2015-11-12 20:05] nickethier commented on #212
@crawford this is still an outstanding issue for me.

[2015-11-12 20:06] nickethier commented on #212
I'll note that I've worked around it but it would be nice not to have to.

[2015-11-12 21:10] crawford commented on #212
@nickethier is it not sufficient to disable DHCP on certain interfaces via Ignition? Keeping DHCP enabled on all interfaces is really the only default network config for CoreOS. Custom environments will need to set up the network to match their requirements.

[2015-11-12 21:18] #47 closed

[2015-11-12 21:59] nickethier commented on #212
Network is borked before ignition so a remote url fetch does not work. This
is on metal and not a cloud provider.
On Thu, Nov 12, 2015 at 2:10 PM Alex Crawford <notifications@github.com>
wrote:

[2015-11-12 22:02] crawford commented on #212
You should have several options here:

 1. You can bake the Ignition config into the OEM partition of the image and then point Ignition at that config. This can be done with both PXE images and disk installs.
 2. It should be possible to configure the network via kernel boot parameters. I'd have to do a bit of testing to be sure about this though.

[2015-11-12 22:43] crawford opened #978 "Should we remove the kubelet?"
@aaronlevy brought it to my attention that k8s has some serious bugs around running mixed versions in a cluster (https://github.com/kubernetes/kubernetes/issues/16961). This class of bug is, of course, the bane of our existence as a self-updating OS. Given the tight dependence between the versions of the k8s components, I think we should either ship everything or nothing. This is further complicat

[2015-11-12 22:47] joshix commented on #978
What's the image size difference between kubelet and "everything"?

[2015-11-12 22:53] crawford commented on #978
Everything is roughly 10x the size of the kubelet (39M vs 338M).

[2015-11-12 22:54] aaronlevy commented on #978
Looks like hyperkube ("everything") is 43mb. Kubelet is 33mb and we would need both as kubelet IIRC is not part of hyperkube.

The everything route still wouldn't really solve this specific problem, unless you classed your updates differently too. E.g. all master nodes would need to be updated before any workers. Otherwise worker kubelet > master (which is the current issue).

[2015-11-12 22:56] crawford commented on #978
My numbers came from v1.1.1.

[code]

Assuming we need the API server, kube-scheduler, etc..

[2015-11-12 22:59] aaronlevy commented on #978
hyperkube is basically an all-in-one binary from which you can run apiserver, scheduler, controller, proxy.

[2015-11-12 23:00] crawford commented on #978
Ah, good to know.

[2015-11-13 03:50] nickethier commented on #212
Id like not to have to go option 1 though I've toyed with it a bit and understand how to do it.

I've poked around networkd and can't seem to find anything that would let me configure via boot parameters but if there is a way to do this that would solve all my problems.

[2015-11-13 05:44] mmelnyk commented on #978
I would like to see CoreOS as small\simple as possible. We are using kubelet\k8s and weave (all set), sometimes serf, so there are no problem to download\update these components during provision\deployment\boot.

[2015-11-13 05:55] aaronlevy commented on #978
FWIW the v1.1.1 hyperkube binary does contain the kubelet. So size-wise it looks like 55M (everything) vs 39M (kubelet).

[2015-11-13 12:28] iaguis opened #979 "Update systemd to v227"
We would like to use v227 in rkt's stage1 to get some fixes (mainly https://github.com/systemd/systemd/pull/1318).

[2015-11-13 14:42] kayrus opened #980 "kernel: 4.2.x infinite loop with bond interfaces and bridge fdb command"
/cc @dtatulea

I've discovered that the issue appeared in linux kernel 4.2.x. It's caused flannel OOM issue here https://github.com/coreos/flannel/issues/367 which was already fixed in flannel but not in kernel.

It is possible to reproduce the issue by running this script: https://github.com/kayrus/scripts/blob/master/deploy_ubuntu_cluster.sh (ssh ubuntu@ubuntu1 with password: passw0rd)

just run

[2015-11-13 15:46] antrik commented on #172
The actual problem here is that the default /usr/lib/sysctl.d/50-coredump.conf shipped with systemd (and CoreOS) sets the core dump command to '/usr/lib/systemd/systemd-coredump %p %u %g %s %t %e', where %p is the "PID of dumped process, as seen in the PID namespace in which the process resides" (according to http://man7.org/linux/man-pages/man5/core.5.html ) -- so systemd-coredump already gets th

[2015-11-13 16:32] crawford commented on #882
Fixed by https://github.com/coreos/toolbox/pull/28.

[2015-11-13 16:32] #882 closed

[2015-11-13 16:52] crawford opened #981 "Cannot configure the network settings used in the initramfs"
Following up from https://github.com/coreos/bugs/issues/212, operators need to be able to configure the network used in the initramfs. In this particular case, having DHCP enabled on all interfaces is causing a problem.

[2015-11-13 16:52] crawford commented on #212
Let's move option number two over to https://github.com/coreos/bugs/issues/981.

[2015-11-13 17:07] crawford commented on #212
I don't think there is anything the OS can automatically do here. We don't know which interface is being used for what, so enabling DHCP on all of them seems reasonable. If possible, the DHCP servers should be configured as @stresler mentioned, but in the case that you don't control the DHCP servers, you'll need to give CoreOS a hint as to which interface it should use. This can be done by includi

[2015-11-13 17:12] crawford commented on #212
I forgot one more option. Using kernel parameters to tell either the kernel or networkd to configure the interfaces.

[2015-11-13 17:21] nickethier commented on #212
I'd +1 using kernel parameters as well.

[2015-11-13 17:38] crawford commented on #212
It should be possible to use the [ip kernel parameter](https://www.kernel.org/doc/Documentation/filesystems/nfs/nfsroot.txt) to set the address, though I'm having trouble getting that to work in my QEMU setup.

[2015-11-13 19:06] xrl opened #982 "OS becomes inaccessible after network reconfiguration (Stable 766.5.0)"
My hosts are becoming unresponsive to SSH when their network interfaces reconfigure and go in to a bad state. This is running on OpenStack. My metrics went silent around 18:30 which I then tracked down in the journal (reverse chronological order):

[code]

[2015-11-13 19:17] xrl commented on #982
Relevant post: http://comments.gmane.org/gmane.linux.coreos.devel/2044 had me thinking this might have to do with my cloud-init which DOES inject a DNS address at configure time. Here's the entire `coreos` stanza from my cloud-init:

[code]

[2015-11-13 20:56] vcaputo commented on #172
@antrik That's a great catch, are you going to create an issue for it @ https://github.com/systemd/systemd/issues?  This should be fixed upstream.

[2015-11-13 21:18] crawford opened #983 "Docker doesn't run with SELinux and btrfs"
[code]

We will need to add a check to dockerd.

[2015-11-13 21:40] crawford commented on #982
DHCP is disabled by default in [network units](http://www.freedesktop.org/software/systemd/man/systemd.network.html#[Network]%20Section%20Options). When your machine initially boots, it is using the default config and grabbing an address via DHCP. coreos-cloudinit then writes a new config and (I presume) you restart networkd. When the lease expires or the machine reboots, it uses your config (with

[2015-11-14 19:41] dtatulea commented on #980
There's a very easy way to reproduce this:

[code]

[2015-11-14 19:56] dtatulea commented on #980
TL;DR
An error gets misinterpreted as an index from the switchdev ops (used by the bonding driver) to the rtnetlink fdb dump.

Now the details:

It looks like in 4.2 the bonding driver started using [fdb ops] (https://github.com/torvalds/linux/blob/v4.2/drivers/net/bonding/bond_main.c#L4089) from switchdev which returns [EOPTNOTSUPP] (https://github.com/torvalds/linux/blob/v4.2/net/switchdev/switc

[2015-11-15 00:45] polarina opened #984 "etcd2.service doesn't depend on networking"
The `etcd2.service` definition doesn't depend on networking.

Other services that may be manually installed by the user that depend on that service may cause etcd2 to start up before the interfaces have been configured.

[2015-11-15 13:29] dtatulea commented on #980
It looks like the main issue has been [fixed] (https://github.com/torvalds/linux/commit/0890cf6cb6ab1af650025670b1a839671a9a3fcb) in 4.3.

*However*, that works only if you have CONFIG_NET_SWITCHDEV turned on. Oterwise, you'll still get an error from the unimplemented [switchdev_port_obj_dump](https://github.com/torvalds/linux/blob/1b1050cdc5cdde43177b375b5f22dc070d45d8f8/include/net/switchdev.h#L

[2015-11-16 17:25] crawford opened #985 "Hold off on shipping kubelet in Stable"
Following up from https://github.com/coreos/bugs/issues/978, we are going to hold off on shipping the kubelet in the Stable channel.

[2015-11-16 21:19] medlefsen opened #986 "Can't get ignition to work using OEM drive with PXE"
I'm using 835.4.0 with pxeboot and don't want to depend on HTTP for ignition.json but I can't get the oem:// scheme to work.
Looking at the ignition code it appears to support two ways of handling the oem:// scheme:

Looking at /sysroot/usr/share/oem and mounting /dev/disk/by-label/OEM

but neither appear to work. Even if my root disk has a /usr/share/oem, because the squashfs image is mounted on

[2015-11-16 21:26] crawford commented on #986
Can you share your `coreos.config.url` option and the Ignition logs (`journalctl -t ignition --no-pager`)?

[2015-11-16 22:53] crawford commented on #986
This was broken by https://github.com/coreos/coreos-overlay/pull/1592. There used to be a mount unit which created /mnt/oem. Now that it's gone, the mount fails.

[2015-11-16 23:34] mischief commented on #975
@mmelnyk is that the only kernel config option required?

[2015-11-16 23:36] mmelnyk commented on #975
Yes - just kernel part, user-mode parts for different devices cab be in containers.

[2015-11-16 23:57] mischief commented on #953
@dmeiser can you use lsusb under a different distribution to determine what driver is needed?

[2015-11-16 23:59] marineam commented on #953
@mischief lsusb is included in coreos

[2015-11-17 00:02] mischief commented on #953
@marineam but apparently @dmeiser cannot type because the driver is not present in coreos. a bit of a chicken/egg problem there..?

[2015-11-17 01:23] #975 closed

[2015-11-17 01:23] mischief commented on #975
@mmelnyk this change will be present in the next alpha.

[2015-11-17 01:34] medlefsen commented on #986
Makes sense. If you still need it:

coreos.config.url=oem:///ignition.json

[ignition.log.txt](https://github.com/coreos/bugs/files/36148/ignition.log.txt)

[2015-11-17 02:17] crawford commented on #986
Do you have the details around the failed attempt to use the config in the SquashFS?

[2015-11-17 02:38] medlefsen commented on #986
I think I misunderstood how the oem directory is used for PXE. I read the documentation [here](https://coreos.com/ignition/docs/0.2.2/supported-platforms.html) as suggesting that the config can be placed in /usr/share/oem on the root drive for PXE, but looking at the PXE docs I see that you're supposed to edit squashfs image in the initramfs for the oem drive.

[2015-11-17 02:45] vcaputo commented on #986
@medlefsen In handling oem:// schemes, Ignition will first attempt the path under the root drive, if that fails it will then attempt to mount the oem partition and look in there:
https://github.com/coreos/ignition/blob/master/src/providers/cmdline/cmdline.go#L178

[2015-11-17 02:55] medlefsen commented on #986
@vcaputo it checks /sysroot/usr/share/oem which is not the root drive. In the initramfs shell /sysroot/usr is a loopback squashfs device backed by /usr.squashfs.

I think there may be a bug here but I'm not certain. The [pxe docs](https://coreos.com/os/docs/latest/booting-with-pxe.html) say I should be able to add oem config to the initramfs by editing the cpio, but based on those instructions I w

[2015-11-17 02:59] medlefsen commented on #986
I should say, I directly tested putting ignition.json in /usr/share/oem on the root disk (as specified by the root= kernel flag) and it did not find it. Within the initramfs shell I could see that /sysroot was mounted correctly, but /sysroot/usr/share/oem was empty, due to the issue I described.

[2015-11-17 04:17] mmelnyk commented on #975
I will test when alpha is available

[2015-11-17 04:25] mmelnyk commented on #953
@dmeiser can ssh to the server with connected keyboard. however I am not sure lsusb can show correct hid driver (usb - yes, but not hid).

[2015-11-17 05:16] stelund commented on #916
@hosh thank you for finding it! Sorry for my late reply.

[2015-11-17 05:16] stelund commented on #916
@crawford we haven't seen this issue since the 835.4.0 update last week. Great work, thank you!

[2015-11-17 05:16] #916 closed

[2015-11-17 09:20] dtatulea commented on #980
Fix was applied to the [net-next](http://marc.info/?t=144766761600004&r=1&w=2) kernel.

[2015-11-17 12:22] vcaputo commented on #980
@dtatulea thank you, sir!  I've pulled both the patches in https://github.com/coreos/coreos-overlay/pull/1640, just in case we enable CONFIG_NET_SWITCHDEV.

[2015-11-17 12:31] antrik commented on #172
I submitted an upsteam issue. Note though that I'm totally new to all this stuff (systemd, namespaces,  CoreOS etc.) -- so someone else might need to chime in if there is some follow-up discussion there...

[2015-11-17 13:16] dmeiser commented on #953
From a CentOS7 machine running on the same hardware I have this:
Bus 001 Device 003: ID 0424:2512 Standard Microsystems Corp. USB 2.0 Hub
Bus 001 Device 004: ID 0624:0248 Avocent Corp. Virtual Hub
Bus 001 Device 005: ID 0624:0249 Avocent Corp. Virtual Keyboard/Mouse

I think CentOS has usb_hid compiled in, so I cannot give you the loaded modules.

[2015-11-17 13:23] vcaputo commented on #172
@antrik thanks

@marineam what do you think, wait and see what upstream does on this or go s/%p/%P/ in `sysctl.d/50-coredump.conf.in` on v225-coreos?

[2015-11-17 14:07] vcaputo commented on #986
You're correct, we'll have to fix this.

[2015-11-17 15:07] vcaputo commented on #979
@mischief You had experimented with v226 trying to reproduce the journal compression bug, were there any barriers to shipping v226 that we need to verify as fixed in v227 before it can potentially land?

Bumping util-linux to 2.27 seems to be sufficient for v227 to build successfully.

[2015-11-17 17:59] mmelnyk commented on #953
Avocent KVM needs CONFIG_HIDRAW.
@dmeiser  - iDRAC sometimes needs usbcore.autosuspend=-1 as kernel option.

[2015-11-17 18:00] mischief commented on #953
@mmelnyk thanks! i'll enable it.

[2015-11-17 18:02] Krylon360 commented on #445
@crawford, I work with @jordannielsen and will be taking a look at Ignition. I just started working on our OpenStack with CoreOS+Kubernetes build-out with Jordan, so I'm heavily invested in this project.
Right now I'm getting the error Jordan posted above using the Stable PXE images.
I'll keep you posted.

[2015-11-17 18:09] #980 closed

[2015-11-17 18:28] #953 closed

[2015-11-17 19:04] marineam commented on #172
We should absolutely make that change.
On Nov 17, 2015 5:23 AM, "Vito Caputo" <notifications@github.com> wrote:

[2015-11-17 19:14] omkensey opened #987 "Vendor manifests for ignition should include interface naming info"
When vendors ship hardware manifests for consumption by Ignition, the info provided should include either Linux predictable interface names/biosdevnames, or information that would be necessary to derive those names in advance, to allow configuration that must be done using interface names rather than MAC addresses to be written in advance of first boot.

[2015-11-17 19:23] crawford commented on #987
I don't follow. What exactly are you requesting?

[2015-11-17 19:41] mischief commented on #953
@dmeiser this should be fixed in the next alpha - please reopen the issue if enabling the USB_HIDRAW driver doesn't solve it.

[2015-11-17 19:43] picardrulez commented on #916
I'm still having this issue with 835.4.0

[2015-11-17 19:44] mischief commented on #916
@picardrulez can you provide more information?

[2015-11-17 19:51] picardrulez commented on #916
@mischief this might be somewhat unrelated actually.  I've been having an issue with docker pull hanging once it pulls one of the last layers but it appears to only happen when I'm running it through fleet.

[2015-11-17 20:36] picardrulez commented on #916
@mischief switching to the alpha release channel appears to have fixed the issue.

[2015-11-17 22:55] #983 closed

[2015-11-17 23:34] crawford commented on #986
Fixed by https://github.com/coreos/ignition/pull/150 and https://github.com/coreos/ignition/pull/151.

[2015-11-17 23:34] #986 closed

[2015-11-17 23:35] crawford commented on #172
Fixed by https://github.com/coreos/systemd/pull/25.

[2015-11-17 23:35] #172 closed

[2015-11-18 00:01] crawford commented on #490
@boardyuk Have you seen these failures in the Alpha or Beta channels? We are shipping a newer version of Docker there (soon to make its way to Stable).

[2015-11-18 00:02] crawford commented on #338
Bump. Have you seen these failures in the Alpha or Beta channels? We are shipping a newer version of Docker there (soon to make its way to Stable).

[2015-11-18 00:02] crawford commented on #344
@porjo Bump. Have you seen these failures in the Alpha or Beta channels? We are shipping a newer version of Docker there (soon to make its way to Stable).

[2015-11-18 01:41] porjo commented on #344
Unfortunately I'm no longer using CoreOS, so I'm not able to comment on that.

[2015-11-18 21:12] jonboulle opened #988 "app-emulation/rkt: bump rkt to latest release"
As of time of writing, latest release is [0.11.0](https://github.com/coreos/rkt/releases/tag/v0.11.0)

[2015-11-18 22:06] crawford commented on #984
@mischief that's possible, but I think the etcd service should declare that dependency itself since it depends on the network.

[2015-11-18 22:59] marineam commented on #984
The network is dynamic, there isn't a "depend on the network". `network.target` means networkd has started but doesn't mean links are up. `network-online.target` means at least one link up and configured but may not mean it is the one that etcd may be configured to listen on.

Is etcd failing on `bind(2)` because it is listening on specific addresses rather than global? Maybe etcd should optionall

[2015-11-18 23:42] crawford commented on #984
Right, depending on `network.target` doesn't ensure the network is up (though, `network-online.target` doesn't really do that either), but it does ensure that the network is queued to be configured. I'm sure this isn't what @polarina had in mind (we'll need to use socket opts to fix the issues with etcd), but as a matter of correctness, I think etcd should depend on the network. The only case wher

[2015-11-19 00:36] marineam commented on #984
Ok, yeah. Adding a `Wants=network.target` is good for explicitness and may be important if trying to use etcd2.service in a minimal systemd based container. It just doesn't fix anything in a normal system which will always start networking :)

[2015-11-19 13:35] minurc opened #989 "overlayfs issues?"
Hi all,

I don't know whether this is overlayfs issue or not, but i did not experience this until now. Previous CoreOS installation had and still has btrfs rootfs and as docker backend.

Both issues I encountered so far are inside container:
1) tail -f does not work properly, meaning if watched file is updated there is no output on tail
2) deletion of file has strange behaviour. Namely:

[code]

[2015-11-19 16:34] spiffxp opened #990 "Excessive logging causes process to block"
We're using CoreOS as the host OS for our kubernetes cluster.  We're running into edge cases where the kubernetes scheduler process starts to log excessively, and then begins to periodically block. See kubernetes/kubernetes#14216.

While we're trying to make the process log less data, it doesn't seem like the volume of logging should cause it to block.

There is suspicion that `systemd-journald` i

[2015-11-19 16:42] spiffxp commented on #990
I left out that this is happening in AWS, using the CoreOS-alpha-845.0.0-hvm AMI, which comes with systemd 225

[2015-11-19 18:04] medlefsen opened #991 "Ignition v0.2.3 fails waiting for OEM device"
This commit:
https://github.com/coreos/ignition/commit/8142ce9f9795e37b2ffb422dfd1d365f1cab1109

causes ignition to fail waiting for the OEM device. The issue is that the unit name it produces starts with a dash (because it just replaces all slashes with dashes), but systemd device units shouldn't begin with a dash. So '/dev/disk/by-label/OEM'  is translated to '-dev-disk-by\x2dlabel-OEM.device',

[2015-11-19 18:53] mischief commented on #989
@minurc both of these are overlayfs issues.

overlayfs does not support inotify - that's why tail doesn't work.
  - https://github.com/docker/docker/issues/11705

and for supervisord, there's a strange hardlink/unix socket issue.
  - https://github.com/docker/docker/issues/12080

there's some other known issues with overlayfs, some info has been gathered at https://docs.google.com/document/d/1-OHP

[2015-11-19 19:26] mik373 opened #992 "Multiple network interfaces fail to initialize correctly in EC2."
Scenario:
- EC2 instance is launched as part of the autoscaling group
- Auto-scaling group lifecycle hook sends an SNS message which is listened to my a Lambda
- The lambda attaches a Network interface with a known private IP as eth1
- When the instance comes up about one out of three times I am not able to ssh into it using the public ip of the default eth0 ENI that was assigned to it by EC2
- Un

[2015-11-19 19:27] crawford commented on #989
@minurc depending on your provider, you can use Ignition to [reformat the root fs](https://coreos.com/ignition/docs/latest/examples.html#reformat-the-root-filesystem) or use a [btrfs volume file](https://coreos.com/os/docs/latest/mounting-storage.html#creating-and-mounting-a-btrfs-volume-file).

[2015-11-19 19:35] mischief commented on #451
@jalev @cnelson @enzor OpenSSH 7.1 will be available in the next alpha.

[2015-11-19 20:24] mischief commented on #426
@akashihi @TorsionalMetric @chriswayg is this still an issue for anyone? i can't seem to reproduce this on CoreOS alpha 845.0.0.

[2015-11-19 22:04] crawford commented on #991
Closed by https://github.com/coreos/ignition/pull/153. This will make its way into 835.6.0.

[2015-11-19 22:04] #991 closed

[2015-11-19 23:49] crawford commented on #982
@xrl closing due to inactivity. Feel free to re-open if you have further questions.

[2015-11-19 23:49] #982 closed

[2015-11-19 23:58] kristofferhagen commented on #338
I had a similar problem today trying to set up CoreOS stable (tried beta as well) in Vagrant. My issue was that the DOCKER-chain did not exist in the NAT-table. I was about to test in alpha as well, but ended up solving the issue by not adding the flannel service. I should mention that this happened 5/5 times when I was just doing `vagrant up` and resetting with `vagrant destroy`. `iptables-restor

[2015-11-20 00:07] mischief commented on #338
@eyakubovich any ideas on this one?

[2015-11-20 00:43] xrl commented on #982
Your advice worked, DHCP lease did appear to be the issue. This config now works:

[code]

[2015-11-20 06:18] crawford opened #993 "Should coreos-metadata use provider-specific names?"
coreos-metadata is the small utility that can read metadata from various providers and dump that information into `/run/metadata/coreos`. This data is then sourced into services (via EnvironmentFile) and the variables are used in the various Exec statements.

On Amazon EC2, there is a local and public IP address (exposed by coreos-metadata as `COREOS_IPV4_LOCAL` and `COREOS_IPV4_PUBLIC`). On Micro

[2015-11-20 07:21] crawford commented on #462
I just saw this again after letting Ignition reformat my root filesystem to btrfs.

[2015-11-20 07:40] akashihi commented on #426
TBH i stopped using CoreOS due to it's instability :) So this bug is no
more relevant for me.

2015-11-19 22:24 GMT+02:00 Nick Owens <notifications@github.com>:

[2015-11-20 10:33] Wintereise commented on #152
Just ran into this, device used to be part of a LVM volume group.

Will remove metadata manually and see if it works.

[2015-11-20 12:29] minurc commented on #989
@mischief i knew about a few issues which i found before asking for confirmation (inotify, fanotify, sockets), but not that much :) deletion was cup which made me think to abandon the road with CoreOS, but i like idea behind this concept very much so i try to survive until problem resolves

@crawford hmm... that's interesting, i'll try that. maybe there is a way to do it during installation. thank

[2015-11-20 14:40] dmeiser opened #994 "Ignition Fails to Create Groups"
Ignition 0.2.2 (CoreOS 835.4.0) fails to create new groups.  I've tested with and without a hash (md5).

Below is a snippet from a test with a password hash:

[code]

Running the command as it is presented above (/usr/sbin/groupadd --root /sysroot --gid 1001 --password ThisWasAValidHash mygroup) returns an error (1).  Running the command for no password (/usr/sbin/groupadd --root /sysroot --gid 10

[2015-11-20 15:11] dmeiser commented on #994
I confirmed this is also present in 0.2.3 (CoreOS 835.5.0)

[2015-11-20 15:45] spiffxp commented on #990
We're working around this by bypassing journald entirely, and logging directly to files instead

[2015-11-20 15:59] dmeiser commented on #994
This also appears to be the same for user creation.

[2015-11-20 18:44] robszumski commented on #993
The message of consistency is one that we keep coming back to. IMO it's important for at least the basic variables to work across providers. But I could see an additional set that are provider specific.

[2015-11-20 18:46] crawford commented on #993
@robszumski so you are in favor of something like this:

[code]

Where `COREOS_IPV4_LOCAL` and `COREOS_IPV4_PUBLIC` are always mapped to provider-specific names.

[2015-11-20 18:47] brianredbeard commented on #993
One thought is to "choose your level of indirection".  Obviously we will know the options provided by the cloud service.  I think it becomes a "no brainer" to provide the provider specific options under some type of prefix (e.g. if you're on Azure you get `AZURE_IPV4_DYNAMIC`, on Amazon you get `AWS_IPV4_PUBLIC`, etc).  Those strike me as being easy to do and allow the users who want to go "all in

[2015-11-20 18:52] crawford commented on #994
I'm having trouble reproducing this failure. I used the config:

[code]

... which ran properly.

[code]

Can you provide the config you are using?

[2015-11-20 19:11] dmeiser commented on #994
I created a gist, should I just send you an email?

Also, I should have said this:  I'm using specified uids/gids.  That might be the biggest difference.

[2015-11-20 19:30] utahcon opened #995 "coreos-setup-environment infinite loop when booting in Rackspace without ServiceNet"
Cloud Vendor: Rackspace Public Cloud

`/usr/share/oem/bin/coreos-setup-environment` (https://github.com/coreos/coreos-overlay/blob/master/coreos-base/oem-rackspace/files/coreos-setup-environment) creates an infinite loop when booting a Rackspace Public Cloud instance with ServiceNet disabled.

[code]

The loop is created when attempting to get the IP for eth1, but there is only a single interface

[2015-11-20 19:34] crawford commented on #994
Sure, you can email my github address or just post a link to the gist (you can trim out everything except the passwd.groups section).

[2015-11-20 19:40] marineam commented on #995
This script also fails to deal with instances with extra interfaces. Really it needs to go away and be replaced by a tool (or go library that cloudinit can use) that can read and parse rackspace's network configuration that is provided in xenstore.

[2015-11-20 19:51] shredder12 commented on #655
Hi. I am facing the same issue deploying core-os 766.5.0 on lvm created on a software raid device.
![screen shot 2015-11-20 at 11 46 22 am](https://cloud.githubusercontent.com/assets/490551/11310108/8e822e00-8f7c-11e5-907e-a94e0ee97753.png)

[2015-11-20 19:53] dmeiser commented on #994
Here you go: https://gist.githubusercontent.com/dmeiser/65bbcaa4915bef32f38c/raw/14a2402bf026a919a1e17fce33e6e7d46d2e048c/ignition.json

[2015-11-20 20:36] crawford commented on #994
[code]

Can you provide the logs (`journalctl -t ignition --no-pager`)?

[2015-11-20 21:58] eyakubovich commented on #338
If you run flannel, Docker ends up getting run with `--ip-masq=false` which should prevent it installing NAT table rules. This is because under CoreOS, flanneld is started with `--ip-masq=true` which causes it to take over installing (slightly different) masquerade rules. However, this should not affect filter table or DNAT rules under NAT table.

[2015-11-20 23:11] crawford commented on #344
OK, I think this has the same root cause as https://github.com/coreos/bugs/issues/469. I'm going to close this issue.

[2015-11-20 23:11] #344 closed

[2015-11-21 00:07] mik373 commented on #992
Update:

We managed to get ssh to the public IP of default eth0 working consistently by setting eth0's default gateway with a unit:

[code]

The only issue we have right now is that the datadog agent 2 out of 3 times can't talk out to the datadog service:

[code]

The datadog is started by this unit:
[code]

Interestingly enough every time the container get the IP of
[code]

the agent can't talk o

[2015-11-21 01:26] eyakubovich commented on #469
I think the reason this happens is b/c cloud-config gets run early and starts `container.service` before `iptables-restore.service` is scheduled to start. `container.service` has `After=docker.service` but not `Requires=docker.service` so it does not actually activate any of the dependencies.

[2015-11-21 11:49] chriswayg commented on #426
The unit file I used as a workaround was satisfactory. I didn't try it without the workaround in newer versions of CoreOS, so I cannot tell, if anything has changed.

this was needed previously:
[code]

[2015-11-21 12:22] snc commented on #422
Why was this issue closed? I just ran into the problem, looks like the mkfs fails because ROOT is mounted on /sysroot.

[2015-11-21 14:03] vtolstov opened #996 "add some stuff"
I'm use coreos-cloudinit in my own cloud and write some stuff like:
* resize root partition and fs (linux/freebsd)
* runcmd
* set hostname not only via hostnamectl
* lock/unlock user
* create user on freebsd/openbsd

Do you interesting in this features (i can create pr) or i need to maintain own fork for this stuff?

[2015-11-21 15:21] crawford commented on #422
It was closed because the dependency ordering was fixed. Can you open a new bug with the Ignition logs and the relevant parts of your config?

[2015-11-21 19:12] robszumski commented on #993
@crawford Yes, exactly.

@brianredbeard thats not a bad idea either. If that was optional, it would only increase the complexity for the people that need it, and we can keep the existing functionality for the base use-case.

[2015-11-21 20:20] dmeiser commented on #994
Alex,

I'll get this to you Monday, I was busy taking the LPIC-3 yesterday
afternoon.

On Fri, Nov 20, 2015 at 3:36 PM, Alex Crawford <notifications@github.com>
wrote:

[2015-11-21 20:39] mischief commented on #996
i'd be interested to see how you intend to make this work on OpenBSD, given that coreos-cloudinit is fairly linux-specific.

[2015-11-21 21:24] mjg59 commented on #416
I'm not inherently averse to this, but what kind of use case are you envisaging?

[2015-11-22 02:40] jumanjiman opened #997 "regression in coreos alpha 870.2.0"
## failure after automatic reboot

on an already-built host in AWS on coreos alpha and **btrfs root fs** that auto-updates to latest alpha, docker unit fails to start.

[code]

## coreos version

[code]

## workaround to start docker daemon

the default unit file specifies `/usr/lib/coreos/dockerd daemon`, which does not work for me with any args that i tried.

however, i can start docker if i cre

[2015-11-22 02:46] jumanjiman commented on #997
update: we have now seen this on bare metal hosts, too, as they update to this alpha version

[2015-11-22 03:35] mischief commented on #997
@jumanjiman thanks for filing the issue. it seems this is caused by the method chosen to selectively enable selinux in coreos/coreos-overlay#1639, which on btrfs will result in an empty but present `"${USE_SELINUX}"` variable in the docker daemon arguments.

[2015-11-22 03:47] jumanjiman commented on #997
@mischief thanks for the ack.

maybe an `unset` works there?

[2015-11-22 07:34] crawford commented on #993
So, at the very least we need provider-specific names. Since it's always easier to add stuff rather than remove stuff, let's just go with the provider-specific names for now:

[code]

[2015-11-23 07:49] vanthome opened #998 "CoreOS vs NIC Drivers (Mellanox Solarflare etc.)"
Hi,
I would like to give CoreOS a try but we  have a Mellanox infrastructure including the NICs. Now I read that it's kind of a deal to get this working as I need to compile stuff. I'm a Gentoo user myself so I don't have a problem with this but think it should be more easy for common setups.
Shouldn't common modules be just enabled in your Kernel?
If this is not the strategy, then I don't underst

[2015-11-23 11:47] porjo commented on #337
I'm not using CoreOS/Fleet any more so have no way to verify this issue. Closing.

[2015-11-23 11:47] #337 closed

[2015-11-23 16:29] dmeiser commented on #994
rdsosreport:  https://gist.github.com/dmeiser/14fbb7f17325007cd4d8
journalctl:  https://gist.github.com/dmeiser/273c57f70f084e4b1f22

These are from the same boot, so hopefully it gets you some better information.

[2015-11-23 17:12] ArKam opened #999 "ETCD2 is not using the $private_ipv4 and $public_ipv4 variables on vagrant setup"
Hi community, thanks to the amazing CoreOS IRC Channel, this is my second contribution on weird bug tracking!

I want to test some features of CoreOS using my own vagrant box, for future corporate demo, to do so, I use vagrant (obviously) but also packer and atlas.

Everything seems to be running smoothly, my builds are working, the vagrant box is starting correctly, I do obtain DHCP IPs and can l

[2015-11-23 17:37] spiffxp commented on #965
Running into this as well, see kubernetes/kubernetes#17525

[2015-11-23 18:08] wkruse commented on #356
I am experiencing pretty much the same issue as @treed on `Dell PowerEdge R630` with `PERC H730 Mini (Embedded) Integrated RAID Controller` with `RAID 0` (don't ask) and single `3,7 TB` disk. **No** `UEFI`. `PXE` boot and install to disk of `766.4.0` works without problems. Update to `766.5.0` (`update-engine` or manual) breaks it.

[code]
Booting `PXE` and repairing doesn't help. Current "workaro

[2015-11-23 18:27] mischief commented on #965
@rwky have you experienced this after your initial report?

[2015-11-23 19:04] crawford commented on #999
Can you provide the contents of `/etc/environment`? This is the file that coreos-cloudinit populates with the metadata it fetches.

[2015-11-23 19:17] mischief commented on #997
@jumanjiman 870.3.0 should be out today to address this issue. i will update this this issue when it goes out.

[2015-11-23 19:20] rwky commented on #965
@mischief yep at least once a week.

[2015-11-23 19:20] ArKam commented on #999
Unfortunatly I don't have any environment file created on /etc/ :-/

[2015-11-23 19:49] crawford commented on #999
Hmmm, on Vagrant, the "vagrant::guest::coreos::configure_networks" module should populate that file. If it doesn't exist, something very fundamental is going wrong.

What version of Vagrant are you using? Which version of coreos-vagrant have you cloned?

[2015-11-23 20:41] jumanjiman commented on #997
thanks for the heads-up.
i'll double-check on my end after the update and then report back here, as well.

[2015-11-23 22:06] mischief commented on #989
@minurc if you use ignition you could use docker with btrfs instead of overlay - or take @crawford's suggestion of a loopback mounted btrfs file - but btrfs has its own problems. if you run into another issue which is not known, please file another bug.

[2015-11-23 22:08] mischief commented on #970
@taxilian we will be updating to linux 4.3.0 in the next alpha. it's a long shot, but might be worth trying again.

[2015-11-23 22:10] crawford commented on #994
I was able to reproduce the failure using your config and a disk-less PXE image.

[2015-11-23 22:11] taxilian commented on #970
Understood.  Unfortunately the servers in question are all in production now, so I'm not going to be able to verify it for you; as an additional data point, I experienced an identical-looking issue on a supermicro barebones server that is a couple of years old which was using an after-market LSI PCI RAID card (I can't find the exact model); disabling virtualization did not help on that server, and

[2015-11-23 22:12] mischief commented on #970
please reopen the issue if you revisit this. for other issues, please file a new issue.

[2015-11-23 22:12] #970 closed

[2015-11-23 22:30] ArKam commented on #999
@crawford I use Vagrant 1.7.4 my CoreOS-Vagrant image is not cloned but build by myself using the generic CoreOS Stable iso as you can find out on the metadata.json file, I build my own vagrant box for complete platform tests.

[2015-11-23 23:27] mischief commented on #914
@bchanan03 any chance you can try this against the latest alpha?

[2015-11-23 23:31] crawford commented on #999
Can you try this against our coreos-vagrant repo?

[2015-11-23 23:31] mischief commented on #371
coredumpctl's information should be slightly more reasonable with coreos/systemd#25

[2015-11-24 00:40] crawford commented on #254
Closing due to inactivity.

[2015-11-24 00:41] ArKam commented on #999
Ok, so, using the coreos-vagrant repo is producing quite the same result as ETCD2 is running exclusively on 127.0.0.1 and not at all using the private_ip or even the public_ip.

For reproducible purposes: just add my linked user_data instead of the sample provided, ask for 1 instance, and change the virtualbox network config from the static ip to this:

config.vm.network :private_network, type: "d

[2015-11-24 00:48] mischief commented on #965
@rwky any tips on reproducing it? is it intermittent, or are you doing something to work around it?

[2015-11-24 01:31] #988 closed

[2015-11-24 01:31] crawford commented on #993
Fixed by https://github.com/coreos/coreos-metadata/pull/11.

[2015-11-24 01:35] crawford commented on #999
As we determined over IRC, setting the network to "dhcp" was the culprit. coreos-cloudinit depends on Vagrant providing these addresses which it cannot do if DHCP is used.

[2015-11-24 01:35] #999 closed

[2015-11-24 09:26] rwky commented on #965
I don't know how to predictably replicate it, however the server in question spawns and destroys (using the --rm flag) several docker containers every minute. I suspect that just running a CoreOS server that does that for a few days will trigger the hang.

The only way to resolve is to reboot the server (you could probably kill and restart docker but rebooting does the job).

[2015-11-24 11:24] seblez commented on #967
I have reinstalled the 3 machines from scratch with the lastest stable release.

It's now better :
[code]

[code]

I don't know why it didn't work before...

[2015-11-24 11:24] #967 closed

[2015-11-24 15:45] normelton opened #1000 "VMware fetches DHCP address, even when DHCP is disabled"
I'm configuring a vmware node, following https://coreos.com/os/docs/latest/booting-on-vmware.html. I've got the following parameters set:

[code]

The static IP is applied, but my node still fetches a DHCP address:

[code]

[2015-11-24 15:54] kayrus commented on #1000
It is default behavior. Please refer to this doc for details: https://coreos.com/os/docs/latest/network-config-with-networkd.html#networkd-and-dhcp-behavior

[2015-11-24 17:22] mischief commented on #997
@jumanjiman 870.3.0 is slowly going out. revert your docker.service changes once your system has updated, and let us know if your issue is solved.

[2015-11-24 17:52] crawford commented on #1000
First of all, congrats on filing the 1000th issue.

The DHCP address is still present because coreos-cloudinit runs too late in the boot process to configure networking. Once Ignition is supported in our VMware images, this problem will go away. Until then, you can use `ip addr del` to remove dynamic addresses.

[2015-11-24 17:53] jumanjiman commented on #997
fixed! :+1:

i tested on both AWS and bare metal.

[code]

after reboot:

[code]

[2015-11-24 17:53] #997 closed

[2015-11-24 17:55] mischief commented on #997
@jumanjiman glad to hear it. :whale:

[2015-11-24 18:17] jumanjiman commented on #997
thanks for the quick turnaround!

[2015-11-24 18:21] sepiroth887 commented on #571
btw, the binary from ubuntu:14.04 cifs-utils (mount.cifs) is compatible with coreOS. I started out using the mount.cifs_copy image but later just tried it and it works just fine.

Using it for really simple use cases so not sure whether all features have the required libraries.
Tested on 766.(3-5).0

[2015-11-24 18:32] mkuzmin commented on #359
`vmware_image.bin.bz2` artifact with included VMware customizations would be very helpful for deploying to vSphere.
Right now we have to upload OVF-file, and then customize it. Much more robust solution would be creating a new VM from scratch, customize all hardware settings, boot from ISO, and install CoreOS to disk. HashiCorp [Packer](https://packer.io/) automates this procedure.

Unfortunately,

[2015-11-24 19:37] jumanjiman commented on #997
@mischief

out of curiosity, why does 870.3.0 not show up yet at https://coreos.com/releases/ ?

[2015-11-24 19:38] mischief commented on #997
i'm updating the docs right now. :-)

[2015-11-24 19:57] normelton commented on #1000
Okay. I guess I just figured that by specifically configuring "dhcp = no", cloudinit would take care of it for me :). No problem, thanks.

[2015-11-24 19:57] #1000 closed

[2015-11-24 20:17] crawford commented on #998
What drivers do you need enabled? (`lspci -nn`)

[2015-11-24 20:22] crawford commented on #996
Are you using coreos-cloudinit outside of CoreOS Linux? Supporting other distros is outside of the scope of coreos-cloudinit, so we'd only be interested in features directly applicable to CoreOS.

CoreOS already does this.

This might be interesting.

CoreOS uses systemd, so any other method is not needed.

If it works, neat.

No thanks.

[2015-11-24 20:26] jumanjiman commented on #997
I spoke too soon on the fix.
docker starts, but selinux is enabled and causes problems on btrfs. I'm away from desk atm, but I can post a full response iab.

[2015-11-24 20:30] crawford commented on #990
Does the scheduler log directly into journald or is it using stdout/stderr?

[2015-11-24 21:03] mischief commented on #997
@jumanjiman i cannot reproduce. i provisioned a new 870.3.0 instance using ignition to format ROOT as btrfs. i'm able to start docker, and start a etcd container successfully.

[code]

have i missed something...?

[2015-11-24 21:37] crawford commented on #992
The most appropriate method for configuring those interfaces is to provide your own [.network configs](http://www.freedesktop.org/software/systemd/man/systemd.network.html). The "Match" section can be used to selectively apply configs to the various interfaces.

[2015-11-24 21:46] jumanjiman commented on #997
hmmm, i created a reproducer at https://github.com/jumanjiman/btrfs-selinux
but mine shows that docker runs with selinux enabled.

aside from the reproducer, here is more info on my canary host:

[code]

[code]

the real killer (note the `exec` near the end):

[code]

[2015-11-24 21:50] mischief commented on #997
@jumanjiman this (`exec docker daemon --selinux-enabled`) occurs because /var/lib/docker (or a parent) is ext4, not btrfs.

[2015-11-24 21:53] jonboulle opened #1001 "cpu stalls and systemd-journald coredumps"
Noticed on qemu-x86_64, CoreOS 845.0.0. As far as I'm aware the system was basically idling at the time this happened, and it's still up (8 days total)

[code]

[2015-11-24 21:54] jumanjiman commented on #997
ughhh somebody must have rebuilt this host without btrfs root.
gimme a moment to test elsewhere

[code]

[2015-11-24 21:56] jumanjiman commented on #997
yup, my other hosts all have btrfs root fs and do *not* have the `--selinux-enabled` flag.

/me hangs head in shame and wanders off to delete the reproducer repo

[2015-11-24 21:58] jumanjiman commented on #997
sorry for the noise

[2015-11-24 21:58] marineam commented on #997
No problem, glad this are working now! :-D

[2015-11-24 22:53] spiffxp commented on #990
stderr, via the default setting of `StandardError=journal`

[2015-11-24 23:33] #993 closed

[2015-11-24 23:39] crawford commented on #937
Looks like this was fixed in 1.9.0.

[2015-11-25 01:05] mischief commented on #1001
Have you been suspending the host system? Vito and i noticed oddities in
the vm when we suspended our gentoo hosts with a coreos vm in qemu running.
On Nov 24, 2015 1:54 PM, "Jonathan Boulle" <notifications@github.com> wrote:

[2015-11-25 01:50] jonboulle commented on #1001
Yep. Host is Fedora x86-64 (currently 4.2.5 kernel)

On Tue, Nov 24, 2015 at 5:05 PM, Nick Owens <notifications@github.com>
wrote:

[2015-11-25 05:30] vcaputo commented on #1001
https://github.com/systemd/systemd/pull/1783 is one I fixed which triggered via suspending the host for long periods, but the issues in this ticket look different, looks like the guest's kernel is getting balled up in rcu land over timekeeping

[2015-11-25 09:25] wgzhao commented on #152
I had this issue, too.
I use system rescuecd  liveOS booting,then ran core-install /dev/sda .but it give me
BLKRRPART: Device or resource busy
I comment out
`blockdev --rereadpt "${DEVICE}`

at about line 303

It's works.

[2015-11-25 11:27] vtolstov commented on #996
lock/unlock i'm create pr https://github.com/coreos/coreos-cloudinit/pull/407

[2015-11-25 11:27] vtolstov commented on #996
in case of runcmd - i'm run this stuff via cloudinit binary. Does it sutable for mainline or you prefer to run via creating systemd services ?

[2015-11-25 14:17] pwaller commented on #478
Can this be closed since https://github.com/coreos/init/pull/187 was merged? See also https://github.com/coreos/bugs/issues/47 and https://github.com/coreos/coreos-overlay/pull/1636.

[2015-11-25 14:26] vcaputo commented on #478
Sure can, thanks.

[2015-11-25 14:26] #478 closed

[2015-11-25 15:08] crawford commented on #996
It's preferable to create a transient service unit for each command.

[2015-11-25 15:16] vtolstov commented on #996
@crawford ok, i think about it.
Another question - why coreos-cloudinit not create lockfile by itself? For example for runcmd commands needs to be run on each invocation of cloudinit, but not only once.

[2015-11-25 22:21] crawford commented on #490
Closing due to inactivity. Please give 1.9.1 a shot and re-open if there are still issues.

[2015-11-25 22:21] #490 closed

[2015-11-25 22:23] crawford commented on #481
This should be fixed in newer versions of Docker. Please re-open if you are still having trouble.

[2015-11-25 22:23] #481 closed

[2015-11-25 22:26] crawford commented on #937
Fixed in 1.9.1.

[2015-11-25 22:26] #937 closed

[2015-11-25 22:40] crawford commented on #451
Rolled back to 6.9 due to OpenSSH disabling DSA keys by default.

[2015-11-26 00:13] crawford commented on #996
I don't follow. coreos-cloudinit runs on every boot on CoreOS and reevaluates the config every time. If we had support for `runcmd`, the commands would run every boot.

[2015-11-26 01:52] FirefighterBlu3 commented on #451
instead of rolling back to 6.9, why not enable DSA by default in the /etc/ssh/*config files with a simple patch

[2015-11-26 01:59] mischief commented on #451
@FirefighterBlu3 we do not control files in /etc except upon installation of coreos. if the user has broken the symlink in /etc to apply customizations, our changes to the read-only files in /usr would have no effect, resulting in the user locked out of their system.

[2015-11-26 06:24] vtolstov commented on #996
2015-11-26 3:13 GMT+03:00 Alex Crawford <notifications@github.com>:

But if user change their password on server - does coreos-cloudinit reset
it?

--
Vasiliy Tolstov,
e-mail: v.tolstov@selfip.ru

[2015-11-26 09:25] martingartonft commented on #490
Is there a preferred way to try 1.9.1 on coreos?  Alpha & beta still have 1.8.3 (which does have this issue)

[2015-11-26 13:09] pierreozoux commented on #965
I'm seeing the same problem now (I'm on IRC, and will post the content of IRC here), I'll have to reboot the server in 2 hours, if in the mean time, you want me to run commands, let me know!
(I run CoreOS stable)

[2015-11-26 15:11] genti-t commented on #853
I'm using locksmith 0.3.0. on stable channel coreos
my cloud-config part :
[code]

generate correctly .service file:
[code]

On the logs is steel tryng on local etcd...
[code]

But after a while it is able to lock on etcd:
[code]

and never get the Unlocking.

Did I missed something here, or just ver version is not the right one ?

[2015-11-26 17:56] f0 opened #1002 "coreos 835.7.0 machinectl login <container> closes connection to the coreos host"
hw1907 ~ # machinectl login graylog
Connected to machine graylog Press ^] three times within 1s to exit session.
Connection to hw1907 closed.
fk@linux-3zvu:~>

[code]

[2015-11-26 20:46] mischief commented on #490
@martingartonft 877.1.0 will be out shortly, which has docker 1.9.1.

[2015-11-26 21:17] FirefighterBlu3 commented on #451
are we going to stay at 6.9 forever or come up with a solution that allows an upgrade to 7+? I don't think DSA keys will ever be enabled by default in the future.

[2015-11-27 00:18] mischief commented on #451
@FirefighterBlu3 we will likely suggest folks move off dsa keys and give some lead time, and switch a while after the announcement. alternatively we may patch the source to re-enable dsa keys in 7.0+, and disable it at a later time after an announcement.

[2015-11-27 06:57] vanthome commented on #998
From the mellanox MLX4 drivers [1] these tow: mlx4_core, mlx4_en.

[1] http://www.mellanox.com/related-docs/prod_software/MLNX_EN_Linux_README.txt

[2015-11-27 09:33] martingartonft commented on #490
Thanks. We will give it a try as soon as we see it.

[2015-11-27 11:10] orbistertius opened #1003 "CoreOS 877.1.0 tcsd.service failed"
I'm running 877.1.0 PXE-booted:

[code]

This could be due wrong permissions in /etc/tcsd.conf :

[code]

[2015-11-27 20:17] mischief commented on #998
@vanthome both are enabled as modules in the CoreOS kernel.

[2015-11-27 20:29] vanthome commented on #998
Wow, ok, cool, then I will give it a try again. I tried some moth ago and back then it wasn't.

[2015-11-29 18:33] ArKam commented on #999
Ok, no problems, I found out that a Vagrant plugin "seems" to provide provisionning on CoreOS but indeed, this plugin is 2 yrs old and do not take in charge ETCD2 and try to launch ETCD1 so I drop it out at the same time that the DHCP idea ;-) thanks a lot for your time anyway.

[2015-11-30 15:46] binarybana commented on #254
It looks like this may be a kernel bug with [a patch](http://www.spinics.net/lists/netdev/msg351337.html) released upstream. Though I haven't tested it myself.

[2015-11-30 16:14] reiz opened #1004 "CoreOS is loosing SSH keys"
I'm setting up a 3 node CoreOS cluster via a heat.yaml at RackSpace. In the clound-config I'm using `ssh_authorized_keys` to add some more ssh keys to the nodes. That alls works fine and all my users can login to all nodes. Until the first reboot. After a node rebooted the SSH keys which have been added via cloud-config are lost.
Any ideas what's going on?
Currently running on `CoreOS beta (835.2.

[2015-11-30 16:25] stresler commented on #152
It seems like this issue is getting a bit muddied.  Unfortunately the BLKRRPART error can be caused by a variety of reasons and sometimes is legitimate reporting (device is actually busy).

I think for this issue to remain valid we need to create specific reproduction steps and treat each verified set of reproduction steps as a new issue. The issue we had has been resolved (see [this comment](http

[2015-11-30 16:50] crawford commented on #1004
Are the keys present in `~core/.ssh/authorized_keys.d`? Can you provide the logs for coreos-cloudinit (`journalctl _EXE=/usr/bin/coreos-cloudinit --no-pager`)?

[2015-11-30 18:43] normelton commented on #1000
If anyone stumbles on this down the road, CoreOS behaves as expected if you specify your interface name. That is, I had to add:

[code]

Now, there's no more DHCP address. Also, the specified static gets applied only to ens192, not to both ens192 and the loopback interface. This causes all sorts of problems. Don't do that.

Norman

[2015-11-30 18:54] #985 closed

[2015-11-30 18:54] crawford commented on #978
@aaronlevy what is the plan?

[2015-11-30 19:26] crawford commented on #996
No, it has some special cases and only applies certain changes once. After thinking this over more, I'd rather not introduce any more complexity to coreos-cloudinit. We are migrating to Ignition in the future and will eventually (fingers crossed) kill off coreos-cloudinit. Thanks anyway.

[2015-11-30 19:26] #996 closed

[2015-11-30 19:41] vcaputo commented on #990
There are some issues with the current journald implementation, bypassing journald by either pointing the output to /dev/null or to syslog are the best options for log configuration in the unit file with chatty services.

[2015-11-30 19:55] normelton opened #1005 "CoreOS-CloudInit + GuestInfo applies static IPs to loopback interface"
When configuring a CoreOS host with VMware guestinfo variables, I'm using 10.1.25.11 as my static IP address. I noticed that it gets assigned to both the primary interface (_ens192_) and the loopback interface (_lo_).

In addition, CoreOS continues to pull a DHCP address for _ens192_ (see #1000).

[code]

By having the the 10.1.0.0/16 subnet configured on both _lo_ and _ens192_, it seems that Core

[2015-11-30 20:26] vtolstov commented on #996
2015-11-30 22:26 GMT+03:00 Alex Crawford <notifications@github.com>:

Ok.

--
Vasiliy Tolstov,
e-mail: v.tolstov@selfip.ru

[2015-11-30 22:01] crawford commented on #1005
It is also possible to use `guestinfo.interface.0.mac` to restrict to which interfaces the configuration applies. I guess you could ensure that at least one of the specifiers is used. The API maps relatively closely to the options exposed by networkd (where it is valid for a config to apply to every interface), which is why a matching specifier isn't required (more of an excuse than a reason). I u

[2015-11-30 22:35] countspongebob commented on #990
@vcaputo "There are some issues with the current journald implementation"... could you elaborate?

[2015-11-30 23:14] vcaputo commented on #990
systemd-journald is currently implemented as a simple single-process event loop, performing the journal writes via mmap().  By using mmap an quasi-asynchronous write cache is attained with a minimum of implementation complexity.  A problem with this approach, however, is that the journald process will block spuriously if the the mapped file accesses start blocking on page IO, becoming effectively

[2015-11-30 23:23] crawford commented on #990
@spiffxp can you give me more specific numbers around the logging rate and machine? (e.g. log lines per minute, disk IOPS)

[2015-11-30 23:50] crawford commented on #1002
Thanks for the report. `machinectl login` is a fairly new mechanism that we really haven't had time to look at. Your best bet right now is to use a different mechanism, like `nsenter.

[2015-11-30 23:51] mjg59 commented on #1003
https://github.com/coreos/coreos-overlay/pull/1670

[2015-11-30 23:54] crawford commented on #853
@genti-t this issue was fixed in [0.3.1](https://github.com/coreos/locksmith/blob/master/CHANGELOG.md#v031). It should end up in Stable in a couple days.

[2015-12-01 00:42] crawford commented on #998
@vanthome I'm going to close this issue. If you still have trouble, go ahead and re-open it.

[2015-12-01 00:42] #998 closed

[2015-12-01 06:27] f0 commented on #1002
@crawford  i think you mix up machinectl login and machinectl **shell**
machinectl ligin works well in previous versions

[2015-12-01 13:02] larstobi commented on #287
:+1:

[2015-12-01 13:05] normelton commented on #1005
Well applying the IP to every interface (the default behavior) causes some serious heartburn since there is routing going on between the interfaces. Once your "outside" subnet exists on the loopback interface, the OS starts proxy-arp'ing for everything else on the subnet, gobbling up other servers.

Obviously, folks should test all of this before deploying in a production datacenter, but I'm think

[2015-12-01 13:12] terbolous commented on #287
:+1:

[2015-12-01 17:38] crawford commented on #1002
@f0 yeah, you're right. Can you tell me how you are starting the graylog container?

[2015-12-01 18:01] f0 commented on #1002
hw1907 ~ # systemctl status -ll  systemd-nspawn@graylog.example.net
● systemd-nspawn@graylog.mgmt.dvag.net.service - Container graylog.example.net
   Loaded: loaded (/etc/systemd/system/systemd-nspawn@.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/systemd-nspawn@graylog.example.net.service.d
           └─50-CPUQuota.conf, 50-MemoryLimit.conf
   Active: active (running)

[2015-12-01 18:19] jonboulle commented on #1002
Is this distinct from #863?

[2015-12-01 19:29] spiffxp commented on #990
@crawford Unfortunately I can't give you hard numbers on log lines per minute, we're looking to instrument kubernetes' logging to better understand that behavior.  In the meantime I would suggest maybe writing a dummy program that spews data to stderr?  I couldn't make it happen within a bash loop, so something less interpreted may be necessary.

As far as disk IOPS goes, we saw this on AWS instan

[2015-12-01 19:42] f0 commented on #1002
@crawford  hm at the moment if i try this again i am not able to reproduce the problem, in the meantime the ost was restarted.

[2015-12-01 20:35] crawford opened #1006 "Enable CONFIG_SATA_SVW"

[2015-12-01 20:47] crawford commented on #1002
I was able to reproduce this by:

 1. open two SSH connections to a machine
 2. in the first, run `sudo systemd-nspawn --image coreos_developer_container.bin`
 3. in the second, run `sudo machinectl login coreos_developer_container.bin`.

The first connection is terminated and the `machinectl login` says that it is connected. I have to `^]` three times to exit the session.

[2015-12-01 20:52] crawford commented on #1002
If I use `sudo systemd-run systemd-nspawn --image ~core/coreos_developer_container.bin --boot` instead in step 2, the behavior is the same.

If I close the SSH connection after running the modified step 2, `machinectl login` fails with:

[code]

[2015-12-01 21:42] crawford commented on #1002
After backporting https://github.com/systemd/systemd/commit/5f430ff76e8e5f7ca5b7ef67dd3b205487a0f41b, I am no longer able to reproduce this failure. I'm still not able to `machinectl login` to the container though (I have not actually seen this work yet).

[2015-12-01 22:02] crawford commented on #1002
I was able to make this work in 766.5.0 with the toolbox container. It looks like https://github.com/systemd/systemd/commit/5f430ff76e8e5f7ca5b7ef67dd3b205487a0f41b alone is not sufficient.

[2015-12-01 22:38] mischief commented on #451
fixed in coreos/coreos-overlay#1672.

[2015-12-01 22:38] #451 closed

[2015-12-01 23:14] #1006 closed

[2015-12-01 23:17] mischief commented on #935
@polarina is using a container sufficient for you?

[2015-12-01 23:23] mischief commented on #914
@bchanan03 closing due to inactivity. please try a newer alpha, and if you continue to have trouble, reopen this issue.

[2015-12-01 23:23] #914 closed

[2015-12-01 23:30] crawford commented on #992
@mik373 Were you able to get this working with the networkd configs?

[2015-12-01 23:31] polarina commented on #935
Running hdparm within a container would work for me. I would much prefer the binary to be distributed with CoreOS though.

It would complicate my setup slightly as I would now need to start up docker and have the hdparm container finish executing before starting up subsequent containers that depends on the mount-point backed by these disks being available.

[2015-12-01 23:33] crawford commented on #338
Closing due to inactivity. Please re-open if this is still a problem.

[2015-12-01 23:36] crawford commented on #935
@polarina this is where systemd-nspawn or rkt are going to be much more useful. Because of their process model, you can just run hdparm inside of the container and wait for the exit; just like a standard process.